@import '/src/styles/variables.scss';

.product-confirmation {
    background-color: #fff;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 32px;
    margin-bottom: 32px;
}

.confirmation {
    &-dropdown {
        margin-bottom: 32px;
        
        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            .arrow-up {
                cursor: pointer;
                width: 24px;
                height: 24px;
                transform: rotate(180deg);
            }

            .arrow-down {
                cursor: pointer;
                width: 24px;
                height: 24px;
            }
        }

        &__content {
            margin-top: 16px;
            &-secondary {
              max-width: 420px;
            }
            &-text {
                display: flex;
                p {
                    font-weight: $font-weight-medium;
                    font-size: $font-size-medium;
                    line-height: 130%;
                    letter-spacing: 0.02em;
                }
                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }
    
            &-main {
                min-width: 196px;
                margin-right: 32px;
                p {
                    color: $color-gray-light-dark;
                }
            }
        }

        &__title {
            font-weight: $font-weight-bold;
            font-size: $font-size-medium;
            line-height: 130%;
            letter-spacing: 0.02em;
        }
    }
    &-edit {
        color: $color-green;
        text-align: center;
        font-weight: $font-weight-bold;
        font-size: $font-size-small;
        line-height: 130%;
        letter-spacing: 0.02em;
        cursor: pointer;
    }
}

.title {
    font-size: $font-size-medium-large;
    font-weight: $font-weight-extra-bold;
    letter-spacing: 0.01em;
}

.mb-32 {
    margin-bottom: 32px;
}

.come-back {
    padding-left: 0;
	display: flex;
	align-items: center;
	cursor: pointer;
    margin-bottom: 32px;
	&__secondary {
		color: $color-gray-middle;
		font-size: $font-size-small;
		margin-left: 10px;
	}
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 84px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px -1px 0px #ebebeb;
    margin-top: -114px;
    padding: 0 25px;
    z-index: 4;
}
.footer-container {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    gap: 64px;
    margin: 0 auto;
    align-items: center;
    padding-top: 16px;
}
  
.footer-container-text {
    display: flex;
    flex-direction: column;
  
    &__commission {
      padding-bottom: 4px;
      font-size: $font-size-small;
      font-weight: 500;
      letter-spacing: 2%;
      line-height: 18.2px;
      
      &-gray {
        color: $color-gray-light-dark;
      }
    }
    &__sum {
      font-size: $font-size-medium;
      font-weight: 700;
      letter-spacing: 2%;
      line-height: 20.8px;
    }
}
.btns {
    width: auto;
    padding: 14px 24px;
    font-weight: 700;
    font-size: $font-size-small;
}
.footer-container-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    &__save {
      border: 1px solid #e8ebeb;
      background-color: #fff;
      color: #acbbbe;
    }
  
    &__sign {
      background: #e8ebeb;
      color: #acbbbe;
    }
  
    &__sign-active {
      background-color: #11bb91;
      color: #fff;
      display: flex;
      :first-child {
        margin-right: 0.5rem;
      }
    }
  
    &__save-active {
      margin-right: 24px;
      background-color: #fff;
      color: #11bb91;
      display: flex;
      :first-child {
        margin-right: 0.5rem;
      }
    }
  
    .loader {
      border: 1px solid #f3f3f3;
      border-radius: 50%;
      border-top: 1px solid $color-gray-middle;
      width: 20px;
      height: 20px;
      -webkit-animation: spin 1s linear infinite; /* Safari */
      animation: spin 1s linear infinite;
    }
}

  
  
@media screen and (max-width: 1600px) {
    .footer-container {
      max-width: 1120px;
    }
}
  
@media screen and (max-width: 870px) {
    .footer {
      height: 150px;
    }
  
    .footer-container {
      flex-direction: column;
    }
}