<div class="discharge-filter">
  <div class="discharge-filter-block">
    <div class="discharge-filter-top">
      <div class="discharge-filter-top-left">
        <div style="position: relative">
          <input
            type="text"
            placeholder="{{ 'currencyControl.contracts.search' | translate }}"
            class="form-control discharge-input search"
            autocomplete="off"
            [formControl]="searchString"
            id="searchString"
            (input)="getCurrencyContractList()" />
          <span class="icon-search">
            <img src="./assets/icons/ic_search.svg" alt="" />
          </span>
        </div>
        <!-- <div class="discharge-filter-period">
              <div style="position: relative">
                <input
                  type="text"
                  class="form-control calendar_input"
                  bsDatepicker
                  placement="bottom"
                  [ngClass]="{'invalid-period': periodError}"
                  [bsConfig]="{
                    maxDate: maxDate,
                    customTodayClass: 'custom-today-class',
                    isAnimated: true,
                    dateInputFormat: 'DD.MM.YYYY',
                    startView: 'day',
                    minMode: 'day',
                    adaptivePosition: true,
                    containerClass: 'calendar',
                    showWeekNumbers: false
                  }"
                  placeholder="{{'default.calendar-date' | translate}}"
                  [(ngModel)]="startDate"
                  (ngModelChange)="changeDate($event, 'startDate')"
                  #dp1="bsDatepicker"
                />
                <span class="icon-calendar" (click)="dp1.toggle()">
                  <img src="./assets/icons/ic_calendar2.svg" alt="" />
                </span>
              </div>
              <div style="position: relative">
                <input
                  type="text"
                  class="form-control calendar_input"
                  bsDatepicker
                  placement="bottom"
                  [ngClass]="{'invalid-period': periodError}"
                  [bsConfig]="{
                    customTodayClass: 'custom-today-class',
                    maxDate: maxDate,
                    isAnimated: true,
                    dateInputFormat: 'DD.MM.YYYY',
                    startView: 'day',
                    minMode: 'day',
                    adaptivePosition: true,
                    containerClass: 'calendar',
                    showWeekNumbers: false
                  }"
                  [(ngModel)]="endDate"
                  placeholder="{{'default.calendar-date' | translate}}"
                  (ngModelChange)="changeDate($event, 'endDate')"
                  #dp2="bsDatepicker"
                />
                <span class="icon-calendar" (click)="dp2.toggle()">
                  <img src="./assets/icons/ic_calendar2.svg" alt="" />
                </span>
              </div>
            </div> -->
      </div>
      <!-- <div class="discharge-filter-top-right">
            <div
              *ngIf="!showAllFilters"
              class="d-flex top-reset"
              (click)="resetFilter()"
            >
              <p class="all-filters__title">
                {{ 'default.reset' | translate }}
              </p>
            </div>
            <div class="d-flex" (click)="showAllFilters = !showAllFilters">
              <p class="all-filters__title">
                {{
                  (!showAllFilters ? 'default.allFilters' : 'default.hide')
                    | translate
                }}
              </p>
              <span
                [ngClass]="
                  !showAllFilters
                    ? 'all-filters__icon-top'
                    : 'all-filters__icon-bottom'
                "
              >
                <img
                  src="./assets/icons/PaginationGreen.svg"
                  alt="open-close-arrow"
                />
              </span>
            </div>
          </div> -->
    </div>
    <!-- <div
          *ngIf="!showAllFilters"
          class="d-flex bottom-reset"
          (click)="resetFilter()"
        >
          <p class="all-filters__title">
            {{ 'default.reset' | translate }}
          </p>
        </div>
        <div *ngIf="showAllFilters" class="discharge-filter-bottom">
          <div class="all-filters">
            <ng-select
              [(ngModel)]="operationType"
              class="discharge-input"
              [searchable]="false"
              [clearable]="false"
              placeholder="{{'default.all' | translate}}"
              (ngModelChange)="onOpTypeChange($event)"
            >
              <ng-option *ngFor="let tab of operationTabs" [value]="tab">
                <div>
                  {{ tab.name | translate }}
                </div>
              </ng-option>
            </ng-select>
          </div>
          <div class="flex align-itmes-center h-18">
            <ob-button
              [label]="'default.reset' | translate"
              [className]="'btn-secondary label-bold br-12 h-18 w-100'"
              [onClick]="resetFilter"
            ></ob-button>
          </div>
        </div> -->
  </div>
</div>

<div [ngClass]="{ 'table-wrapper': loading }">
  <ob-loader [loading]="loading">
    <!-- Список документов -->
    <div class="history">
      <!-- Список документов -->
      <div class="history" *ngIf="rows.length > 0">
        <!-- Таблица -->
        <ob-contact-list-table
          [rowData]="rows"
          [getDocumentsList]="getOperationsList"
          [type]="'contract-list'"
          [isResetFilter$]="
            resetFilterSubject.asObservable()
          "></ob-contact-list-table>
        <!-- Таблица -->

        <!-- Пагинация -->
        <div class="discharge-pagination" *ngIf="totalElements > 10">
          <pagination
            [totalItems]="totalElements"
            [ngModel]="currentPage"
            [maxSize]="maxSize"
            [directionLinks]="false"
            (pageChanged)="changePage($event)"
            [rotate]="true"
            [boundaryLinks]="true"
            firstText="{{ isFirst ? ' ' : '&laquo;' }}"
            lastText="{{ isLast ? ' ' : '&raquo;' }}"></pagination>
        </div>
        <!-- Список документов -->
      </div>
    </div>
    <!-- Ошибка -->
    <ng-template [ngIf]="error">
      <div class="alert alert-danger mt-24" role="alert">
        {{ error }}
      </div>
    </ng-template>
    <!-- Ошибка -->
    <!-- нет данных -->
    <ng-template [ngIf]="nodata">
      <div class="nodata">
        <img src="assets/icons/empty_list.svg" class="nodata_img" />
        <p class="nodata_text">
          {{ 'default.nodata' | translate }}
        </p>
      </div>
    </ng-template>
    <!-- нет данных -->
  </ob-loader>
</div>
