@import '/src/styles/variables.scss';

.come-back {
	margin-bottom: 35px;
	display: flex;
	align-items: center;
	cursor: pointer;
    
	&__secondary {
		color: $color-gray-middle;
		font-size: $font-size-small;
		margin-left: 10px;
	}
}

.transfer {
	background-color: #fff;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 32px;
	margin-bottom: 32px;

	&__right-heading {
		font-size: $font-size-medium;
		font-weight: 700;
		line-height: 18.2px;
		letter-spacing: 0.02em;
		color: $color-black;
		margin-bottom: 24px;
	}
}

.information {
	margin-bottom: 32px;
	.information-content {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
	  &__title {
		font-size: $font-size-small;
		font-weight: 700;
		line-height: 18.2px;
		letter-spacing: 0.02em;
		color: $color-green;
	  }
	}
}