<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Warning Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="ie_warning">
      <div class="ie-content">
        <img
          src="./assets/icons/not_compatible_browser.svg"
          class="ie-not_compatible_img m_hor_auto" />
        <p
          class="ie-not_compatible_text1 m_hor_auto ie-bilanguage"
          data-ru="Ваш браузер не поддерживается"
          data-en="Your browser is not supported"
          data-kz="Сіздің браузеріңіз жарамсыз"></p>
        <p
          class="ie-not_compatible_text2 m_hor_auto ie-bilanguage"
          data-ru="Зайдите с другого браузера."
          data-en="Log in from another browser."
          data-kz="Басқа браузермен кіріңіз."></p>
        <div style="display: inline-flex; align-items: center; gap: 4px">
          <p
            class="ie-not_compatible_text2 m_hor_auto ie-bilanguage"
            data-ru="Например"
            data-en="For example"
            data-kz="Мысалы"></p>
          <span class="ie-not_compatible_text3">Chrome</span>,
          <span class="ie-not_compatible_text3">Firefox</span>,
          <span class="ie-not_compatible_text3">Edge</span>,
          <span class="ie-not_compatible_text3">Opera</span>
          <p
            class="ie-not_compatible_text2 m_hor_auto ie-bilanguage"
            data-ru="или"
            data-en="or"
            data-kz="немесе"
            style="margin-left: 4px"></p>
          <span class="ie-not_compatible_text3">Safari</span>
        </div>
      </div>
      <div class="ie-footer">
        <p>© 2022 HALYK BANK</p>
        <p
          class="ie-bilanguage"
          data-ru="Лицензия на проведение банковских и иных операций и деятельности на рынке ценных бумаг №1.2.47/230/38/1 от 3 февраля 2020 года"
          data-en="License to conduct banking and other operations and activities on the securities market No.1.2.47/230/38/1 from February 3 , 2020"
          data-kz="2020 жылғы 3 ақпандағы №1.2.47/230/38/1 Банктік және өзге де операцияларды және бағалы қағаздар нарығындағы қызметті жүргізуге арналған лицензия"></p>
      </div>
    </div>
  </body>
</html>
