@import '/src/styles/main';

.cbc-container-ul {
  padding: 12px 0;
  border-bottom: 1px solid #d0d6d8;
  &__name {
    color: #2a353d;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
  }

  &__info {
    font-size: 14px;
    font-weight: 500;
    color: #88999c;
    line-height: 130%;
    margin-top: 8px;
    letter-spacing: 0.02em;
    max-width: 664px;
    white-space: normal;

    p:first-child {
      margin-bottom: 4px;
    }
    &-left {
      width: 35px;
      min-width: 35px;
      display: inline-block;
    }
  }
}