<div class="cbc-container-ul">
  <div>
    <p class="cbc-container-ul__name">
      <span>{{ 'operations.default.knp' | translate }}: </span> {{ knp }},
      <ng-template [ngIf]="cbc">
        <span>{{ 'operations.default.cbc' | translate }}: </span> {{ cbc }}
      </ng-template>
    </p>
  </div>
  <ng-template [ngIf]="cbcName">
    <div class="cbc-container-ul__info">
      <p>
        <span class="cbc-container-ul__info-left"
          >{{ 'operations.default.knp' | translate }}:</span
        >
        {{ knpName }}
      </p>
      <p></p>
      <p>
        <span class="cbc-container-ul__info-left"
          >{{ 'operations.default.cbc' | translate }}:</span
        >
        {{ cbcName }}
      </p>
    </div>
  </ng-template>
</div>
