@import "/src/styles/variables.scss";


.tariffs-conditions {
    &-info {
        margin-bottom: 40px;

        & > img {
            margin-bottom: 16px;
        }

        & > p {
            color: $color-black;
            font-weight: 600;
            font-size: $font-size-medium;
        }
    }
}