<div class="tariffs-conditions">
  <div class="tariffs-conditions-info">
    <img src="assets/icons/tariffs_account.svg" alt="account-icon" />
    <p>{{ 'tariffs.maxSum' | translate }}</p>
  </div>

  <div class="tariffs-conditions-info">
    <img src="assets/icons/tariffs_operation.svg" alt="account-icon" />
    <p>{{ 'tariffs.comission' | translate }}</p>
  </div>

  <div class="tariffs-conditions-info">
    <img src="assets/icons/tariffs_wallet.svg" alt="account-icon" />
    <p>{{ 'tariffs.denomination' | translate }}</p>
  </div>
</div>
