<div class="card {{ className }}" [ngStyle]="setCardStyle()">
  <div
    class="card-img"
    *ngIf="className.includes('img-top')"
    [ngStyle]="{ 'background-color': cardContent.backgroundColor }">
    <img
      *ngIf="cardContent.image"
      src="./assets/icons/{{ cardContent.image }}.png" />
  </div>
  <div class="card-description">
    <div>
      <p
        class="card__title medium mb-8"
        [ngClass]="{ 'mt-16': className.includes('img-top') }">
        {{ cardContent.title | translate }}
        <ng-template [ngIf]="disabled">
          <ob-badge
            [type]="'soon'"
            id="hidden-payment-product"
            [className]="'hidden-payment-product'"></ob-badge>
        </ng-template>
      </p>

      <p class="card-description__text" *ngIf="cardContent.description.text">
        {{ cardContent.description.text | translate }}
      </p>
      <ng-template [ngIf]="cardContent.description.list">
        <ul class="card-description__list">
          <li *ngFor="let item of cardContent.description.list">
            {{ item | translate }}
          </li>
        </ul>
      </ng-template>
    </div>

    <button
      *ngIf="cardContent.btnText"
      [disabled]="disabled && isProduction"
      class="card-description__button"
      [ngClass]="{
        'opacity-50': disabled && isProduction,
        '': !disabled && isProduction
      }"
      (click)="cardContent.url ? navigateTo(cardContent.url) : null">
      {{ cardContent.btnText | translate }}
    </button>
    <ng-template [ngIf]="className.includes('app-download')">
      <div class="download">
        <div class="download__item">
          <a
            href="https://apps.apple.com/kz/app/onlinebank-%D0%B4%D0%BB%D1%8F-%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81%D0%B0/id1498936615"
            target="_blank"
            ><img src="./assets/icons/app_store.png" alt="app-store"
          /></a>
        </div>
        <div class="download__item">
          <a
            href="https://play.google.com/store/apps/details?id=kz.halyk.onlinebank"
            target="_blank"
            ><img src="./assets/icons/google_play.png" alt="app-store"
          /></a>
        </div>
      </div>
    </ng-template>
  </div>
</div>
