@import "/src/styles/variables.scss";

.card {
  height: 100%;
  border-radius: 12px;
  background-color: #fff;
  border: none;

  &-img {
    height: 188px;
    background: #D3EBF9;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 236px;
    }
    &-h {
      &-188 {
        .card-img {
          height: 188px;
        }
      }
      &-164 {
        .card-img {
          height: 164px;
        }
      }
      &-220 {
        .card-img {
          height: 220px;
        }
      }
    }
  }

  &-description {
    padding: 0 24px 24px;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-start;

    &__text {
      line-height: 150%;
      letter-spacing: 0.02em;
      color: $color-gray-darker;
    }

    &__list {
      margin-left: 24px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: $color-gray-darker;
      font-weight: $font-weight-medium;
    }

    &__button {
      margin-top: 24px;
      font-weight: $font-weight-bold;
      font-size: $font-size-small;
      line-height: 130%;
      background: #E0F9EB;
      color: $color-green;
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 11px 24px;
      border-radius: 12px;
    }
  }

  &__title {
    font-weight: $font-weight-bold;
    color: $color-light-black;
    &.medium {
      font-size: $font-size-medium;
    }
  }
}

::ng-deep #hidden-payment-product{
  position: absolute;
  .hidden-payment-product{
    padding-left: 5px;
  }
  span{
    background-color: #FBB100 !important;
    border-radius: 16px;
    padding: 3.675px 6.825px;
    font-size: 11px;
    letter-spacing: 0.28px;
    color: white;
    z-index: 1;
    font-weight: 700;
  }
}

.mt-16 {
  margin-top: 16px;
}
.mb-8 {
  margin-bottom: 8px;
}

.h {
  &-254 {
    height: 254px;
    max-height: 254px;
  }
  &-274 {
    height: 274px;
    max-height: 274px;
  }
  &-296 {
    height: 296px;
    max-height: 296px;
  }
}

.img-padding {
  .card-img {
    background: #fff;
  }
  .card-img img{
    width: 100%;
    padding: 32px 24px 5px;
    background-color: #fff;
    border-radius: 12px;
  }
}

.bg-img {
  background-repeat: no-repeat;
  background-position-x: 150%;
  background-position-y: bottom;
  background-size: 220px;

  .card-description {
    padding: 24px;
    width: 80%;
  }
}
.bg-size {
  &-200 {
    background-size: 200px auto;
    background-position-x: 130%;
  }
}

.banner {
  &.card {
    .card-description {
      padding: 32px;
      width: 64%;
    }
    .card__title {
      font-weight: $font-weight-extra-bold !important;  
      margin-bottom: 16px !important;
      &.medium {
        font-size: $font-size-medium-large !important;
      }
    }
  }
  &.bg-img {
    background-position-y: 40%;
    background-size: 320px;
    background-position-x: 109%;
    &-bottom {
      background-position-y: 140%;
      background-position-x: 100%
    }
  }
}

.btn-white {
  .card-description__button {
    background-color: #fff;
  }
}

.text{
  &-dark {
    .card-description{
      &__list, &__text {
        color: $color-light-black !important;
      }
    }
  }
  &-white {
    p {
      color: #fff;
    }
    .card-description{
      &__list, &__text {
        color: #fff !important;
      }
    }
  }
}

.download {
  display: flex;
  gap: 16px;

  &__item img {
    cursor: pointer;
    width: 130px;
  }
}

.img-size {
  &-200 {
    .card-img img {
      width: 200px;
    }
  }
}

@media (min-width: 1600px){
  .bg-img {
    background-position-x: 100%;
    .card-description {
      width: 60%;
    }
  }
  .lbdt-img {
    &.banner {
      &.bg-img {
        background-position-x: 94%;
      }
    }
    &-large {
      &.banner {
        &.bg-img {
          background-size: 380px;
          background-position-y: 60%;
        }
      }
      &.bg-size-200 {
        background-size: 240px;
        background-position-x: 110%;
      }
    }
  }
}
