@import '/src/styles/variables.scss';

.users-list {
	&-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px 0;
		box-shadow: inset 0px -1px 0px #ebebeb;

		&__left {
			display: flex;
			align-items: center;

			& > img {
				margin-right: 20px;
				cursor: pointer;
			}
		}

		&__info {
			margin-right: 40px;
		}
	}

	&-text {
		&__main {
			color: $color-black;
			letter-spacing: 0.02em;
			margin-right: 16px;
		}

		&__secondary {
			color: $color-gray-middle;
			width: 100%;
		}

		&__gray {
			color: $color-gray-light-dark;
			letter-spacing: 0.01em;
		}

		&__light-black {
			color: $color-light-black;
			letter-spacing: 0.01em;
			margin-right: 16px;
		}
	}
  &-pagination {
		margin-top: 24px;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&__left {
			margin: 0 auto;
		}
		
		&__select {
			width: 100px;
			&::ng-deep ng-select {
				border: none !important;
				.ng-value{
				  p {
					font-weight: $font-weight-medium !important;
					font-size: $font-size-small !important;
				  }
				}
				.ng-arrow-wrapper {
				  background-image: url('../../../../../assets/icons/down_arrow.svg');
				  background-repeat: no-repeat;
				  background-position: center;
				  margin-top: auto;
				  margin-bottom: auto;
				  .ng-arrow {
					  border: none;
				  }
				}
				.ng-select-container {
					padding-right: 0;
				}
			}
			&::ng-deep .ng-select-opened {
				.ng-arrow-wrapper {
				  background-image: url('../../../../../assets/icons/down_arrow.svg');
				  background-repeat: no-repeat;
				  background-position: center;
				  transform: rotate(180deg);
				  margin-top: auto;
				  margin-bottom: auto;
				}
				.ng-option{
				  &.ng-option-selected {
					background: url('../../../../../assets/icons/ic_tick_small.svg');
					background-repeat: no-repeat;
					background-position: right;
					background-position-x: 64px;
					background-size: 18px;
					background-position-y: 9px;
					p {
					  font-weight: $font-weight-medium;
					}
				  } 
				}
			}
			::ng-deep .ng-select {
				.ng-dropdown-panel {
					width: 100px !important;
					
					.scroll-host {
						border-radius: 8px !important;
					}
					
					.ng-option {
						padding: 10px 16px;
						border-bottom: none;
					}
			
					.ng-option:first-child {
						padding-top: 18px;
						&.ng-option-selected {
							background-position-y: 17px;
						} 
					}
			
					.ng-option:last-child {
						padding-bottom: 18px;
					}
			
					&.ng-select-bottom {
						top: 40px;
					}
				}
				.ng-select-container:hover {
					box-shadow: none;
					cursor: pointer;
				}
			}
		}
	}
}

.discharge-input {
	height: 40px !important;
	font-weight: $font-weight-medium;

	&:nth-child(1) {
		width: 192px;
		margin-right: 16px;
	}

	&:nth-child(2) {
		width: 204px;
	}

	&:nth-child(3) {
		width: 244px;
		margin-right: 16px;
	}
}

.table > :not(:first-child) {
    border-top: 1px solid $color-gray;
}

.table {
	margin-bottom: 0 !important;
}

.table > :not(caption) > * > * {
    padding: 12px 0;
}

.table tbody > tr:last-child {
	border-bottom: none !important;
	
	td {
		border-bottom: none !important;
	}
}

td {
	vertical-align: middle;
}

th {
	font-size: 12px;
	color: $color-gray-darker;
	font-weight: 600;
}

.icon-calendar {
	position: absolute;
	left: 156px;
	top: 8px;
}

.capitalize {
	text-transform: capitalize !important;
}

.clickable {
	cursor: pointer;
}

::ng-deep .bs-datepicker.period-calendar {
	border-radius: 12px;
	box-shadow: 0px 0px 32px rgba(80, 92, 100, 0.06),
    0px 4px 20px rgba(42, 53, 61, 0.1);
	.bs-datepicker-head {
		background-color: #fff !important;
		button {
			color: $color-light-black;
			font-size: 14px;
			font-weight: 700;
		}
	}
	
	.bs-datepicker-body {
		border: none;
		
		table{
			td {
				height: 0;
				color: $color-light-black;
			}
		
			tbody tr td span {
				font-size: 14px;
				text-transform: capitalize;
				height: 52px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 12px;
			}
		}
	}
}

::ng-deep .bs-datepicker-body table tbody tr td span {
	text-transform: capitalize;
}

@media screen and (max-width: 570px) {
	.users-list-item__left {
		display: block;

		& > img {
			margin-bottom: 10px;
		}
	}
}

@media screen and (max-width: 390px) {
	.users-list-item {
		display: block;
	}

	.users-list-text {
		margin-bottom: 10px;
	}
}

.empty-acc{
	min-width: 14rem;
}