<table class="table users-list">
  <thead>
    <tr>
      <th>№</th>
      <th>{{ 'operations.default.fio' | translate | uppercase }}</th>
      <th *ngIf="paymentType === 'salary'">
        {{ 'default.account' | translate | uppercase }}
      </th>
      <th *ngIf="paymentType !== 'salary'">
        {{ 'default.period' | translate | uppercase }}
      </th>
      <th>{{ 'default.amount' | translate | uppercase }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container [formGroup]="userForm">
      <ng-container formArrayName="employees">
        <tr
          [formGroupName]="i"
          *ngFor="let user of currentPageEmployees; let i = index">
          <ng-container>
            <td>
              <p class="users-list-text__main">
                {{ (currentPage - 1) * paginationSizeValue + i + 1 }}
              </p>
            </td>
            <td>
              <p class="users-list-text__main">
                <span>{{ user.lastName + ' ' | titlecase }}</span>
                <span>{{ user.firstName | titlecase }}</span>
                <span *ngIf="user.middleName">{{
                  ' ' + user.middleName | titlecase
                }}</span>
              </p>
              <p class="users-list-text__gray">{{ user.iin }}</p>
            </td>
            <td *ngIf="paymentType === 'salary'">
              <ng-template [ngIf]="!user.account"
                ><p class="empty-acc"></p
              ></ng-template>
              <p class="users-list-text__light-black">{{ user.account }}</p>
              <p class="users-list-text__gray">{{ user.bankName }}</p>
            </td>
            <td *ngIf="paymentType !== 'salary'">
              <div style="position: relative">
                <input
                  type="text"
                  class="form-control discharge-input capitalize"
                  bsDatepicker
                  [bsConfig]="{
                    isAnimated: true,
                    dateInputFormat: 'MMMM YYYY',
                    startView: 'month',
                    minMode: 'month',
                    adaptivePosition: true,
                    containerClass: 'period-calendar'
                  }"
                  [readonly]="true"
                  style="background-color: #fff"
                  formControlName="period" />
                <span class="icon-calendar">
                  <img src="./assets/icons/ic_calendar2.svg" alt="" />
                </span>
              </div>
            </td>

            <td>
              <input
                type="text"
                class="form-control discharge-input"
                formControlName="amount"
                placeholder="0 ₸"
                mask="separator.2"
                suffix=" ₸"
                thousandSeparator=" "
                separatorLimit="999999999999999999" />
            </td>
            <td>
              <div class="d-flex justify-content-between">
                <div class="clickable">
                  <img
                    src="assets/icons/ic_edit.svg"
                    alt="change-icon"
                    (click)="
                      openModal2(
                        true,
                        (currentPage - 1) * paginationSizeValue + i
                      )
                    " />
                </div>
                <img
                  src="assets/icons/ic_delete.svg"
                  alt="delete-icon"
                  (click)="
                    deleteStaffByIndex(
                      (currentPage - 1) * paginationSizeValue + i
                    )
                  "
                  class="clickable" />
              </div>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>

<div
  class="users-list-text__secondary d-flex flex-column align-items-center justify-content-center mt-4 mb-3"
  *ngIf="usersList.length < 1">
  <p>{{ 'operations.default.emptyList' | translate }}.</p>
  <p>{{ 'operations.default.addEmployeeWarning' | translate }}.</p>
</div>
<div class="users-list-pagination" *ngIf="usersList.length > 0">
  <div
    class="users-list-pagination__left"
    *ngIf="usersList.length > paginationSizeValue">
    <pagination
      [totalItems]="usersList.length"
      [ngModel]="currentPage"
      [itemsPerPage]="paginationSizeValue"
      [maxSize]="paginationSizeValue"
      [directionLinks]="false"
      (pageChanged)="changePage($event)"
      [rotate]="true"
      [boundaryLinks]="true"
      firstText="{{ currentPage === 1 || !currentPage ? ' ' : '&laquo;' }}"
      lastText="{{ currentPage === lastPage ? ' ' : '&raquo;' }}"></pagination>
  </div>

  <div class="users-list-pagination__select">
    <ng-select
      #ngSelect
      [searchable]="false"
      [clearable]="false"
      [(ngModel)]="paginationSizeValue"
      (change)="changePaginationSize()">
      <ng-option *ngFor="let item of paginationSizeList" [value]="item">
        <div class="select-option">
          <p>{{ 'default.per' | translate | lowercase }} {{ item }}</p>
        </div>
      </ng-option>
    </ng-select>
  </div>
</div>
