@import "/src/styles/main";

.label-icon-container {
  cursor: pointer;
  
  @include flex-default(flex, row, center);
  &__default {
    color: $color-gray-middle;
    font-size: $font-size-tiny;
  }
  &__account-action {
    color: $color-black; 
    font-size: $font-size-small;
  }
  &__back {
    color: $color-gray-middle;
    font-size: $font-size-small; 
  }
}
.label-on-left {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}
.label-on-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
