<div class="modal-header">
  <p *ngIf="modalType === 'statements'" class="modal-title">
    {{ 'operations.default.downloadStatements' | translate }}
  </p>
  <p *ngIf="modalType === 'requisites'" class="modal-title">
    {{ 'operations.default.downloadExtract' | translate }}
  </p>
  <p *ngIf="modalType === 'deposit-statements'" class="modal-title">
    {{ 'operations.default.downloadDepositStatements' | translate }}
  </p>

  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="closeModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body" [ngStyle]="getModalHeight()">
  <!-- Список счетов  -->
  <div *ngIf="isExtended && modalType !== 'deposit-statements'" class="mb">
    <ng-select
      class="custom-select account-select"
      [searchable]="false"
      [clearable]="false"
      placeholder="{{ selectPlaceholder[type] }}"
      name="account"
      [(ngModel)]="selectedAccount"
      #account="ngModel"
      required
      [readonly]="loading"
      (change)="onChange($event)"
      (open)="onOpenAccount()"
      (close)="onCloseAccount()"
      loadingText="{{ 'default.loading' | translate }}..."
      notFoundText="{{ 'error.empty-data' | translate }}">
      <ng-option
        *ngFor="let account of accountsList | accountListSorter"
        [value]="account">
        <ob-select-account
          [description]="getAccountInfo(account).title"
          [currency]="account.currency"
          [title]="getAccountInfo(account).description"
          [icon]="getImage(account)"></ob-select-account>
      </ng-option>
    </ng-select>
    <ng-container
      *ngIf="
        (click && account.invalid) ||
        (account.invalid && (account.dirty || account.touched))
      ">
      <p *ngIf="account.errors.required" class="invalid">
        {{ 'error.required' | translate }}
      </p>
    </ng-container>
  </div>
  <!-- Список счетов  -->

  <!-- Период -->
  <ng-template
    [ngIf]="
      isExtended &&
      (modalType === 'statements' || modalType === 'deposit-statements')
    ">
    <p class="modal-subtitle">{{ 'default.period' | translate }}</p>
    <div class="{{ loading ? 'loading-period' : 'period' }}">
      <div style="position: relative" class="me-2">
        <input
          type="text"
          class="form-control calendar_input"
          bsDatepicker
          [bsConfig]="{
            customTodayClass: 'custom-today-class',
            isAnimated: true,
            maxDate: maxPickerDate,
            dateInputFormat: 'DD.MM.YYYY',
            startView: 'day',
            minMode: 'day',
            adaptivePosition: true,
            containerClass: 'calendar',
            showWeekNumbers: false
          }"
          [(ngModel)]="startDate"
          placeholder="{{ 'default.calendar-date' | translate }}"
          (ngModelChange)="changeDate($event, 'startDate')"
          [isDisabled]="loading" />
        <span class="icon-calendar-from">
          <img src="./assets/icons/ic_calendar2.svg" alt="" />
        </span>
      </div>
      <div style="position: relative">
        <input
          type="text"
          class="form-control calendar_input"
          bsDatepicker
          [bsConfig]="{
            customTodayClass: 'custom-today-class',
            isAnimated: true,
            maxDate: maxPickerDate,
            dateInputFormat: 'DD.MM.YYYY',
            startView: 'day',
            minMode: 'day',
            adaptivePosition: true,
            containerClass: 'calendar',
            showWeekNumbers: false
          }"
          [(ngModel)]="endDate"
          placeholder="{{ 'default.calendar-date' | translate }}"
          (ngModelChange)="changeDate($event, 'endDate')"
          [isDisabled]="loading" />
        <span class="icon-calendar">
          <img src="./assets/icons/ic_calendar2.svg" alt="" />
        </span>
      </div>
    </div>
    <div class="tab-selects" *ngIf="modalType !== 'deposit-statements'">
      <div
        *ngFor="let option of periodOptions"
        [ngClass]="option.code === currentPeriod.code ? 'active' : ''"
        class="{{
          loading
            ? option.code === currentPeriod.code
              ? 'tab-selects-option__active-loading'
              : 'tab-selects-option__loading'
            : 'tab-selects-option'
        }}"
        id="{{ option.code }}"
        (click)="changePeriodOption(option.code)">
        <span class="">{{ option.label }}</span>
      </div>
    </div>
  </ng-template>
  <!-- Период -->

  <p *ngIf="modalType === 'statements'" class="modal-subtitle">
    {{ 'default.format' | translate }}
  </p>

  <ob-tab-selects
    *ngIf="modalType === 'statements'"
    [loading]="loading"
    [list]="formatList"
    (obSelectedDate)="changeSelectedFormat($event)"></ob-tab-selects>
</div>

<div class="modal-footer">
  <ng-template [ngIf]="error">
    <div class="alert alert-danger alert-params" role="alert">
      {{ error }}
    </div>
  </ng-template>
  <ob-button
    label="{{ 'default.download' | translate }}"
    [className]="'btn height-medium br-12 p-24'"
    [onClick]="
      modalType === 'statements'
        ? getStatements
        : modalType === 'requisites'
        ? getRequisites
        : modalType === 'deposit-statements'
        ? getDepositStatements
        : ''
    "
    [loading]="loading"
    [disabled]="loading"></ob-button>
</div>
