.currencyes {
  padding: 32px;
  background: #FFFFFF;
  border-radius: 12px;

  &_title {
    font-weight: 700;
    font-size: 16px;
    color: #2A353D;
  }

  &_text {
    &_1 {
      font-weight: 500;
      font-size: 14px;
      color: #505C64;
    }

    &_2 {
      font-weight: 500;
      font-size: 14px;
      color: #829199;
    }
  }

  table {
    width: 100%;

    tr {
      border-bottom: 1px solid #D0D6D8;
      display: flex;
      flex-direction: row;

      &:last-child {
        border-bottom: none;
      }

      th {
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        color: #829199;
        padding: 11px 0px 11px 0px;
      }

      td {
        padding: 12px 0px 12px 0px;
      }

      td, th {
        &:nth-child(1) {
          width: 30%;
          display: flex;
          flex-direction: row;

          img {
            margin-top: auto;
            margin-bottom: auto;
            height: 24px;
            width: 24px;
          }

          div {
            p {
              margin-top: auto;
              margin-bottom: auto;
            }

            :nth-child(1) {
              font-weight: 700;
              font-size: 14px;
              color: #263238;
            }

            :nth-child(2) {
              font-weight: 500;
              font-size: 14px;
              color: #263238;
            }
          }
        }

        &:nth-child(2) {
          width: 15%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          p {
            font-weight: 700;
            font-size: 16px;
            color: #2A353D;
          }
        }

        &:nth-child(3) {
          width: 25%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          p {
            font-weight: 700;
            font-size: 16px;
            color: #2A353D;
          }
        }

        &:nth-child(4) {
          width: 30%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          p {
            font-weight: 700;
            font-size: 14px;
            color: #11BB91;
            cursor: pointer;
          }
        }
      }
    }
  }
}

::ng-deep modal-container .open_fx_account_modal {
  padding-top: 170px !important;

  .modal-content {
    width: 435px !important;
  }
}

.mr {
  &_16 {
    margin-right: 16px;
  }
}

.ml {
  &_40 {
    margin-left: 40px;
  }
}

.mt {
  &_16 {
    margin-top: 16px;
  }

  &_32 {
    margin-top: 32px;
  }
}