<div class="all-products">
  <section class="all-products__section">
    <p class="all-products__title mb-32">
      {{ 'all-products.recommend' | translate }}
    </p>
    <div class="row g-24">
      <div
        *ngFor="let item of recommendationList"
        class="col-dt-6 col-tb-6 col-mb-12 col-lgdt-4">
        <ob-card
          [cardContent]="item"
          [className]="'img-top card-img-h-164 img-size-200'"
          [disabled]="true"></ob-card>
      </div>
    </div>
  </section>

  <section class="all-products__section" id="paymentAccept">
    <p class="all-products__title mb-32">
      {{ 'all-products.get-payments' | translate }}
    </p>
    <div class="row g-24">
      <div
        *ngFor="let item of aquaringList"
        class="col-dt-6 col-tb-6 col-mb-6 col-lgdt-6">
        <ob-card
          [cardContent]="item"
          [className]="'bg-img lgdt-w-half'"
          [disabled]="item.disabled"></ob-card>
      </div>
    </div>
  </section>

  <section class="all-products__section" id="cards">
    <p class="all-products__title mb-32">
      {{ 'all-products.manage-expenses' | translate }}
    </p>
    <div class="row g-24">
      <div
        *ngFor="let elm of cardList"
        class="col-dt-6 col-tb-6 col-mb-6 col-lgdt-4">
        <ob-card
          [cardContent]="elm"
          [className]="'img-top card-img-h-220 img-padding'"
          [disabled]="elm.title !== 'cards.business'"></ob-card>
      </div>
    </div>
  </section>

  <section class="all-products__section">
    <p class="all-products__title mb-32">
      {{ 'all-products.pay-salary' | translate }}
    </p>
    <div class="banner col-dt-12 col-tb-12 col-mb-12 col-lgdt-12">
      <ob-card
        [cardContent]="salaryBanner"
        [className]="'bg-img banner btn-white h-274 lbdt-img text-dark'"
        [disabled]="true"></ob-card>
    </div>
  </section>

  <section class="all-products__section" id="attractCustomers">
    <p class="all-products__title mb-32">
      {{ 'all-products.increase-sales' | translate }}
    </p>
    <div class="row g-24">
      <div
        *ngFor="let item of marketList"
        class="col-dt-6 col-tb-6 col-mb-6 col-lgdt-6">
        <ob-card
          [cardContent]="item"
          [className]="'bg-img bg-size-200 lbdt-img-large'"
          [disabled]="true"></ob-card>
      </div>
    </div>
  </section>

  <section class="all-products__section" id="deposits">
    <p class="all-products__title mb-32">
      {{ 'all-products.place-money' | translate }}
    </p>
    <div class="row g-24">
      <div
        *ngFor="let item of savingList"
        class="col-dt-6 col-tb-6 col-mb-6 col-lgdt-4">
        <ob-card
          [cardContent]="item"
          [className]="'img-top card-img-h-188'"
          [disabled]="item.title !== 'products.deposits.express'"></ob-card>
      </div>
    </div>
  </section>

  <section class="all-products__section" id="credits">
    <p class="all-products__title mb-32">
      {{ 'all-products.grow-business' | translate }}
    </p>
    <div class="row g-24">
      <div
        *ngFor="let item of creditList"
        class="col-dt-6 col-tb-6 col-mb-6 col-lgdt-6">
        <ob-card
          [cardContent]="item"
          [className]="'bg-img bg-size-200'"
          [disabled]="true"></ob-card>
      </div>
    </div>
  </section>

  <section class="all-products__section" id="guarantees">
    <p class="all-products__title mb-32">
      {{ 'all-products.join-tenders' | translate }}
    </p>
    <div class="row g-24">
      <div
        *ngFor="let item of guaranteeList"
        class="col-dt-6 col-tb-6 col-mb-6 col-lgdt-4">
        <ob-card
          [cardContent]="item"
          [className]="'img-top card-img-h-188'"
          [disabled]="true"></ob-card>
      </div>
    </div>
  </section>

  <section class="all-products__section" id="encashment">
    <p class="all-products__title mb-32">
      {{ 'all-products.encashment' | translate }}
    </p>
    <div class="banner col-dt-12 col-tb-12 col-mb-12 col-lgdt-12">
      <ob-card
        [cardContent]="encashmentBanner"
        [className]="'bg-img h-296 banner text-dark lbdt-img lbdt-img-large'"
        [disabled]="true"></ob-card>
    </div>
  </section>

  <section class="all-products__section">
    <p class="all-products__title mb-32">
      {{ 'all-products.manage-business' | translate }}
    </p>
    <div class="banner col-dt-12 col-tb-12 col-mb-12 col-lgdt-12">
      <ob-card
        [cardContent]="downloadAppBanner"
        [className]="
          'bg-img h-254 banner text-white bg-img-bottom app-download'
        "></ob-card>
    </div>
  </section>
</div>
