@import "/src/styles/variables.scss";

.welcome {
  height: 80vh;
  overflow-y: scroll;
  
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.notification-section {
  display: flex;
  margin-bottom: 24px;
}
.operation-section {
  display: flex;
  box-sizing: border-box;
  margin-top: 24px;

  &__title {
    font-size: 16px;
    font-weight: 700;
  }
}

.operation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.operations-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}
.home-exchange {
  box-sizing: border-box;
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 32px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      font-size: $font-size-medium;
      font-weight: 700;
      color: #2A353D;
    }

    &__img {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
}

.welcome-operations {
  background: #fff;
  margin-left: 0;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 32px;
  margin-bottom: 24px;

  &__title {
    font-size: $font-size-medium;
    font-weight: 700;
    margin-bottom: 32px;
  }
}
