@import "/src/styles/variables.scss";

.accounts {
  width: 100%;
  border-radius: 12px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 32px;
  margin-bottom: 24px;

  &_title {
    font-weight: $font-weight-bold;
    font-size: $font-size-medium-large;
    margin-bottom: 32px;
  }

  &_info {
    margin-bottom: 32px;

    &_block {
      margin-bottom: 16px;

      & > div {
        display: flex;
        flex-flow: row wrap;
      }

      &__light {
        margin-bottom: 4px;
        color: $color-gray-darker;
        font-weight: 500;
      }

      &__bold {
        font-weight: 700;
        font-size: $font-size-medium;
        margin-right: 64px;
        margin-bottom: 8px;
      }
    }
  }

  &_actions {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: flex-end;
    color: $color-green;
    font-weight: 700;
    cursor: pointer;
    & > * {
      margin-bottom: 24px;
    }

    &_btn{
      margin-left: 32px;
    }
  }

  &_table {
    // width: 100%;
    box-sizing: border-box;
    padding: 0px;
    overflow-x: scroll
  }

  &_table::-webkit-scrollbar-thumb {
    display: none
  }
}