@mixin ob-shadow {
  box-shadow: 0 1px 2px 0 $color-green;
}
/* flexbox*/
@mixin flex(
  $align: center,
  $justify: space-between,
  $direction: row,
  $wrap: nowrap,
  $display: flex
) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
  flex-flow: $direction $wrap;
  flex-basis: auto;

  // IE FIX
  & > * {
    max-width: 100%;
  }
}

@mixin flex-default($display: flex, $direction: row, $align-items: center) {
  display: $display;
  flex-direction:  $direction;
  align-items: $align-items;
}

@mixin button-variant(
  $color,
  $background,
  $border,
  $hover-color: $color,
  $hover-background: darken($background, 10%),
  $hover-border: darken($border, 10%)
) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: $color;
  background-color: $background;
  border-color: $border;

  &:active,
  &.active,
  &:focus,
  &.focus {
    color: $color;
    background-color: $background;
    border-color: $border;
    box-shadow: none;
  }

  &:hover {
    color: $hover-color;
    background-color: $hover-background;
    border-color: $hover-border;
  }

  .open > &.dropdown-toggle {
    color: $hover-color;
    background-color: $hover-background;
    border-color: $hover-border;

    &:hover,
    &:focus,
    &.focus {
      color: $hover-color;
      background-color: $hover-background;
      border-color: $hover-border;
    }
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }

  &.soon-label {
    border-color: rgba($border, 0.3);
  }
}

@mixin icon-size($width, $height) {
  background-repeat: no-repeat;
  display: inline-block;
  text-align: center;
  background-position: center;
  vertical-align: center;
  width: $width + px;
  height: $height + px;
}

@mixin font-format($font-size: 14px, $font-weight: 600, $line-height: 24px, $letter-spacing: normal) {
  font-size: $font-size !important;
  font-weight: $font-weight !important;
  line-height: $line-height !important;
  letter-spacing: $letter-spacing !important;
}
