@import '/src/styles/variables.scss';

.table {
  &_header {
    color: $color-gray-light-dark;
  }
  &_body {
    color: $color-light-black;
  }
  &_header, &_body {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: 0.01em;
    font-weight: 600;

    & * {
      text-transform: uppercase;
    }

    & > div:nth-child(1) {
      width: 33%;
    }

    & > div:nth-child(2) {
      width: 37%;
      display: flex;
      align-items: center;

      & > p:nth-child(1) {
        width: 50%;
        font-size: 12px;
        line-height: 14.4px;
        letter-spacing: 0.01em;
        font-weight: 600;
      }

      & > p:nth-child(2) {
        width: 50%;
        text-align: right;
        font-size: 12px;
        line-height: 14.4px;
        letter-spacing: 0.01em;
        font-weight: 600;
      }
    }

    & > div:nth-child(3) {
      width: 30%;
      text-align: right;
      font-size: 12px;
      line-height: 14.4px;
      letter-spacing: 0.01em;
      font-weight: 600;
    }

    &__hover:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  &_header_credit, &_body_credit {
    display: flex;
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: 0.01em;
    font-weight: 600;

    &_col_1 {
      width: 31%;
      margin-right: 24px;
      font-size: 12px;
      line-height: 14.4px;
      letter-spacing: 0.01em;
      font-weight: 600;
    }

    &_col_2 {
      display: flex;
      align-items: center;
      width: 69%;
      height: fit-content;

      & > div:nth-child(1) {
      width: 28%;
      font-size: 12px;
      line-height: 14.4px;
      letter-spacing: 0.01em;
      font-weight: 600;
      display: flex;
      flex-direction: column;
    }

      & > div:nth-child(2) {
        width: 24%;
        font-size: 12px;
        line-height: 14.4px;
        letter-spacing: 0.01em;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      & > div:nth-child(3) {
        width: 30%;
        font-size: 12px;
        line-height: 14.4px;
        letter-spacing: 0.01em;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      & > div:nth-child(4) {
        width: 18%;
        text-align: right;
        font-size: 12px;
        line-height: 14.4px;
        letter-spacing: 0.01em;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &__hover:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  &_body {

    & > * {
      color: $color-black;
      font-weight: 500;
    }

    //:nth-child(2){
    //  p{
    //    font-size: $font-size-small !important;
    //  }
    //}

    & * {
      text-transform: none;
    }

    &__bold {
      font-size: $font-size-small;
      font-weight: 700;
    }

    &__secondary {
      font-size: $font-size-small !important;
      font-weight: 500 !important;
    }

    &__name {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &_card_account {
      &_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &_name {
        font-weight: 500 !important;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #263238 !important;
        margin-bottom: 2px;
      }

      &_acc {
        font-weight: 500 !important;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #829199 !important;
        margin-bottom: 2px;
      }
    }

    &__name:hover {
      opacity: .6;
      cursor: pointer;
    }

    &_account {
      &_name {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 6px;
      }

      &_name:hover {
        opacity: .6;
        cursor: pointer;
      }
    }
    
    &_deposit {
      &_name {
        width: 300px;
      }
    }
    &__name-hover:hover {
      opacity: .6;
      cursor: pointer;
    }

    &__amount {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 14px;
    }

    &__img {
      margin-right: 13px;
      position: relative;
    }

    &_account {
      &_img {
        position: absolute;
      }

      &_name_constainer {
        margin-left: 48px;
      }
    }

    &__img-error {
      outline: 1px solid $color-error-red !important;
      border-radius: 12px;
      outline-offset: -1px;
    }

    &__reason {
      position: absolute;
      top: -8px;
      left: -8px;
    }

    &__status {
      font-size: $font-size-extra-small;
      color: $color-error-red !important;
    }
  }

  &_body_credit {
    &_col {
      &_1 {
        p:nth-child(1) {
          font-weight: 500;
          font-size: 14px;
          color: #263238;
        }
        &:hover {
          opacity: .6;
          cursor: pointer;
        }
      }

      &_2 {
        p:nth-child(1) {
          font-weight: 500;
          font-size: 14px;
          color: #263238;

        }

        p:nth-child(2) {
          font-weight: 500;
          font-size: 12px;
          color: #829199;

        }
      }

      &_3 {
        p:nth-child(1) {
          font-weight: 500;
          font-size: 14px;
          color: #263238;

        }
      }

      &_4 {
        font-weight: 500;
        font-size: 14px;
        color: #263238;
      }

      &_5 {
        p:nth-child(1) {
          font-weight: 700;
          font-size: 14px;
          color: #263238;
          margin-left: auto;
        }
      }

    }
  }

  &_settings {
    // width: 60px;
    width: 25px;
    text-align: right;
    cursor: pointer;

    & > img {
      margin-left: 10px;
      margin-right: -10px;
    }
  }

  &_dropdown__element {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px
  }

  &_error {
    font-size: $font-size-extra-small;
    color: $color-error-red !important;
    text-transform: none !important;
  }
}

.card_item {
  padding-bottom: 16px;

  &_last {
    padding-bottom: 0px;
  }

  &_last_line {
    border: none;
    margin-bottom: 0px;
  }

  &_line {
    margin-left: 40px;
    border-bottom: 1px solid #E1E9EA;
    margin-bottom: 16px;
  }
}

.header_margin {
  margin-bottom: 16px;
  padding-bottom: 19px;
  border-bottom: 1px solid #E1E9EA;
}

.last_item {
  padding-bottom: 0px;
  border-bottom: none;
  margin-bottom: 0px;

  &_not {
    padding-bottom: 12px;
    border-bottom: 1px solid #E1E9EA;
    margin-bottom: 16px;
  }
}

.dropdown-menu.show {
  min-width: 251px;
  padding-bottom: 0;
  box-shadow: 0px 0px 32px rgba(80, 92, 100, 0.05), 0px 4px 20px rgba(42, 53, 61, 0.1);
  border: none;
  border-radius: 12px;
  right: -10px;
  padding: 8px 0;

  & > div {
    font-size: $font-size-small;
    color: #000;
    font-weight: 400;
    text-transform: none;
    height: 40px;
  }
}

.amount {
  line-height: 14.4px;
  letter-spacing: 0.01em;
  font-weight: 600;
}

@media screen and (max-width: 1115px) {
  .table_header {
    & * {
      font-size: $font-size-extra-small;
    }
  }
}

@media screen and (max-width: 970px) {
  .table_body * {
    font-size: $font-size-extra-small;
  }
}

@media screen and (max-width: 855px) {
  .accounts_table_inner {
    width: 791px;
  }
}

.header_col_title {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #829199;

}

.is_overdue {
  font-weight: 500;
  font-size: 12px;
  color: #FF5721 !important;
}

.is_not_overude {
  font-weight: 500;
  font-size: 12px;
  color: #11BB91 !important;
}

.mt {
  &_2 {
    margin-top: 2px;
  }
}