<div class="back-button">
  <ob-back-button [currentPage]="'profile'"></ob-back-button>
</div>
<div class="d-flex row justify-content-center">
  <ng-template [ngIf]="!hideSettingsBar">
    <div class="col-dt-4 col-smdt-4 col-tb-4">
      <ob-settings-left-bar
        [btnList]="btnList"
        [user]="user"
        [currentContract]="currentContract"></ob-settings-left-bar>
    </div>
  </ng-template>
  <div
    [ngClass]="{
      'col-dt-8 col-smdt-8 col-tb-8': !hideSettingsBar,
      'col-dt-12 col-smdt-12 col-tb-12': hideSettingsBar
    }">
    <router-outlet></router-outlet>
  </div>
</div>
