<div class="modal-header">
  <h4 class="modal-title">{{ 'userSms.howToLogin' | translate }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card lesson-border">
    <div class="card-body">
      <p class="card-text">
        {{ 'userSms.instruction' | translate }}
      </p>
      <p class="card-text">
        <b>{{ 'userSms.terms' | translate }} </b
        >{{ 'userSms.forRegistration' | translate }}
      </p>
      <h5 class="card-title">
        <b>Title: </b> {{ 'userSms.access' | translate }}
      </h5>
      <p class="card-text">{{ 'userSms.iin' | translate }}</p>
      <p class="card-text">{{ 'userSms.ecp' | translate }}</p>
      <p class="card-text">
        <b>Content: </b> {{ 'userSms.actual' | translate }}
      </p>
    </div>
  </div>
</div>
<div class="modal-footer"></div>
