<section class="d-flex row">
  <ob-currency-control-description></ob-currency-control-description>
  <!--Блок уведомлений -->

  <!--    <div class="col-dt-12 col-smdt-12 mb_24">-->
  <!--        <ob-loader [loading]="lastOperationsLoading">-->
  <!--            <div *ngIf="lastOperations && lastOperations.length !== 0">-->
  <!--                <div class="d-flex flex-row justify-content-between mb_16">-->
  <!--                    <p class="last_operations_title">-->
  <!--                        {{"currencyControl.lastEvents" | translate}}-->
  <!--                    </p>-->
  <!--                    <p class="last_operations_view_all">-->
  <!--                        {{"currencyControl.lastEvents" | translate}}-->
  <!--                    </p>-->
  <!--                </div>-->
  <!--                <div class="last_operations_type">-->
  <!--                    <ob-last-operation *ngFor="let operation of lastOperations; let idx = index"-->
  <!--                                       [operation]="operation">-->
  <!--                    </ob-last-operation>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--        </ob-loader>-->
  <!--    </div>-->

  <!--Блок уведомлений -->

  <div class="col-dt-12 col-smdt-12 mb_24">
    <section class="operation">
      <p class="operation_table_title mb_24">
        {{ 'home.welcome.action' | translate }}
      </p>
      <div class="operation_type">
        <div *ngFor="let operation of operations; let idx = index">
          <ng-template [ngIf]="operation.router">
            <ob-custom-card
              title="{{ operation.title | translate }}"
              imgUrl="{{ operation.img }}"
              [routerLink]="operation.router"></ob-custom-card>
          </ng-template>
          <ng-template [ngIf]="!operation.router">
            <ob-custom-card
              title="{{ operation.title | translate }}"
              imgUrl="{{ operation.img }}"
              [className]="'opacity-50'"></ob-custom-card>
          </ng-template>
        </div>
      </div>
    </section>
  </div>

  <div class="col-dt-12 col-smdt-12 mb_24">
    <div class="exchange">
      <div class="d-flex flex-row justify-content-between">
        <p class="exchange_title mb_4">
          {{ 'exchange.exchangeRates' | translate }}
        </p>
        <p class="exchange_fx" (click)="goToHalykFXPage()">
          {{ 'exchange.navigate' | translate }}
        </p>
      </div>
      <div>
        <ob-exchange [page]="'currency_control'"></ob-exchange>
      </div>
    </div>
  </div>

  <div class="col-dt-12 col-smdt-12">
    <div class="operation_table">
      <div class="control-options">
        <div
          class="control-options__name"
          *ngFor="let item of controlOptions"
          (click)="onControlOptionsSelected(item.value)"
          [ngClass]="{
            'control-options__active': selectedControlOption === item.value
          }">
          <p>{{ item.label | translate }}</p>
        </div>
      </div>

      <div *ngIf="listType === 'operations-history'">
        <ob-account-history
          [listType]="'currency-control'"></ob-account-history>
      </div>
      <div *ngIf="listType === 'currency-control'">
        <ob-contract-list></ob-contract-list>
      </div>
      <div *ngIf="listType === 'product-statements'">
        <ob-account-history
          [listType]="'currency-control'"></ob-account-history>
      </div>
    </div>
  </div>
</section>
