@import '/src/styles/variables.scss';

.exchange {
  &-title {
    margin-top: 8px;
    margin-bottom: 16px;
    color: $color-gray-light-dark;
    font-size: $font-size-extra-small;
    font-weight: 500;
    line-height: 15.6px;
    letter-spacing: 0.02em;
  }

  &-data {
    padding-bottom: 16px;
    :last-child {
      padding-bottom: 0px;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 8px;
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 0 1 75px;
    }
  }

  &_item_row {
    display: flex;
    flex-direction: row;

    &_text {
      margin-top: auto;
      margin-bottom: auto;
      font-weight: 500;
      font-size: 14px;
      color: #263238;
    }
  }

  &_img {
    &_flag {
      width: 24px;
      height: 24px;
      margin-top: auto;
      margin-bottom: auto;
    }
    &_arrow {
      width: 24px;
      height: 24px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  &-error {
    display: flex;
    flex-direction: column;

    &-img {
      height: 16px;
      width: 16px;
    }

    &-title {
      margin-top: auto;
      margin-bottom: auto;
      font-weight: 700;
      font-size: 14px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #263238;
    }

    &-text {
      font-weight: 500;
      font-size: 12px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #829199;
    }
  }

  &-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8px;
    &-btn {
      font-weight: 700;
      font-size: 14px;
      color: #11bb91;
      cursor: pointer;
    }
  }
}

table {
  th,
  td {
    padding-right: 36px !important;
    padding-bottom: 16px;
  }
}

.ml {
  &_4 {
    margin-left: 4px;
  }
  &_8 {
    margin-left: 8px;
  }
  &_10 {
    margin-left: 10px;
  }
}

.mr {
  &_8 {
    margin-right: 8px;
  }

  &_62 {
    margin-right: 62px;
  }
}

.mt {
  &_8 {
    margin-top: 8px;
  }

  &_25 {
    margin-top: 25px;
  }
}
