<div class="footer">
  <div class="footer-container">
    <ng-template
      [ngIf]="
        operationType === 'transfer' ||
        operationType === 'payment' ||
        operationType === 'currency-transfer'
      ">
      <ob-loader [loading]="(isClicked && loading) || this.comissionLoading">
        <div class="footer-container-text">
          <p class="footer-container-text__commission">
            {{ 'operations.payments.commission' | translate }}:
            <span
              [ngClass]="{
                'footer-container-text__commission-gray':
                  !isComission(commission)
              }">
              {{
                isComission(commission)
                  ? (getFormattedAmount(commission) | amountPipe)
                  : commission
              }}
              <span *ngIf="isComission(commission)"> ₸</span>
            </span>
          </p>
          <div
            *ngIf="(isClicked && loading) || this.comissionLoading"
            class="loader"></div>
          <p class="footer-container-text__sum">
            {{ 'operations.payments.sum' | translate }}:
            {{ getFormattedAmount(sum) | amountPipe }}
            {{ helperService.formatCurrency(currency) }}
          </p>
        </div>
      </ob-loader>
    </ng-template>

    <!--    Футер для конвертации-->
    <ng-template [ngIf]="operationType === 'convertation'">
      <ob-loader [loading]="isClicked && loading">
        <div class="footer-container-text">
          <p class="footer-container-text__sum">
            {{ 'currencyControl.convertation.amountDebit' | translate }}:
            <span>
              {{ getFormattedAmount(convertationDebit.amount) | amountPipe }}
              <span> {{ getCurrency(convertationDebit.currency) }}</span>
            </span>
          </p>
          <div *ngIf="isClicked && loading" class="loader"></div>
          <p class="footer-container-text__sum">
            {{ 'currencyControl.convertation.amountCredit' | translate }}:
            {{ getFormattedAmount(convertationCredit.amount) | amountPipe }}
            {{ getCurrency(convertationCredit.currency) }}
          </p>
        </div>
      </ob-loader>
    </ng-template>
    <!--    Футер для конвертации-->

    <!--    Футер для подключения тарифа-->
    <ng-template [ngIf]="operationType === 'tariff'">
      <ob-loader [loading]="loading">
        <div class="footer-container-text">
          <p class="footer-container-text__commission">
            {{ 'default.period' | translate }}:
            <span>
              {{ selectedTaRiff?.period }}
              <span> {{ getTextMonths(selectedTaRiff?.period) }} </span>
            </span>
          </p>
          <div *ngIf="isClicked && loading" class="loader"></div>
          <p class="footer-container-text__sum">
            {{ 'default.amount' | translate }}:
            {{ getFormattedAmount(selectedTaRiff?.finalCost) | amountPipe }}
            {{ getCurrency('KZT') }}
          </p>
        </div>
      </ob-loader>
    </ng-template>
    <!--    Футер для подключения тарифа-->

    <div class="footer-container-buttons">
      <ng-template [ngIf]="operationType === 'tariff'">
        <button
          class="_btn btns"
          [ngClass]="
            isTariffConnect
              ? 'footer-container-buttons__sign-active'
              : 'footer-container-buttons__sign'
          "
          (click)="connectTariff()">
          <div>Подключить</div>
          <div *ngIf="loading" class="loader"></div>
        </button>
      </ng-template>
      <ng-template [ngIf]="operationType === 'currency-transfer'">
        <button
          *ngIf="showBack"
          class="_btn btns footer-container-buttons__save-active mr-0"
          (click)="back()">
          <div>{{ 'default.back' | translate }}</div>
        </button>
        <button
          class="_btn btns footer-container-buttons__sign-active mr-0"
          (click)="next()">
          <div>{{ 'default.next' | translate }}</div>
        </button>
      </ng-template>
      <ng-template
        [ngIf]="
          operationType !== 'currency-transfer' && operationType !== 'tariff'
        ">
        <button
          class="_btn btns"
          [ngClass]="
            isSign
              ? 'footer-container-buttons__sign-active'
              : 'footer-container-buttons__sign'
          "
          (click)="sign()">
          <div>
            {{
              (operationsService.userRightsToSign$ | async)
                ? ('operations.payments.sign' | translate)
                : ('operations.payments.forSignature' | translate)
            }}
          </div>
          <div *ngIf="isClicked && loading" class="loader"></div>
        </button>
        <ng-template [ngIf]="operationType === 'payment'">
          <button
            class="_btn btns"
            [ngClass]="
              isSave
                ? 'footer-container-buttons__save-active'
                : 'footer-container-buttons__save'
            "
            (click)="save(template)">
            <div>{{ 'operations.payments.btn-save' | translate }}</div>
            <div *ngIf="isClicked && saveLoading" class="loader"></div>
          </button>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
