<div class="d-flex flex-column stg_users_info_container">
  <div class="title_wrapper">
    <p class="title_text">{{ 'settings.signers' | translate }}</p>
  </div>
  <div class="annoucement" *ngIf="!isProduction">
    <img src="assets/icons/ic_status_error1.svg" />
    <p>
      {{ 'settings.notification.pay_order_announce' | translate }}
    </p>
  </div>
  <div *ngIf="totalElements > 0">
    <ob-stg-user-table [allSigners]="currentPageSigners"></ob-stg-user-table>
    <div class="discharge-pagination" *ngIf="totalElements > 10">
      <pagination
        [totalItems]="totalElements"
        [ngModel]="currentPage"
        [itemsPerPage]="10"
        [maxSize]="maxSize"
        [directionLinks]="false"
        (pageChanged)="changePage($event)"
        [rotate]="true"
        [boundaryLinks]="true"
        firstText="{{ currentPage === 1 || !currentPage ? ' ' : '&laquo;' }}"
        lastText="{{
          currentPage === lastPage ? ' ' : '&raquo;'
        }}"></pagination>
    </div>
  </div>
  <ob-table-empty-rows *ngIf="totalElements === 0"></ob-table-empty-rows>
</div>
