<div class="info">
  <ob-loader class="d-flex flex-row flex-wrap" [loading]="loading || isLoading">
    <div class="d-flex flex-column">
      <div class="d-flex flex-column info-header">
        <p class="info-header__title">
          {{ 'acccountSavings.deposit.deposit' | translate }} "{{
            depositData?.depositType
          }}"
        </p>
        <!-- <img class="info-header__edit" src="assets/icons/ic_edit.svg"> -->
        <!-- <p class="text-muted info-header__button">Переименовать</p> -->
      </div>
      <div class="d-flex flex-column info-main mb-0">
        <div class="d-flex flex-row">
          <p class="info-title">
            {{
              getFormattedActualBalance(depositData?.balance || 0) | amountPipe
            }}
          </p>
          <p class="ms-1 info-title_currency">
            {{ helperService.formatCurrency(depositData?.currencyCode) }}
          </p>
        </div>
        <p class="info-text-inprocessing">
          {{ 'acccountSavings.deposit.deposit' | translate }}
          {{ depositData?.depositContractNumber }}
        </p>
        <!--                <p class="info-text-iban">{{ getIban(depositData) }}</p>-->
      </div>

      <!--            <div class="info-requisites" (click)="doAction('requisites')">-->
      <!--                <p class="info-requisites-text">Реквизиты</p>-->
      <!--            </div>-->

      <!--            <div class="d-flex flex-row info-home">-->
      <!--                <input type="checkbox" class="info-home-icon">-->
      <!--                <p class="info-home-text">Показать на Главной</p>-->
      <!--            </div>-->
    </div>
    <div class="col-12 info-action-cards">
      <div class="row">
        <!--                <div *ngFor="let action of actions" class="info-action-card">-->
        <!--                    <ob-custom-card-->
        <!--                            *ngIf="action.type !== ''"-->
        <!--                            title="{{ action.title | translate }}"-->
        <!--                            imgUrl="{{ action.img }}"-->
        <!--                            (click)="doAction(action.type)"-->
        <!--                    ></ob-custom-card>-->
        <!--                    <ob-custom-card-->
        <!--                            className="opacity-50"-->
        <!--                            *ngIf="action.type === ''"-->
        <!--                            title="{{ action.title | translate }}"-->
        <!--                            imgUrl="{{ action.img }}"-->
        <!--                    ></ob-custom-card>-->
        <!--                </div>-->
      </div>
    </div>
  </ob-loader>
</div>
