@import "/src/styles/variables.scss";

.info {
  box-sizing: border-box;
  padding: 27px 24px;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 32px;

  &-header {
    margin-bottom: 24px;

    &__title {
      font-size: $font-size-medium;
      font-weight: 700;
    }

    &__edit {
      margin-left: 11px;
      width: 20px;
      height: 20px;
    }

    &__button {
      color: $color-green;
      // cursor: pointer;
      opacity: .7; // TODO Раскомменить как будет сервис
    }
  }

  &-title {
    font-size: $font-size-h3-medium;
    font-weight: $font-weight-bold;
  }

  &-title_currency {
    font-size: $font-size-h3-medium;
    font-weight: $font-weight-bold;
  }

  &-subtitle {
    font-size: $font-size-small;
    color: $color-gray-darker;
    margin-bottom: 19px;
  }

  &-text {
    &-inprocessing {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #505C64;
      margin-top: 4px;
    }

    &-iban {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #505C64;
      margin-top: 16px;
    }
  }

  &-buttons {
    margin-bottom: 25px;
    opacity: .6; // TODO Раскомментить когда будут сервисы
  }

  &-button {
    display: flex;
    align-items: center;
    // cursor: pointer;
    margin-bottom: 8px;

    & > img {
      margin-right: 13px;
    }

    & > p {
      font-size: 26px;
      font-weight: 500;
    }
  }

  &-actions__title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 18px;
  }

  &-action {
    box-sizing: border-box;
    // padding: 16px;
    // min-height: 108px;
    background-color: $Background-light-grey;
    border-radius: 12px;
    margin-bottom: 24px;
    cursor: pointer;

    & > img {
      margin-bottom: 16px;
    }

    & > p {
      font-size: 13px;
      font-weight: 500;
    }
  }

  &-requisites {
    margin-bottom: 24px;

    &-text {
      font-size: 14px;
      font-weight: 700;
      color: #11BB91;
      cursor: pointer;
    }
  }

  &-home {
    margin-bottom: 27px;

    &-icon {
      width: 18px;
      height: 18px;
      align-self: center;
    }

    &-text {
      font-weight: 500;
      font-size: 14px;
      align-self: center;
      margin-left: 12px;
    }
  }

  &-action {

    &-card {
      width: 100%;
      margin-bottom: 8px;
      border-radius: 12px;
    }
  }

  &-invalid {
    display: flex;
    align-items: center;

    & > img {
      margin-right: 8px;
      width: 20px;
      height: 20px;
    }

    &__text {
      color: $color-error-red;
      font-weight: 450;
    }
  }

  &-main {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 800px) {
  .info-header {
    display: block;

    &__title {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 869px) {
  .info {
    &-action {
      margin-right: 24px;

      &-card {
        max-width: 50%;
      }
    }
  }
}

@media screen and (min-width: 869px) and (max-width: 1128px) {
  .info {
    &-title {
      font-size: $font-size-h3-large;
      font-weight: $font-weight-bold;
      margin-bottom: 10px;
    }

    &-title_currency {
      font-size: $font-size-h3-large;
      font-weight: $font-weight-bold;
    }
  }
}