@import '/src/styles/variables.scss';

.come-back {
	margin-bottom: 35px;
	display: flex;
	align-items: center;
	cursor: pointer;
    
	&__secondary {
		color: $color-gray-middle;
		font-size: $font-size-small;
		margin-left: 10px;
	}
}