@import "/src/styles/variables.scss";

.guarantee {
  background: #fff;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 12px;

  &-calendar {
    background-color: #fff;
    border-radius: 12px;
    height: 500px;
    margin-bottom: 40px;
  }

  &-table {
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 32px;
    margin-bottom: 32px;

    &__title {
      font-size: $font-size-medium;
      font-weight: 700;
      margin-bottom: 32px;
    }
  }
}

.guarantee-type {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  padding-bottom: 35px;
}

.title {
  font-weight: 700;
  font-size: $font-size-medium;
  margin-bottom: 24px;
  line-height: 20.8px;
  letter-spacing: 0.02;
}

.mb-24 {
  margin-bottom: 24px;
}

.custom {
  background: #ffffff;
  box-shadow: 0px 3px 11px rgba(118, 128, 147, 0.13);
  border-radius: 12px;
}

img {
  margin-right: 1rem;
}

.cursor {
  cursor: pointer;
}
