<div class="row justify-content-center">
  <div class="col-dt-12 col-smdt-12">
    <section class="guarantee mb-24">
      <p class="title">{{ 'guarantee.release' | translate }}</p>

      <div class="guarantee-type">
        <div *ngFor="let operation of operations; let idx = index">
          <ob-custom-card
            *ngIf="operation.router !== ''"
            title="{{ operation.title | translate }}"
            imgUrl="{{ operation.img }}"
            [routerLink]="operation.router">
          </ob-custom-card>
          <ob-custom-card
            *ngIf="operation.router === ''"
            title="{{ operation.title | translate }}"
            imgUrl="{{ operation.img }}"
            [className]="'opacity-50'">
          </ob-custom-card>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="guarantee-table">
  <p class="guarantee-table__title">
    {{ 'guarantee.myApplications' | translate }}
  </p>

  <ob-tabs
    [tabs]="headingList"
    (obSelected)="setStatusFilter($event)"></ob-tabs>

  <div class="discharge-filter-top">
    <div class="discharge-filter-top-left">
      <!-- Получатель -->
      <div style="position: relative">
        <input
          type="text"
          placeholder="{{ 'operations.default.destination' | translate }}"
          class="form-control discharge-input search"
          autocomplete="off"
          [formControl]="searchControl"
          id="searchString" />
        <span class="icon-search">
          <img src="./assets/icons/ic_search.svg" alt="" />
        </span>
      </div>
      <!-- Получатель -->

      <!-- Период документа -->
      <div class="discharge-filter-period">
        <div style="position: relative">
          <input
            type="text"
            class="form-control calendar_input"
            bsDatepicker
            placement="bottom"
            [ngClass]="{ 'invalid-period': periodError }"
            [bsConfig]="{
              maxDate: maxDate,
              customTodayClass: 'custom-today-class',
              isAnimated: true,
              dateInputFormat: 'DD.MM.YYYY',
              startView: 'day',
              minMode: 'day',
              adaptivePosition: true,
              containerClass: 'calendar',
              showWeekNumbers: false
            }"
            placeholder="{{ 'default.calendar-date' | translate }}"
            [(ngModel)]="startDate"
            (ngModelChange)="getDocumentList()"
            #dp1="bsDatepicker" />
          <span class="icon-calendar" (click)="dp1.toggle()">
            <img src="./assets/icons/ic_calendar2.svg" alt="" />
          </span>
        </div>
        <div style="position: relative">
          <input
            type="text"
            class="form-control calendar_input"
            bsDatepicker
            placement="bottom"
            [ngClass]="{ 'invalid-period': periodError }"
            [bsConfig]="{
              customTodayClass: 'custom-today-class',
              maxDate: maxDate,
              isAnimated: true,
              dateInputFormat: 'DD.MM.YYYY',
              startView: 'day',
              minMode: 'day',
              adaptivePosition: true,
              containerClass: 'calendar',
              showWeekNumbers: false
            }"
            [(ngModel)]="endDate"
            placeholder="{{ 'default.calendar-date' | translate }}"
            (ngModelChange)="getDocumentList()"
            #dp2="bsDatepicker" />
          <span class="icon-calendar" (click)="dp2.toggle()">
            <img src="./assets/icons/ic_calendar2.svg" alt="" />
          </span>
        </div>
      </div>
      <!-- Период документа -->
    </div>
  </div>

  <table *ngIf="guaranteesList?.content.length; else empty">
    <thead>
      <tr>
        <th>{{ 'default.date' | translate }}</th>
        <th>{{ 'guarantee.applicationNumber' | translate }}</th>
        <th>{{ 'default.status' | translate }}</th>
      </tr>
    </thead>
    <ng-container *ngFor="let item of guaranteesList.content || []">
      <tr (click)="goToGuarantee(item.docNum)">
        <td>
          <p class="table-text__bold table-text__ellips clickable">
            {{ item.sentDate }}
          </p>
        </td>
        <td>
          <p class="table-text__bold table-text__ellips clickable">
            {{ item.id }}
          </p>
        </td>
        <td>
          <p class="table-text__bold table-text__ellips clickable">
            {{ item.statusDetails }}
          </p>
        </td>
      </tr>
    </ng-container>
  </table>
</div>

<ng-template #empty>
  <div class="text-muted mt-24">{{ 'default.nodata' | translate }}</div>
</ng-template>
