<div class="{{ currecySelectClassName }}">
  <!--        Продажа банком-->
  <div class="{{ currecySelectClassName }}_sell" #currencySell>
    <p class="currency_section_text_1">
      {{ 'currencyControl.halykFX.bankSale' | translate }}
    </p>
    <div class="d-flex flex-row mt_8 clickable" (click)="isShowSellDropdown()">
      <img
        src="assets/icons/{{ currentCurrencySell?.code.toLowerCase() }}flag.svg"
        class="currency_section_img_currency mr_16" />
      <p class="currency_section_text_currency">
        {{ currentCurrencySell?.code }}
      </p>
      <img
        src="assets/icons/up_arrow.svg"
        class="currency_section_img_arrow_down"
        [ngStyle]="{ transform: showSellDropdown ? '' : 'rotate(180deg)' }" />
    </div>
    <ng-container *ngIf="showSellDropdown">
      <div
        [ngClass]="showSellDropdown ? 'dropdown_open_sell' : 'dropdown_close'">
        <div
          class="currency_select"
          *ngIf="currencyTypeListSell && currencyTypeListSell.length !== 0">
          <div
            *ngFor="let item of currencyTypeListSell"
            class="currency_select_item"
            (click)="changeCurrentSell(item)">
            <div class="currency_select_item_wrapper">
              <img
                src="assets/icons/{{ item.code.toLowerCase() }}flag.svg"
                class="currency_select_item_img" />
              <p class="currency_select_item_text1">{{ item.code }}</p>
              <p class="currency_select_item_line">-</p>
            </div>
            <p class="currency_select_item_text2">
              {{ getCurrencyDescription(item)?.name }}
            </p>
          </div>
        </div>
        <div
          class="currency_empty"
          *ngIf="!currencyTypeListSell || currencyTypeListSell.length === 0">
          <p>{{ 'operations.default.emptyList' | translate }}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <!--        Продажа банком-->

  <div class="{{ currecySelectClassName }}_switch" (click)="swapCurrencyes()">
    <img
      src="assets/icons/add_signal_swich.svg"
      class="currency_section_img_switch" />
  </div>

  <!--        Покупка банком-->
  <div class="{{ currecySelectClassName }}_buy" #currencyBuy>
    <p class="currency_section_text_1 ms-auto">
      {{ 'currencyControl.halykFX.bankBuy' | translate }}
    </p>
    <div class="d-flex flex-row mt_8 clickable" (click)="isShowBuyDropdown()">
      <img
        src="assets/icons/{{ currentCurrencyBuy?.code.toLowerCase() }}flag.svg"
        class="currency_section_img_currency mr_16" />
      <p class="currency_section_text_currency">
        {{ currentCurrencyBuy?.code }}
      </p>
      <img
        src="assets/icons/up_arrow.svg"
        class="currency_section_img_arrow_down"
        [ngStyle]="{ transform: showBuyDropdown ? '' : 'rotate(180deg)' }" />
    </div>
    <ng-container *ngIf="showBuyDropdown">
      <div [ngClass]="showBuyDropdown ? 'dropdown_open_buy' : 'dropdown_close'">
        <div
          class="currency_select"
          *ngIf="currencyTypeListBuy && currencyTypeListBuy.length !== 0">
          <div
            *ngFor="let item of currencyTypeListBuy"
            class="currency_select_item"
            (click)="changeCurrentBuy(item)">
            <div class="currency_select_item_wrapper">
              <img
                src="assets/icons/{{ item.code.toLowerCase() }}flag.svg"
                class="currency_select_item_img" />
              <p class="currency_select_item_text1">{{ item.code }}</p>
              <p class="currency_select_item_line">-</p>
            </div>
            <p class="currency_select_item_text2">
              {{ getCurrencyDescription(item)?.name }}
            </p>
          </div>
        </div>
        <div
          class="currency_empty"
          *ngIf="!currencyTypeListBuy || currencyTypeListBuy.length === 0">
          <p>{{ 'operations.default.emptyList' | translate }}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <!--        Покупка банком-->
</div>
