<div>
  <section class="fx_page_back_btn">
    <ob-back-button [currentPage]="'currency_controll'"></ob-back-button>
  </section>

  <div class="row mb-114">
    <div class="col-lgdt-12 col-dt-12 col-smdt-12">
      <ob-fx-currencyes> </ob-fx-currencyes>
    </div>

    <div class="col-lgdt-5 col-dt-5 col-smdt-5 mt_32">
      <ob-fx-add-trading-signal> </ob-fx-add-trading-signal>
    </div>

    <div class="col-lgdt-7 col-dt-7 col-smdt-7 mt_32">
      <ob-fx-trading-signal-table> </ob-fx-trading-signal-table>
    </div>

    <div class="col-lgdt-12 col-dt-12 col-smdt-12 mt_32">
      <ob-fx-currencyes-graph> </ob-fx-currencyes-graph>
    </div>
  </div>
</div>
