<div class="custom-tooltip" *ngIf="type === 'purpose'">
  <h1>{{ 'operations.payments.purpose' | translate }}</h1>
  <p>{{ 'default.texts.transfer-purpose' | translate }}</p>
</div>

<div class="custom-tooltip" *ngIf="type === 'knp'">
  <h1>{{ 'operations.default.knp' | translate }}</h1>
  <p>{{ 'operations.countragent.info_text_knp' | translate }}</p>
  <p>{{ 'default.texts.search-instraction' | translate }}</p>
</div>

<div class="custom-tooltip" *ngIf="type === 'knp_kbk'">
  <h1>{{ 'operations.budget.knp-cbc' | translate }}</h1>
  <p>{{ 'default.texts.knp-cbc-desc' | translate }}</p>
  <p>{{ 'default.texts.search-instraction' | translate }}</p>
</div>

<div class="custom-tooltip" *ngIf="type === 'kbe'">
  <h1>{{ 'default.kbe-desc' | translate }}</h1>
  <div>
    <p>{{ 'default.texts.benefiсiary-code' | translate }}:</p>
    <ul>
      <li>{{ 'default.texts.too-17' | translate }}</li>
      <li>{{ 'default.texts.ip-fiz-19' | translate }}</li>
      <li>{{ 'default.texts.foreign-company' | translate }}</li>
    </ul>
  </div>
  <div>
    <p>{{ 'default.texts.code-desc' | translate }}</p>
  </div>
</div>
<div class="custom-tooltip" *ngIf="type === 'repatriation'">
  <h1>{{ 'currencyControl.contract.repatriation' | translate }}</h1>
  <div>
    <p>{{ 'currencyControl.contract.repatriation-info' | translate }}</p>
  </div>
</div>

<div class="custom-tooltip" *ngIf="type === 'inn'">
  <div>
    <p>{{ 'currencyControl.currencyTransfer.innTooltip' | translate }}</p>
  </div>
</div>
