<div class="modal-header">
  <div>
    <p class="modal-title">{{ modalTitle }}</p>
  </div>
  <img
    src="assets/icons/ic_cancel.svg"
    class="modal-header_btn_close"
    (click)="closeModal()" />
</div>
<div class="modal-body">
  <ob-loader [loading]="loading">
    <div class="wrapper">
      <div class="doc-type">
        {{ 'operations.imports.fileType' | translate }}
      </div>
      <div class="doc-type-tabs">
        <ob-tab-selects
          [list]="docTypes"
          (docType)="changeDocType($event)"></ob-tab-selects>
        <div class="modal-tab-select"></div>
      </div>
      <!-- <div class="docs">{{'operations.imports.files' | translate}}</div> -->
      <!-- <div class="text-muted">
        {{'operations.imports.fileDetail' | translate}}
      </div> -->
      <div class="form-floating">
        <div
          class="file-drop-area"
          [ngClass]="{ 'file-over': fileOver, error_area: error !== '' }">
          <span class="file-message"
            >{{ 'operations.imports.fileMovement' | translate }}<br />
            {{ 'general.or' | translate }}
            <span class="choose-file-button">{{
              'operations.imports.fileLoading' | translate
            }}</span></span
          >
          <input
            class="form-control file-input"
            type="file"
            (change)="fileChange($event)"
            multiple
            required="required"
            #fileInput />
        </div>
      </div>
      <div class="error" *ngIf="error">
        <p class="error_text">{{ error }}</p>
      </div>
      <div *ngIf="file">
        <div class="uploaded-file">
          <p class="uploaded-file__name text_min">{{ file.name }}</p>
          <span class="uploaded-file__delete">
            <img
              src="./assets/icons/ic_delete.svg"
              alt="icon_delete"
              (click)="deleteDoc()" />
          </span>
        </div>
      </div>
    </div>
  </ob-loader>
</div>

<div class="modal-footer">
  <ob-button
    [label]="'Загрузить'"
    [className]="'btn h-52 br-12 p-24 w-100'"
    [onClick]="uploadFile"
    [loading]="loading"
    [disabled]="loading"
    class="upload-btn"></ob-button>
</div>
