@import "/src/styles/main";
.dropdown-container {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 8px 34px rgba(10, 15, 45, 0.08));
  position: absolute;
  z-index: 1;
  background: #ffffff;
  border-radius: 12px;
  min-height: 120px;
  max-height: 360px;

  &__title {
    color: #88999C;
    font-weight: 500;
    font-size: 12px;
    line-height: 15.6px;
    letter-spacing: 0.02;
    margin: 24px 0 0 24px;
  }
  &-ul {
    padding: 13px;
    overflow-y: scroll;
  }
  &-ul li {
    text-decoration: none;
    border-bottom: 1px solid #e7e7e7;
    color: #88999c;
    padding: 16px 0 16px 24px;
    display:flex; 
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
  
    span {
      color: #2A353D;
      font-weight: 600;
      padding-right: 16px;
    }
  }
  &-ul li:hover {
    background-color: #f2f7f7;
    cursor: pointer;
  }
}

