<div class="connect-tariff" [formGroup]="connectTariffForm">
  <ob-loader [loading]="isTariffGroupsLoading">
    <div class="connect-tariff__header">
      <h1 class="connect-tariff__title">{{ mainInfo?.name }}</h1>
      <div class="connect-tariff__line" [ngStyle]="getColor()"></div>
      <div
        class="connect-tariff__default"
        *ngIf="tariffName === 'DEFAULT'"
        [innerText]="mainInfo?.description.replaceAll('\n\n', '\n')"></div>
      <ul class="connect-tariff__descriptions" *ngIf="tariffName !== 'DEFAULT'">
        <li *ngFor="let item of getDescriptionList()">{{ item }}</li>
      </ul>
    </div>
    <div class="connect-tariff__body">
      <ng-template [ngIf]="!isDetails">
        <section class="mb-32">
          <p class="connect-tariff__subtitle mb-16">
            {{ 'settings.tarif.choosePeriod' | translate }}
          </p>
          <div class="period-list">
            <div class="row flex-nowrap period-list__wrapper">
              <div
                *ngFor="let item of tariffInfo; let i = index"
                class="col-dt-3 col-tb-3 col-mb-3 col-lgdt-3"
                style="display: inline-block">
                <div
                  class="period-list__item"
                  [ngClass]="{ selected: i === selectedInd }"
                  (click)="onPeriodSelect(i, item)">
                  <div
                    *ngIf="item.discount !== 0"
                    class="period-list__item-discount">
                    <p>- {{ item.discount }}%</p>
                  </div>
                  <div
                    *ngIf="i === selectedInd"
                    class="period-list__item-selected_text">
                    <p>{{ 'settings.tarif.selected' | translate }}</p>
                  </div>
                  <p class="period-list__item-final_cost">
                    {{ getFormattedAmount(item.finalCost) | amountPipe }} ₸
                  </p>
                  <div class="period-list__item-cost">
                    {{
                      item.discount !== 0
                        ? (getFormattedAmount(item.cost) | amountPipe) + ' ₸'
                        : ''
                    }}
                  </div>
                  <p class="period-list__item-period">
                    {{ item.period }} {{ getTextMonths(item.period) }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="mb-40">
          <p class="connect-tariff__subtitle mb-16">
            {{ 'settings.tarif.chooseAccountToPay' | translate }}
          </p>
          <div
            class="col-dt-4 col-tb-4 col-mb-12 mb-24"
            id="bootstrap-overrides-transfer-from">
            <ng-select
              formControlName="selectedAccount"
              class="custom-select account-withdraw"
              [clearable]="false"
              [searchable]="false"
              [loading]="isAccountsLoading"
              required
              dropdownPosition="bottom"
              notFoundText="{{ 'default.not_found' | translate }}"
              placeholder="{{ 'operations.transfers.accountFrom' | translate }}"
              loadingText="{{ 'default.loading' | translate }}..."
              id="selectedAccount"
              [readonly]="isAccountsLoading"
              [ngClass]="displayFieldClass('selectedAccount')">
              <ng-option *ngFor="let item of accountList" [value]="item">
                <ob-select-account
                  [description]="item.iban"
                  [title]="item.actualBalance"
                  [icon]="getIcon(item.currency)"
                  [currency]="item.currency"></ob-select-account>
              </ng-option>
            </ng-select>
            <ob-field-error-display
              *ngIf="
                connectTariffForm.controls.selectedAccount.errors?.required
              "
              [displayError]="isFieldInvalid('selectedAccount')"
              errorMsg="{{ 'error.account_not_selected' | translate }}">
            </ob-field-error-display>
          </div>
        </section>
      </ng-template>
      <ob-loader
        [loading]="isDetailsLoading"
        [ngClass]="{ 'loader-container': isDetailsLoading }">
        <section>
          <p class="connect-tariff__subtitle mb-16">
            {{ 'settings.tarif.details' | translate }}
            {{ mainInfo?.name }}
            <span *ngIf="selectedItem?.period">
              {{ 'settings.tarif.for' | translate }}
              {{ selectedItem?.period }}
              {{ getTextMonths(selectedItem?.period) }}
            </span>
          </p>

          <div class="tariff-details">
            <div class="tariff-details__title">
              <div class="col-dt-6 col-tb-6 col-mb-6 col-lgdt-6">
                <p>{{ 'default.name' | translate | uppercase }}</p>
              </div>
              <div class="col-dt-6 col-tb-6 col-mb-6 col-lgdt-6">
                <p>{{ 'default.cost' | translate | uppercase }}</p>
              </div>
            </div>
            <div
              class="tariff-details__row"
              *ngFor="
                let item of isShowDescription || isDetails
                  ? tariffDetailsList
                  : tariffDetailsList?.slice(0, 4)
              ">
              <div class="col-dt-6 col-tb-6 col-mb-6 col-lgdt-6">
                <p
                  class="tariff-details__text-main"
                  [innerText]="item.tariffName"></p>
              </div>
              <div class="col-dt-6 col-tb-6 col-mb-6 col-lgdt-6">
                <p
                  class="tariff-details__text-secondary"
                  [innerText]="item.monthPay"></p>
              </div>
            </div>
            <div
              *ngIf="!isDetails"
              (click)="isShowDescription = !isShowDescription"
              class="tariff-details__more">
              <p class="tariff-details__text-green">
                {{ 'settings.notification.more' | translate }}
              </p>
              <span>
                <img
                  src="assets/icons/ic_green-arrow.svg"
                  [ngClass]="isShowDescription ? 'hide' : 'show'" />
              </span>
            </div>
          </div>
        </section>
      </ob-loader>
    </div>
  </ob-loader>
</div>
<ob-payment-footer
  *ngIf="!isDetails"
  [operationType]="'tariff'"
  (toConnect)="fieldsValidation()"
  [isTariffConnect]="true"
  [loading]="isAccountsLoading"
  [selectedTaRiff]="this.selectedItem">
</ob-payment-footer>
