.modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    border-color: #fff;
    border-radius: 8px;
  }
  .modal-header {
    border-bottom: 0 none;
  }

  .modal-footer {
    border-top: 0 none;
  }
  .card {
    border: none;
  }

  .btn-main {
    padding: 9px 35px;
    background-color: #11bb91;
    border-radius: 8px;
    color: #fff;
  }
  .close {
    background-color: #fff;
  }
}

button { 
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.contact {
  padding: 24px;
  &-header {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;

    &_btn_close {
      width: 32px;
      height: 32px;
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
      transition: 0.3s;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  &-item {
    display: flex;
    margin-bottom: 16px;
    
    &:last-child {
      margin: 0;
    }
    
    img {
      width: 36px;
      height: 36px;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 12px;

      &__title {
        font-size: 14px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.02em;
        cursor: pointer;
        text-decoration: none;
        color: #263238;
        &:hover {
          color: #263238;
        }
      }
      &__subtitle {
        font-size: 12px;
        font-weight: 500;
        color: #829199;
      }
      &__name {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 8px;
        color: #263238
      }
      &__phone {
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        color: #263238;
        &:hover {
          color: #263238;
        }
      }
    }
  }
}