@import '/src/styles/variables.scss';

.operation {
  background: #fff;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 12px;

  &_table {
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 32px;
    margin-bottom: 32px;

    &_title {
      font-size: $font-size-medium;
      font-weight: 700;
      margin-bottom: 32px;
    }
  }

  &_type {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }
}

.last_operations {
  &_type {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  &_view_all {
    color: #11bb91;
    font-size: 14px;
    font-weight: 700;
  }

  &_title {
    font-weight: 700;
    font-size: 16px;
    color: #263238;
  }
}

.exchange {
  background: #fff;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 12px;

  &_title {
    font-size: $font-size-medium;
    font-weight: 700;
  }

  &_rate {
    font-weight: 500;
    font-size: 12px;
    color: #829199;
  }

  &_fx {
    font-weight: 700;
    font-size: 14px;
    color: #11bb91;
    cursor: pointer;
  }
}

.mb {
  &_24 {
    margin-bottom: 24px;
  }

  &_16 {
    margin-bottom: 16px;
  }

  &_4 {
    margin-bottom: 4px;
  }
}
.control-options {
  display: flex;
  margin-bottom: 32px;

  &__name {
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    height: 44px;
    width: fit-content;
    border: 1px solid #d0d6d8;
    border-radius: 50px;
    padding: 13px 24px;
    margin-right: 16px;
    cursor: pointer;
    text-align: center;
  }

  &__active {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    color: #fff;
    background: #263238;
    border: 1px solid #263238;
  }
}
