.ng-select {
  .ng-select-container {
    /* cursor: default; */
    display: flex;
    outline: none;
    overflow: hidden;
    position: relative;
    padding-right: 11px;
    /* width: 100%; */
  }
  .ng-clear-wrapper {
    align-self: flex-end;
    bottom: 7px;
    display: none;
  }
  .ng-arrow-wrapper {
    align-self: flex-end;
    bottom: 9px;
    // background-image: url("/assets/icons/Path.svg");
    background-repeat: no-repeat;
  }
}
.ng-select.custom-select
  .ng-select-container
  .ng-value-container
  .ng-input {
  padding-top: 10px;
}

.ng-select .ng-select-container .ng-value-container {
  // padding-left: 12px !important;
  padding-left: 16px !important;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #829199;
}
.ng-select.custom-select {
  // border: 1px solid #d0d6d8;
  min-height: 52px;
  border-radius: 12px;
  padding: 0;
  width: 100%;

  & > div {
    // border: 1px solid #ccc;
    border-radius: 12px;
    height: 56px !important;
    width: 100%;
    cursor: pointer;
  }
}

.ng-select.custom-select.ng-select-single
  .ng-select-container
  .ng-value-container
  .ng-value {
  white-space: normal;
}
.ng-select.custom-select
  .ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option {
  white-space: normal;
}
.ng-select.custom-select.is-invalid {
  outline: 1px solid #dc3545;
}
.ng-select.custom-select.is-invalid.ng-select-focused {
  outline: none;
  border: none;
}
.ng-select.custom-select.ng-select-focused {
  border: none !important;
}
.ng-select.custom-select .ng-arrow-wrapper {
  bottom: 0;
  align-self: center;

  .ng-arrow {
    border: solid #88999c;
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.ng-select.custom-select.ng-select-opened > .ng-select-container .ng-arrow {
  border: solid #88999c;
  border-width: 0px 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 0px !important;
  margin-top: 10px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.ng-select .ng-arrow-wrapper {
  bottom: 0;
  align-self: center;
  // padding-right: 16px;
  margin-right: 4px;
}

// .ng-select.custom-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
//   padding: 0 12px
// }

// .ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
//   display: none;
// }

.ng-select.custom .ng-select-container {
  min-height: 3.5rem;
  border-radius: 8px;
}

.ng-select.lang-select .ng-arrow-wrapper {
  bottom: 0;
  align-self: center;

  .ng-arrow {
    border: solid black;
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.ng-select.lang-select.ng-select-opened > .ng-select-container .ng-arrow {
  border: solid black;
  border-width: 0px 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 0px !important;
  margin-top: 10px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.ng-select.lang-select.ng-select-focused > div {
  border: none !important;
}

.ng-select.ng-select-single .ng-select-container {
  border: 1px solid #d0d6d8;
  border-radius: 12px;
}

.ng-select.ng-select-single.is-invalid .ng-select-container {
  border: none;
}

.ng-select.custom .ng-select-container {
  min-height: 3.5rem;
  border-radius: 8px;
}

.ng-select.ng-select-single
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-disabled {
  // font-size: 12px;
  font-weight: 500;
  color: #88999c !important;
}

.loader.ng-star-inserted {
  margin-left: 0.5rem;
}

#bootstrap-overrides {
  .ng-dropdown-panel .ng-dropdown-panel-items {
    max-height: 252px !important;
    // width: 55.8rem !important;
    max-width: 60rem;
    min-width: 100%;
    box-shadow: 0px 0px 32px rgba(80, 92, 100, 0.05),
      0px 4px 20px rgba(42, 53, 61, 0.1);
    border-radius: 12px;
    background-color: #fff;
  }
  .ng-select-container .ng-has-value {
    border-radius: 12px;
  }
  .ng-select.ng-select-opened.ng-select-top>.ng-select-container, .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
    border-radius: 12px;
  }

  .ng-dropdown-panel{
    border: none;
    &.ng-select-top {
      margin-bottom: 4px;
      margin-left: -1px;
      border-radius: 12px;
    }
    .ng-select .ng-select-container .ng-value{
      color: $color-light-black;
    }
  }

  .ng-option{
    border-bottom: none !important;
    padding: 0 24px;
    &:first-child {
      padding-top: 24px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      .knp {
        padding-top: 0px;
      }
    }
    &:last-child {
      padding-bottom: 24px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      .knp {
        border-bottom: none !important;
        padding-bottom: 0 !important;
      }
    }

    &-marked {
      background-color: #f6f6f6;
    }
  }

  .ng-select.dropdown-large .ng-dropdown-panel .ng-dropdown-panel-items {
    width: 55.8rem !important;
  }
}

#bootstrap-overrides-knp-cbc {
  .ng-dropdown-panel .ng-dropdown-panel-items {
    max-height: 25rem !important;
    width: 208% !important;
    max-width: 56rem;
    box-shadow: 0px 0px 32px rgba(80, 92, 100, 0.05),
      0px 4px 20px rgba(42, 53, 61, 0.1);
    border-radius: 12px;
    background-color: #fff;
  }
  .ng-select .ng-select-container.ng-has-value {
    border-radius: 12px;
    .ng-value {
      .cbc-container-ul {
        padding: 0 !important;
        border-bottom: none !important;

        &__name {
          font-weight: 500;
          color: $color-light-black;
        }
      }
    }
  }

  .ng-dropdown-panel{
    border: none;
    &.ng-select-top {
      margin-bottom: 4px;
      margin-left: -1px;
      border-radius: 12px;
    }
  }

  .ng-select.ng-select-opened.ng-select-top>.ng-select-container {
    border-radius: 12px;
  }

  .ng-option{
    border-bottom: none !important;
    padding: 0 24px;
    &:first-child {
      padding-top: 24px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      .cbc-container-ul {
        padding-top: 0px;
      }
    }
    &:last-child {
      padding-bottom: 24px;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      .cbc-container-ul {
        border-bottom: none !important;
        padding-bottom: 0 !important;
      }
    }

    &-marked {
      background-color: #f6f6f6;
    }
  }

  .ng-select.dropdown-right {
    .ng-dropdown-panel .ng-dropdown-panel-items {
      float: right;
    }
  }
}

#bootstrap-overrides-bin {
  .ng-dropdown-panel .ng-dropdown-panel-items {
    max-height: 28rem !important;
    width: 600px !important;
    max-width: 702px;
    min-width: 100%;
    box-shadow: 0px 0px 32px rgba(80, 92, 100, 0.05),
      0px 4px 20px rgba(42, 53, 61, 0.1);
    border-radius: 12px;
    background-color: #fff;
  }
  .ng-select-container .ng-has-value {
    border-radius: 12px;
  }

  .ng-dropdown-panel{
    border: none;

    .ng-option{
      border-bottom: none !important;
      padding-left: 24px;
      padding-right: 24px;
      &:first-child {
        padding-top: 24px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        padding-bottom: 0;
      }
      &:last-child {
        padding-bottom: 24px;
        .container-el {
          border-bottom: none !important;
          padding-bottom: 0 !important;
        }
      }
      &:not(:first-child, :last-child) {
        padding-top: 12px;
        padding-bottom: 0;
      }

      &-marked {
        background-color: #f6f6f6;
      }
    }
  }

  .ng-select-container .ng-arrow-wrapper {
    height: 24px !important;
    width: 24px !important;
    background-image: url('../../assets/icons/ic_search.svg') !important;
    background-repeat: no-repeat !important;

    .ng-arrow{
      display: none;
    }
  }
  
  .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
    border-radius: 12px;
  }
}

#bootstrap-overrides-region {
  .ng-select.custom-select {
    .ng-dropdown-panel .ng-dropdown-panel-items {
      max-height: 264px !important;
      border-radius: 12px;
      background-color: #fff;
    }
    .ng-dropdown-panel {
      border: none;
      &.ng-select-bottom {
        margin-top: 4px;
        margin-left: -1px;
        border-radius: 12px;
      }

      .ng-option {
        padding: 12px 24px !important;
        position: relative;
        line-height: 130% !important;
        border-bottom: none !important;
        &:first-child {
          padding-top: 24px !important;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
        }
        &:last-child {
          padding-bottom: 24px !important;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
          &::after {
            height: 0 !important;
            border-top: none !important;
          }
        }
        &-marked {
          background-color: #f6f6f6;
        }
        &-selected {
          font-weight: 500 !important;
          background-color: #f6f6f6 !important;
        }
        &-disabled {
          color: #88999c;
          &:first-child {
            padding-top: 16px !important;
          }
          &:last-child {
            padding-bottom: 16px !important;
          }
        }
        &-label {
          font-size: 14px !important;
          font-weight: 500 !important;
          line-height: 130% !important;
          color: $color-light-black;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 24px;
          right: 24px;
          height: 1px;
          border-top: 1px solid #d0d6d8;
        }
      }
    }
  }
  .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
    border-radius: 12px !important;
  }

  .ng-select .ng-select-container .ng-value{
    color: $color-light-black;
  }
}

#bootstrap-overrides-purpose {
  .ng-select.custom-select {
    .ng-dropdown-panel .ng-dropdown-panel-items {
      max-height: 264px !important;
      border-radius: 12px;
      background-color: #fff;
    }
    .ng-dropdown-panel {
      border: none;
      &.ng-select-bottom {
        margin-top: 4px;
        margin-left: -1px;
        border-radius: 12px;
      }

      .ng-option {
        padding: 12px 24px !important;
        position: relative;
        line-height: 130% !important;
        border-bottom: none !important;
        &:first-child {
          padding-top: 24px !important;
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
        }
        &:last-child {
          padding-bottom: 24px !important;
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
          &::after {
            height: 0 !important;
            border-top: none !important;
          }
        }
        &-marked {
          background-color: #f6f6f6;
        }
        &-selected {
          font-weight: 500 !important;
          background-color: #f6f6f6 !important;
        }
        &-disabled {
          color: #88999c;
          &:first-child {
            padding-top: 16px !important;
          }
          &:last-child {
            padding-bottom: 16px !important;
          }
        }
        &-label {
          font-size: 14px !important;
          font-weight: 500 !important;
          line-height: 130% !important;
          color: $color-light-black;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 24px;
          right: 24px;
          height: 1px;
          border-top: 1px solid #d0d6d8;
        }
      }
    }
  }
  .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
    border-radius: 12px !important;
  }

  .ng-select .ng-select-container .ng-value{
    color: $color-light-black;
  }
}

.ng-dropdown-panel.ng-select-bottom {
  border: none;
  border-radius: 12px;
  margin-top: 4px;
}
.ng-dropdown-panel.ng-select-top {
  border: none;
  border-radius: 12px;
  margin-bottom: 4px;
}
.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: none !important;
  box-shadow: none !important;
}
.ng-select.ng-select-focused {
  outline: none;

  & > div {
    outline: 2px solid $color-green !important;
    outline-offset: -2px;
    border-radius: 12px !important;
  }
}
.ng-dropdown-panel.ng-select-bottom ,.ng-dropdown-panel.ng-select-top{
  .ng-dropdown-panel-items {
    border-radius: 12px;
    box-shadow: 0px 0px 32px rgb(80 92 100 / 5%), 0px 4px 20px rgb(42 53 61 / 10%);
  }
}

.ng-select-container.ng-has-value {
  font-size: 16px;
  font-weight: 500;
}

#bootstrap-overrides, #bootstrap-overrides-knp-cbc, #bootstrap-overrides-bin {
  &.ng-dropdown-panel .ng-dropdown-panel-items {
    border-radius: 12px;

    &::-webkit-scrollbar-track {
      background: transparent;
      border: 1px solid #E1E9EA;
      border-radius: 10px;
    }
    
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
    
    &::-webkit-scrollbar-button {
      background: transparent;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #999999;;
      border-radius: 7px;
      width: 4px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      transition: 0.2s;
      background: #888888;
    }
  }
}

.ng-select.knp-cbc-select {
  min-height: 56px;
  border-radius: 12px;
  padding: 0;

  & > div {
    border-radius: 12px;
    height: auto !important;
    min-height: 56px;
    width: 100%;
    cursor: pointer;
  }
}

.ng-select.knp-cbc-select.is-invalid {
  outline: 1px solid #dc3545;
}

.ng-select.knp-cbc-select.is-invalid.ng-select-focused {
  outline: none;
  border: none;
}
.ng-select.knp-cbc-select.ng-select-focused {
  border: none !important;
}
.ng-select.knp-cbc-select .ng-arrow-wrapper {
  bottom: 0;
  align-self: center;

  .ng-arrow {
    border: solid #88999c;
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.ng-select.knp-cbc-select.ng-select-opened > .ng-select-container .ng-arrow {
  transition: 0.2s;
  border: solid #88999c;
  border-width: 0px 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 0px !important;
  margin-top: 10px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.ng-select.knp-cbc-select
  .ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option {
  border-bottom: 1px solid #e1e9ea !important;
  white-space: normal;
}
.ng-select .ng-dropdown-panel .scroll-host {
  scrollbar-color: #88999c #fff;
  scrollbar-width: thin;
  font-size: 16px;
  .ng-option {
    border-bottom: 1px solid #e1e9ea;
  }
  .ng-option.ng-option-marked {
    border-bottom: 1px solid #e1e9ea;
    background-color: #f6f6f6;
  }
}
.ng-select
  .ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-disabled {
  color: #88999c;
  padding: 16px 24px !important;
  &[role="option"] {
    padding: 0 !important;
    display: none;
  }
}

.ng-select.padding-disabled
  .ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-disabled {
  &[role="option"] {
    padding: 16px 24px !important;
  }
}

//скрывает иконку выбранной опции на поле ввода
.ng-value-container .ng-value .select-option__tick {
  display: none;
}

#bootstrap-overrides-transfer-from{
  .ng-select-container {
    background: url('../../assets/icons/transfer_from.svg') !important;
    background-repeat: no-repeat !important;
    background-position: 12px center !important;
    .ng-placeholder {
      padding-left: 48px !important;
    }

    .ng-input {
      padding-left: 64px;
      font-size: 16px;
    }

    &.ng-has-value {
      background: none !important;
    }
  }
  .ng-select.floating-label .ng-select-container .ng-value-container .ng-input > input {
    padding-left: 0;
  }
  .ng-select-filtered {
    background: url('../../assets/icons/transfer_from.svg') !important;
    background-repeat: no-repeat !important;
    background-position: 14px center !important;
  }
}

#bootstrap-overrides-debit-form{
  .ng-select-container {
    background: url('../../assets/icons/transfer_from.svg') !important;
    background-repeat: no-repeat !important;
    background-position: 12px center !important;
    .ng-placeholder {
      padding-left: 64px !important;
    }

    .ng-input {
      padding-left: 64px !important;
      font-size: 16px;
    }

    &.ng-has-value {
      background: none !important;
    }
  }

  .ng-select-filtered {
    background: url('../../assets/icons/transfer_from.svg') !important;
    background-repeat: no-repeat !important;
    background-position: 14px center !important;
  }
}

#bootstrap-overrides-credit-form{
  .ng-select-container {
    background: url('../../assets/icons/transfer_to.svg') !important;
    background-repeat: no-repeat !important;
    background-position: 12px center !important;
    .ng-placeholder {
      padding-left: 64px !important;
    }

    .ng-input {
      padding-left: 64px !important;
      font-size: 16px;
    }

    &.ng-has-value {
      background: none !important;
    }
  }

  .ng-select-filtered {
    background: url('../../assets/icons/transfer_to.svg') !important;
    background-repeat: no-repeat !important;
    background-position: 14px center !important;
  }

}

#bootstrap-overrides-account-history{
  .ng-input{
    font-size: 14px !important;
  }
}

#bootstrap-overrides-transfer-to{
  .ng-select-container {
    background: url('../../assets/icons/transfer_to.svg') !important;
    background-repeat: no-repeat !important;
    background-position: 12px center !important;
    .ng-placeholder {
      padding-left: 48px !important;
    }
    
    .ng-input {
      padding-left: 64px;
      font-size: 16px;
    }

    &.ng-has-value {
      background: none !important;
    }
  }
  .ng-select.floating-label .ng-select-container .ng-value-container .ng-input > input {
    padding-left: 0;
  }

  .ng-select-filtered {
    background: url('../../assets/icons/transfer_to.svg') !important;
    background-repeat: no-repeat !important;
    background-position: 14px center !important;
  }
}

.ng-select.custom-select {
  .ng-dropdown-panel .ng-option{
    &:first-child {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;      
    }

    &:last-child {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      .select-option {
        border-bottom: none;
      }
    }
    &-selected {
      font-weight: 500 !important;
      background-color: #f6f6f6 !important;
    }
  }
}

@media screen and (max-width: 1120px) {
  #bootstrap-overrides {
    .ng-dropdown-panel .ng-dropdown-panel-items {
      width: 530px !important;
    }
  }
}

@media screen and (max-width: 899px) {
  #bootstrap-overrides {
    .ng-dropdown-panel .ng-dropdown-panel-items {
      width: auto !important;
    }
  }
}

@media screen and (max-width: 720px) {
  #bootstrap-overrides-knp-cbc, #bootstrap-overrides-bin {
    .ng-dropdown-panel .ng-dropdown-panel-items {
      width: auto !important;
    }
  }
}

.ng-select.floating-label {
  &.ng-select-focused.ng-select-opened {
    .ng-value-container {
      .ng-value {
        font-size: $font-size-medium;
        line-height: 130%;    
      }
    }
    .ng-value-container .ng-placeholder {
      position: absolute;
      top: 8px;
      left: 16px;
      font-size: $font-size-extra-small;
      color: $color-gray-middle;
      opacity: 0.65;
    }
  }
  .ng-placeholder {
    display: block;
    transition: all 0.1s;
  }

  .ng-has-value .ng-value-container {
    .ng-placeholder {
      display: block;
      position: absolute;
      top: 8px;
      left: 16px;
      font-size: $font-size-extra-small;
      color: $color-gray-middle;
      opacity: 0.65;
    }
  }

  .ng-select-container .ng-value-container .ng-input {
    top: 0;
    padding-right: 40px;
    padding-top: 23px;
    padding-left: 16px;

    input {
      color: $color-light-black;
      font-weight: 500;
      font-size: $font-size-medium;
      letter-spacing: 0.02em;
    }
  }

  .ng-has-value .ng-value-container {
    padding-top: 16px;
    .ng-value {
      font-size: $font-size-medium;
      line-height: 130%;
    }
  }

  &.custom-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    white-space: nowrap;
    overflow: hidden;
  }

  &.ng-select.ng-select-filtered .ng-placeholder {
    display: block;
  }
}

.ng-select.discharge-input {
  .ng-dropdown-panel .ng-dropdown-panel-items{
    padding: 8px 0;
    .ng-option {
      border: none !important;
      margin: 0 4px;
      padding: 10px 12px;
      border-radius: 8px;
      &-label {
        font-size: 14px !important;
        font-weight: 500 !important;
        line-height: 130% !important;
        color: $color-light-black;
      }
      &-marked {
        background-color: #f6f6f6;
      }
      &-selected {
        font-weight: 500 !important;
        background-image: url('../../assets/icons/ic_check_mark.svg');
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: right;
        background-color: transparent !important;
      }
    }
  }
}

.ng-select.search-list-icon {
    .ng-select-container .ng-arrow-wrapper {
        height: 24px !important;
        width: 24px !important;
        background-image: url('../../assets/icons/search_list.svg') !important;
        background-repeat: no-repeat !important;
    
        .ng-arrow{
            display: none;
        }
    }
}