@import "/src/styles/variables.scss";

#savings .modal{
  &_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 32px 24px 32px;

    &_title {
      font-weight: 800;
      font-size: 26px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #262727;

    }
    &_btn{
      width: 32px;
      height: 32px;
      margin-top: -16px;
      margin-right: -16px;
      cursor: pointer;
    }
  }

  &_body{
    display: flex;
    flex-direction: column;
    padding: 8px 32px 48px 32px;
  }

  &-footer {
		justify-content: flex-start;
		padding: 24px 32px 32px;
    & > * {
      margin: 0 !important;
    }
	}

  &-wrapper {
		min-height: 220px;
	}
}

#savings .body {
  &-info {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &-main {
      width: 220px;
      margin-right: 32px;
      font-weight: 500;
      color: $color-gray-middle;
    }

    &-secondary {
      max-width: 300px;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #2A353D;
    }
  }
}

.alert {
  border-color: transparent !important;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.alert-params {
  margin: 0 0 1rem 0 !important;
}

.alert-danger {
  color: #842029 !important;
  background-color: #f8d7da !important;
}