<div id="savings">
  <div class="modal-wrapper">
    <div class="modal_header">
      <p class="modal_header_title">
        {{ 'acccountSavings.credit.credit-info' | translate }}
      </p>

      <img
        src="assets/icons/ic_cancel.svg"
        class="modal_header_btn"
        (click)="closeModal()" />
    </div>
    <div class="modal_body">
      <ng-template [ngIf]="type === 'credit'">
        <div class="body-info">
          <span class="body-info-main">{{ 'default.naming' | translate }}</span>
          <span class="body-info-secondary">{{
            capitalizeFirstLetter(data.purName)
          }}</span>
        </div>
        <div class="body-info">
          <span class="body-info-main">{{
            'products.default.open-date' | translate
          }}</span>
          <span class="body-info-secondary">{{
            formatDate(data.fromDate)
          }}</span>
        </div>
        <div class="body-info">
          <span class="body-info-main">{{
            'products.default.contract-number' | translate
          }}</span>
          <span class="body-info-secondary">{{ data.number }}</span>
        </div>
        <div class="body-info">
          <span class="body-info-main">{{
            'products.default.credit-amount' | translate
          }}</span>
          <span class="body-info-secondary"
            >{{ formatAmount(data.sdok) | amountPipe }}
            {{ helperService.formatCurrency(data.currency) }}</span
          >
        </div>
        <div class="body-info">
          <span class="body-info-main">{{
            'acccountSavings.deposit.rewardRate' | translate
          }}</span>
          <span class="body-info-secondary">{{ data.gesv }}%</span>
        </div>
        <div class="body-info">
          <span class="body-info-main">{{
            'default.currency' | translate
          }}</span>
          <span class="body-info-secondary">{{ data.valCode }}</span>
        </div>
        <div class="body-info">
          <span class="body-info-main">{{
            'products.default.end-date' | translate
          }}</span>
          <span class="body-info-secondary">{{ formatDate(data.toDate) }}</span>
        </div>
      </ng-template>
    </div>
    <div class="modal-footer">
      <ob-button
        [label]="'default.copy' | translate"
        [className]="'btn btn-outline-green height-medium br-12 p-24 mr-24'"
        [onClick]="copy">
      </ob-button>
      <ob-button
        [label]="'default.sendToMail' | translate"
        [className]="'btn btn-outline-green height-medium br-12 p-24 mr-24'"
        [onClick]="openMail">
      </ob-button>
    </div>
  </div>
</div>
