<nav class="login-header" *ngIf="!login">
  <div class="login-header-el">
    <img src="../../../assets/icons/logo.svg" alt="ob-logo" />
  </div>
  <div class="login-header-el">
    <!--        <span class="icon icon_lang"></span>-->
    <div class="lang-select">
      <ng-select
        #ngSelect
        [searchable]="false"
        [clearable]="false"
        [(ngModel)]="langValue"
        (change)="useLanguage()">
        <ng-option
          *ngFor="let lang of langs"
          [value]="lang.value"
          [ngClass]="{
            'ng-option-selected': langValue === lang.item
          }">
          <div class="select-option">
            <p>{{ lang.item }}</p>
          </div>
        </ng-option>
      </ng-select>
    </div>
    <!-- <span class="icon icon_down-arrow" (click)="openDropdown()"></span> -->
  </div>
</nav>

<nav *ngIf="login && !showSmallHeader" class="logged-header">
  <div class="top-header">
    <div class="top-header-inner">
      <a routerLink="/home">
        <img src="../../../assets/icons/logo.svg" alt="ob-logo" width="152px" />
      </a>
      <div class="top-header-inner-search">
        <!-- <span class="icon icon_search top-header__ic-search"></span>
                <input
                  class="form-control top-header__search-input"
                  type="text"
                  placeholder="{{ 'general.search' | translate }}"
                /> -->
      </div>
    </div>
    <div class="top-header-inner">
      <div class="top-header-inner-icons">
        <div #contact>
          <div class="header-icon" (click)="isShowContact()">
            <img src="./assets/icons/contact_telephone.svg" alt="icon" />
          </div>
          <ng-container *ngIf="showContact">
            <div
              [ngClass]="
                showContact ? 'contact-container-show' : 'contact-container'
              ">
              <p class="contact-header">
                {{ 'home.contacts.title' | translate }}
              </p>
              <div class="contact-body">
                <div *ngIf="false" class="contact-item">
                  <img src="./assets/icons/contact_delivery.svg" alt="" />
                  <div class="contact-item-inner">
                    <p class="contact-item-inner__subtitle">
                      {{ 'home.contacts.managerHeading' | translate }}
                    </p>
                    <a href="tel:+77273752525" class="contact-item-inner__phone"
                      >+ 7 (727) 375 25 25 вн. 45078</a
                    >
                  </div>
                </div>
                <div *ngIf="false" class="contact-item">
                  <img src="./assets/icons/contact_currency.svg" alt="" />
                  <div class="contact-item-inner">
                    <p class="contact-item-inner__subtitle">
                      {{ 'home.contacts.currencyHeading' | translate }}
                    </p>
                    <a href="tel:+77272585466" class="contact-item-inner__phone"
                      >+ 7 (727) 258 54 66</a
                    >
                  </div>
                </div>
                <div class="contact-item">
                  <img src="./assets/icons/contact_tech.svg" alt="" />
                  <div class="contact-item-inner">
                    <p class="contact-item-inner__subtitle">
                      {{ 'home.contacts.technicHeading' | translate }}
                    </p>
                    <a href="tel:9595" class="contact-item-inner__phone"
                      >8 (727) 259 72 27 {{ 'home.contacts.mob' | translate }}.
                      9595
                      <br />
                      8 8000 800 777 ({{ 'home.contacts.free' | translate }})</a
                    >
                  </div>
                </div>
                <div class="contact-item">
                  <img src="./assets/icons/contact_emailto.svg" alt="" />
                  <div class="contact-item-inner">
                    <p class="contact-item-inner__subtitle">
                      {{ 'home.contacts.bankEmailHeading' | translate }}
                    </p>
                    <a
                      href="mailto:online@halykbank.kz"
                      class="contact-item-inner__phone">
                      online@halykbank.kz
                    </a>
                  </div>
                </div>
                <div *ngIf="false" class="contact-item">
                  <img src="./assets/icons/contact_chat.svg" alt="" />
                  <div class="contact-item-inner">
                    <p class="contact-item-inner__title">
                      {{ 'home.contacts.chatHeading' | translate }}
                    </p>
                  </div>
                </div>
                <div *ngIf="false" class="contact-item">
                  <img src="./assets/icons/contact_mail.svg" alt="" />
                  <div class="contact-item-inner">
                    <a
                      href="mailto:halykbank@gmail.com"
                      class="contact-item-inner__title"
                      >{{ 'home.contacts.mailHeading' | translate }}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div style="position: relative" #profile>
        <div class="header-profile" (click)="isShowProfile($event)">
          <div class="profile-circle {{ getCircleColor(circleColor) }}">
            <span class="profile-circle__letter">{{
              contractFirstLetter
            }}</span>
          </div>
          <div class="header-profile-info">
            <p class="header-profile-info__company">{{ contractName }}</p>
            <p class="header-profile-info__name">{{ username | lowercase }}</p>
          </div>
          <span
            class="icon icon_dark_arrow"
            [ngStyle]="{
              transform: showProfile ? 'rotate(180deg)' : ''
            }"></span>
        </div>
        <ng-container *ngIf="showProfile">
          <div
            [ngClass]="
              showProfile ? 'profile-container-show' : 'profile-container'
            ">
            <div
              class="profile-header d-flex flex-column"
              (click)="onProfileClick($event)">
              <div class="d-flex flex-row">
                <div class="profile-header-inner">
                  <div
                    class="profile-header__circle {{
                      getCircleColor(circleColor)
                    }}">
                    {{ contractFirstLetter }}
                  </div>
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <p class="profile-header__username">{{ contractName }}</p>
                </div>
              </div>
              <div
                class="fields_section d-flex flex-column justify-content-between">
                <div class="d-flex flex-row">
                  <div class="d-flex flex-column justify-content-between">
                    <p class="field_head">{{ 'default.bin' | translate }}</p>
                    <div class="d-flex flex-row">
                      <p class="field_val">{{ contractBin }}</p>
                      <img
                        class="copy_img"
                        src="../../../assets/icons/copy.svg"
                        (click)="copyBin($event)" />
                    </div>
                  </div>
                  <div
                    class="field_right d-flex flex-column justify-content-between">
                    <p class="field_head">
                      {{ 'settings.company.contract' | translate }}
                    </p>
                    <div class="d-flex flex-row">
                      <p class="field_val">{{ contractNum }}</p>
                      <img
                        class="copy_img"
                        src="../../../assets/icons/copy.svg"
                        (click)="copyContract($event)" />
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row">
                  <div class="d-flex flex-column justify-content-between">
                    <p class="field_head">
                      {{ 'menu.current-user' | translate }}
                    </p>
                    <p class="field_val capitalize">
                      {{ username | lowercase }}
                    </p>
                  </div>
                </div>
              </div>
              <!-- <p class="profile-header__position">{{ position }}</p>-->
            </div>
            <div class="profile-body">
              <div class="d-flex flex-row">
                <p class="profile-body__title">
                  {{ 'menu.organizations' | translate }}
                </p>
                <p
                  class="profile-body__title_length"
                  *ngIf="contracts.length > 3">
                  ({{ contracts.length }})
                </p>
              </div>
              <div class="profile-contracts">
                <div
                  class="profile-item"
                  (click)="setContract(contract.contractNum, i)"
                  *ngFor="let contract of contracts; let i = index">
                  <div class="profile-item-inner">
                    <div class="profile-body-content">
                      <span
                        class="profile-circle profile-circle-small {{
                          getCircleColor(i)
                        }}">
                        <span
                          class="profile-circle__letter profile-circle-small__letter"
                          >{{ contract.name.substr(0, 2) }}</span
                        >
                      </span>
                      <div class="d-flex flex-column justify-content-between">
                        <p class="contract_name">
                          {{ contract.name }}
                        </p>
                        <div class="d-flex flex-row">
                          <p class="contract_field">
                            {{ 'default.bin' | translate }}: {{ contract.bin }},
                          </p>
                          <p class="contract_val">
                            {{ 'settings.company.contract' | translate }}:
                            {{ contract.contractNum }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="d-flex flex-grow-1 justify-content-center"
                      *ngIf="contract.contractNum === selected_one">
                      <div class="spin"></div>
                    </div>
                    <div
                      class="d-flex flex-grow-1 justify-content-center"
                      *ngIf="contract.contractNum === contractNum">
                      <div class="icon icon_tick profile-body__tick"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="profile-footer">
              <p
                class="profile-footer__settings"
                (click)="onSettingsClick($event)">
                {{ 'menu.settings' | translate }}
              </p>
              <p class="profile-footer__logout" (click)="logout()">
                {{ 'menu.logout' | translate }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="bottom-header offset-md-2">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <span routerLinkActive="active"> {{ 'menu.home' | translate }}</span>
        </a>
      </li>
      <li>
        <a routerLink="/operations" routerLinkActive="active">
          <span routerLinkActive="active">
            {{ 'menu.payments' | translate }}</span
          >
        </a>
      </li>
      <!-- <li>
        <a routerLink="/guarantees" routerLinkActive="active">
          <span routerLinkActive="active">
            {{ 'products.default.guarantees' | translate }}</span
          >
        </a>
      </li> -->
      <li>
        <a routerLink="/products" routerLinkActive="active">
          <span routerLinkActive="active">
            {{ 'menu.products' | translate }}</span
          >
        </a>
      </li>
      <li>
        <ob-badge
          [type]="'soon'"
          id="custom-badge"
          *ngIf="isProduction"></ob-badge>
        <a
          routerLink="/currency-control"
          routerLinkActive="active"
          *ngIf="!isProduction">
          <span routerLinkActive="active">
            {{ 'menu.currency-control' | translate }}</span
          >
        </a>
        <a class="opacity-50" *ngIf="isProduction">
          <span routerLinkActive="active">
            {{ 'menu.currency-control' | translate }}</span
          >
        </a>
      </li>
      <li>
        <ob-badge [type]="'soon'" id="custom-badge"></ob-badge>
        <a class="opacity-50">
          <span> {{ 'menu.guide' | translate }} </span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav *ngIf="login && showSmallHeader" class="logged-header">
  <div class="small-header">
    <div class="small-header-inner" #profile>
      <div class="header-profile" (click)="isShowProfile($event)">
        <div class="profile-circle {{ getCircleColor(circleColor) }}">
          <span class="profile-circle__letter">{{ contractFirstLetter }}</span>
        </div>
        <div class="header-profile-info">
          <p class="header-profile-info__company">{{ contractName }}</p>
          <p class="header-profile-info__name">{{ username | lowercase }}</p>
        </div>
        <span
          class="icon icon_dark_arrow"
          [ngStyle]="{
            transform: showProfile ? 'rotate(180deg)' : ''
          }"></span>
      </div>
      <ng-container *ngIf="showProfile">
        <div
          [ngClass]="showProfile ? 'small-container' : 'small-container-show'">
          <div class="small-container-inner">
            <div class="small-container-top" (click)="isShowProfile($event)">
              <img
                src="./../../../assets//icons/close_delete.svg"
                alt="close" />
            </div>
            <div class="small-profile">
              <div
                class="profile-header d-flex flex-column"
                (click)="onProfileClick($event)">
                <div class="d-flex flex-row">
                  <div class="profile-header-inner">
                    <div
                      class="profile-header__circle {{
                        getCircleColor(circleColor)
                      }}">
                      {{ contractFirstLetter }}
                    </div>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <p class="profile-header__username">{{ contractName }}</p>
                  </div>
                </div>
                <div
                  class="fields_section d-flex flex-column justify-content-between">
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column justify-content-between">
                      <p class="field_head">{{ 'default.bin' | translate }}</p>
                      <div class="d-flex flex-row">
                        <p class="field_val">{{ contractBin }}</p>
                        <img
                          class="copy_img"
                          src="../../../assets/icons/copy.svg"
                          (click)="copyBin($event)" />
                      </div>
                    </div>
                    <div
                      class="field_right d-flex flex-column justify-content-between">
                      <p class="field_head">
                        {{ 'settings.company.contract' | translate }}
                      </p>
                      <div class="d-flex flex-row">
                        <p class="field_val">{{ contractNum }}</p>
                        <img
                          class="copy_img"
                          src="../../../assets/icons/copy.svg"
                          (click)="copyContract($event)" />
                      </div>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="d-flex flex-column justify-content-between">
                      <p class="field_head">
                        {{ 'menu.current-user' | translate }}
                      </p>
                      <p class="field_val capitalize">
                        {{ username | lowercase }}
                      </p>
                    </div>
                  </div>
                </div>
                <!-- <p class="profile-header__position">{{ position }}</p>-->
              </div>
              <div class="profile-body">
                <div class="d-flex flex-row">
                  <p class="profile-body__title">
                    {{ 'menu.organizations' | translate }}
                  </p>
                  <p
                    class="profile-body__title_length"
                    *ngIf="contracts.length > 3">
                    ({{ contracts.length }})
                  </p>
                </div>
                <div class="profile-contracts">
                  <div
                    class="profile-item"
                    (click)="setContract(contract.contractNum, i)"
                    *ngFor="let contract of contracts; let i = index">
                    <div class="profile-item-inner">
                      <div class="profile-body-content">
                        <span
                          class="profile-circle profile-circle-small {{
                            getCircleColor(i)
                          }}">
                          <span
                            class="profile-circle__letter profile-circle-small__letter"
                            >{{ contract.name.substr(0, 2) }}</span
                          >
                        </span>
                        <div class="d-flex flex-column justify-content-between">
                          <p class="contract_name">
                            {{ contract.name }}
                          </p>
                          <div class="d-flex flex-row">
                            <p class="contract_field">
                              {{ 'default.bin' | translate }}:
                              {{ contract.bin }},
                            </p>
                            <p class="contract_val">
                              {{ 'settings.company.contract' | translate }}:
                              {{ contract.contractNum }}
                            </p>
                          </div>
                        </div>
                      </div>
                      <div
                        class="d-flex flex-grow-1 justify-content-center"
                        *ngIf="contract.contractNum === selected_one">
                        <div class="spin"></div>
                      </div>
                      <div
                        class="d-flex flex-grow-1 justify-content-center"
                        *ngIf="contract.contractNum === contractNum">
                        <div class="icon icon_tick profile-body__tick"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="small-header-inner top-header-inner-icons">
      <!-- <div #contact>
        <div class="header-icon">
          <img src="./assets/icons/contact_telephone.svg" alt="icon" />
        </div>
      </div> -->
      <div class="menu">
        <img
          (click)="onMenuClick()"
          src="./../../../assets/icons/ic_menu.svg"
          alt="menu" />
        <ng-container *ngIf="showMenu">
          <div
            [ngClass]="showMenu ? 'small-container' : 'small-container-show'">
            <div class="small-container-inner">
              <div class="small-container-top" (click)="onMenuClick()">
                <img
                  src="./../../../assets//icons/close_delete.svg"
                  alt="close" />
              </div>
              <div class="menu-body">
                <div class="menu-item">
                  <a routerLink="/home" routerLinkActive="active">
                    <span routerLinkActive="active">
                      {{ 'menu.home' | translate }}</span
                    >
                  </a>
                  <a routerLink="/operations" routerLinkActive="active">
                    <span routerLinkActive="active">
                      {{ 'menu.payments' | translate }}</span
                    >
                  </a>
                  <a routerLink="/guarantees" routerLinkActive="active">
                    <span routerLinkActive="active">
                      {{ 'products.default.guarantees' | translate }}</span
                    >
                  </a>
                  <a routerLink="/products" routerLinkActive="active">
                    <span routerLinkActive="active">
                      {{ 'menu.products' | translate }}</span
                    >
                  </a>
                  <a routerLink="/currency-control" routerLinkActive="active">
                    <span routerLinkActive="active">
                      {{ 'menu.currency-control' | translate }}</span
                    >
                  </a>
                  <a class="menu-badge">
                    <ob-badge [type]="'soon'" id="custom-badge"></ob-badge>
                    <a class="opacity-50">
                      <span> {{ 'menu.guide' | translate }} </span>
                    </a>
                  </a>
                </div>
                <div class="menu-item">
                  <a (click)="isShowContact()">{{
                    'home.contacts.title' | translate
                  }}</a>
                  <!-- <a>{{ 'home.contacts.mapHeading' | translate }}</a> -->
                </div>
                <div class="menu-item">
                  <a (click)="onSettingsClick($event)">{{
                    'menu.settings' | translate
                  }}</a>
                  <a (click)="logout()" class="logout">{{
                    'menu.logout' | translate
                  }}</a>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
