<div
  class="dropdown"
  [ngClass]="{ 'dropdown-active': active, 'max-162': type === 'operation' }">
  <ng-template [ngIf]="type === 'operation'">
    <div class="dropdown-header">
      <p class="dropdown-header__title">{{ title }}</p>
      <div class="dropdown-header__actions">
        <!-- <p role="button" *ngIf="active" (click)="onClick($event)">{{ 'default.changePositions' | translate }}</p> -->
        <span (click)="toggleActive()" class="toggle">
          <p *ngIf="!active">{{ 'default.showAll' | translate }}</p>
          <p *ngIf="active">{{ 'default.hide' | translate }}</p>
          <span
            class="dropdown-header__img-operation"
            [ngClass]="active ? 'dropdown-img__active-operation' : ''">
            <img
              src="assets/icons/PaginationGreen.svg"
              alt="open-close-arrow" />
          </span>
        </span>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="type !== 'operation'">
    <div class="dropdown-header">
      <p class="dropdown-header__title">{{ title }}</p>
      <div (click)="toggleActive()">
        <div
          class="dropdown-header__img"
          [ngClass]="active ? 'dropdown-img__active' : ''">
          <img src="assets/icons/PaginationGreen.svg" alt="open-close-arrow" />
        </div>
      </div>
    </div>
  </ng-template>
  <div class="dropdown-body">
    <ng-content></ng-content>
  </div>
</div>
