html, body {height: 100%;}
#ie_warning {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 140px);
}
.ie-bilanguage::after {
    content: attr(data-ru);
}
.ie-header {
    padding: 15px 32px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
.ie-logo {
    width: 150px;
    height: 34px;
    display: flex;
    align-items: center;
}
.ie-languages {
    display: flex;
    align-items: center;
    position: relative;
}
.ie-select{
    height: 36px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 12px;
    cursor: pointer;
}
.ie-select-marked {
    border: 2px solid #11BB91;
}
.ie-select-value {
    font-weight: 700;
    text-transform: uppercase;
}
.ie-select-arrow {
    margin-left:  22px;
    display: flex;
    align-items: center;
}
.ie-select-arrow-marked {
    transform: rotate(180deg);
}

.ie-select-dropdown {
    position: absolute;
    display: none;
    width: 100px;
    top: 45px;
    left: 0;
    flex-direction: column;

    border-radius: 8px;
    box-shadow: 0 0 32px #505c640d, 0 4px 20px #2a353d1a;
    background-color: #ffffff;
    cursor: pointer;
}
.ie-select-dropdown-marked {
    display: flex;
}
.ie-select-dropdown div {
    padding: 10px 16px;
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.ie-select-dropdown div:hover {
    background-color: #f6f6f6;
    /* border-radius: 8px; */
}
.ie-select-dropdown-selected {
    background: url('./assets/icons/ic_tick_small.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 64px;
    background-size: 18px;
    background-position-y: 9px;
}
.ie-lang {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 12px;
}

.ie-wrapper {
    flex: 1 1 auto;
    background-color: #F3F3F3;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.ie-content {
    width: 500px;
    height: fit-content;
    padding: 32px 52px;
    background-color: #fff;
    border-radius: 12px;
    text-align: center;
}

.ie-not_compatible_text1 {
    font-size: 16px;
    font-weight: 700;
    margin: 12px 0;
    line-height: 130%;
}
.ie-not_compatible_text2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;

}
.ie-not_compatible_text3 {
    color: #263238;
    margin-left: 4px;
    font-weight: 700;
}
.ie-footer {
    width: 500px;
    text-align: center;
    padding: 24px 0 32px 0;
    border-top: 1px solid #D0D6D8;
    margin-top: auto;
}
.ie-footer p {
    font-size: 12px;
    color: #505C64;
}