
@import '/src/styles/main.scss';
.currency-item {
    display: flex;
    gap: 16px;
    align-items: center;
  
    &__text {
      font-style: 14px;
      font-weight: 500;
      line-height: 130%;
      display: flex;
      gap: 2px;
  
      &-bold {
        font-weight: 700;
      }
    }
  }
  