@import '/src/styles/variables.scss';

.employees {
	&-subtitle {
		font-weight: $font-weight-bold;
		font-size: $font-size-medium;
		margin-bottom: 16px;
	}
	&__secondary {
		color: $color-gray-middle;
		width: 100%;
	}
}

.modal {
	&-title {
		font-size: $font-size-medium-large;
		font-weight: 800;
		color: $color-light-black;
	}
	&-body {
		padding: 24px 32px 48px;
	}
}

.pr-12 {
	padding-right: 12px !important;
}

.pl-12 {
	padding-left: 12px !important;
}

.mr-24 {
	margin-right: 24px;
}

.modal-footer {
	justify-content: space-between;
	padding: 24px 32px 27px;
}
.base-input {
	padding-left: 16px !important;
	height: 56px;
	font-weight: 500;
	font-size: $font-size-medium;
	color: $color-light-black;
}
.icon-calendar {
	position: absolute;
	right: 27px;
	top: 15px;
	cursor: pointer;
	img {
		height: 24px;
		width: 24px;
	}
}
.form-floating > .form-control:focus ~ label {
	font-size: 12px;
	display: inline-block;
	padding-top: 10px;
	line-height: 130%;
	transform: none;
}
.modal {
	&-section {
	  margin-bottom: 24px;
  
	  &-info {
		border-left: 4px solid $color-gray-darker;
		margin-left: 8px;
	  }
	  &-detail {
		display: flex;
		flex-direction: row;
  
		&__content {
		  font-size: $font-size-small;
		  font-weight: 500;
		  line-height: 18.2px;
		  letter-spacing: 0.02em;
		  color: #2a353d;
		}
  
	  }
	}
}
.bankInfo {
	display: flex;
	align-items: center;
  
	&-icon {
	  width: 32px;
	  height: 32px;
	  margin-right: 8px;
	}
  }
::ng-deep .bs-datepicker.payments-calendar {
	top: 5px;
	box-shadow: 0px 0px 32px rgb(80 92 100 / 5%), 0px 4px 20px rgb(42 53 61 / 10%);
	border-radius: 12px;

	.bs-datepicker-container {
		padding: 14px;
	}

	.bs-datepicker-head {
		padding: 0;
		background-color: #fff !important;
		min-width: 240px;
		button {
			color: $color-light-black;
			font-size: 14px;
			font-weight: 600;
		}
		button.previous {
			border-radius: 50%;
			width: 24px;
			height: 24px;
		}
	}

	.bs-datepicker-body {
		border: none;
		padding: 0;
		border-radius: 0 0 3px 3px;
		min-height: 200px;
		min-width: 230px;
		font-weight: 500;
		table{
			th {
				font-size: 12px;
				color: #505C64;
				font-weight: 500;
				text-transform: uppercase;
			}
			tbody tr td span {
				font-size: 14px;
				text-transform: capitalize;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 12px;
			}
			td {
				height: 0;
				color: $color-light-black;
			}
		}

		.days {
			td span {
				height: 32px;
			}
		}
		.months {
			td span {
				height: 52px;
				width: 70px;
			}
		}
		.years {
			td span {
				height: 52px;
				width: 56px;
			}
		}
	}
}