<div
  class="push-wrapper"
  #toastrElement
  [style.height]="isMaxheight ? '200px' : 'auto'">
  <div class="push-container">
    <span
      class="icon status-icon"
      [ngClass]="{
        icon_status_error: notification.type === 'error',
        icon_status_success: notification.type === 'success',
        icon_status_warning: notification.type === 'warning'
      }"></span>
    <div class="push-container-message">
      <p
        class="push-container-message__title"
        [style.height]="isMaxheight ? '148px' : 'auto'">
        {{ notification.title | translate }}
      </p>
    </div>
    <div class="push-container-btn" (click)="closeNotification()">
      <span class="icon icon_remove"></span>
    </div>
  </div>
  <div *ngIf="isMaxheight">
    <div class="show-all" (click)="onShowAll()">
      <p>{{ 'default.viewAll' | translate }}</p>
      <span class="show-all__icon">
        <img src="./assets/icons/PaginationGreen.svg" alt="open-close-arrow" />
      </span>
    </div>
  </div>
</div>
