<div class="stg_contragents_container">
  <div class="d-flex flex-row justify-content-between" style="width: 130px">
    <p class="text_bolder">{{ 'default.contragents' | translate }}</p>
  </div>
  <div class="d-flex flex-column" style="margin-top: 30px"></div>
  <div *ngIf="totalElements > 0">
    <ob-stg-counteragent-table
      [countragentList]="currentContent"></ob-stg-counteragent-table>
    <div class="discharge-pagination" *ngIf="totalElements > 10">
      <pagination
        [totalItems]="totalElements"
        [ngModel]="currentPage"
        [itemsPerPage]="10"
        [maxSize]="maxSize"
        [directionLinks]="false"
        (pageChanged)="changePage($event)"
        [rotate]="true"
        [boundaryLinks]="true"
        firstText="{{ currentPage === 1 || !currentPage ? ' ' : '&laquo;' }}"
        lastText="{{
          currentPage === lastPage ? ' ' : '&raquo;'
        }}"></pagination>
    </div>
  </div>
  <ob-table-empty-rows *ngIf="totalElements === 0"></ob-table-empty-rows>
</div>
