<div
  class="search-result"
  infinite-scroll
  [scrollWindow]="false"
  (scrolled)="onScrollDown()"
  [ngClass]="{
    'search-result-cards':
      accountType === 'card' ||
      accountType === 'cards' ||
      accountType === 'card-account'
  }">
  <ng-template [ngIf]="type !== 'account-statements'">
    <table>
      <thead>
        <tr>
          <th
            scope="col"
            (click)="changeAllStatusColumn()"
            *ngIf="type === 'documents-signing'"
            id="checkbox">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexCheckDefault"
              [(ngModel)]="mainCheck"
              (change)="changeAllStatus()" />
          </th>

          <ng-container *ngFor="let column of tableColumns; let i = index">
            <th scope="col" class="{{ i === 0 ? 'th-column-0' : 'th-column' }}">
              {{ column.label | translate | uppercase }}
            </th>
          </ng-container>
        </tr>
      </thead>

      <tbody [ngClass]="{ products_table: type === 'product-statements' }">
        <ng-container *ngFor="let item of rowData; let idx = index">
          <ng-template [ngIf]="item.isToday">
            <tr>
              <ng-template [ngIf]="type === 'documents-signing'">
                <td colspan="5" class="dates-separator">
                  <p>{{ todayString }}, {{ item.sentDate }}</p>
                </td>
              </ng-template>
              <ng-template [ngIf]="type !== 'documents-signing'">
                <td colspan="4" class="dates-separator">
                  <p>{{ todayString }}, {{ item.sentDate }}</p>
                </td>
              </ng-template>
            </tr>
          </ng-template>
          <ng-template [ngIf]="item.isAnotherDate">
            <tr>
              <ng-template [ngIf]="type === 'documents-signing'">
                <td colspan="5" class="dates-separator">
                  <p>{{ item.sentDate }}</p>
                </td>
              </ng-template>
              <ng-template [ngIf]="type !== 'documents-signing'">
                <td colspan="4" class="dates-separator">
                  <p>{{ item.sentDate }}</p>
                </td>
              </ng-template>
            </tr>
          </ng-template>
          <tr>
            <ng-container>
              <td
                *ngIf="type === 'documents-signing'"
                (click)="isAllSelectedColumn(item)"
                class="clickable"
                id="checkbox">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexCheckDefault"
                    [(ngModel)]="item.checked"
                    (change)="isAllSelected()" />
                </div>
              </td>

              <!-- ДАТА -->
              <!-- <td *ngIf="tableColumns[0].status" (click)="toggleModal(item)">
              <div class="table-text__light">
                {{ item?.date }}
              </div>
            </td> -->

              <!-- ОПЕРАЦИЯ -->
              <!-- <td (click)="toggleModal(item)"> -->
              <td (click)="toggleModal(item)" class="clickable">
                <p
                  *ngIf="item.operation.type; else empty"
                  class="table-text__bold table-text__ellips">
                  {{ getValue(item, ['operation', 'type']) }}
                </p>
                <ng-template #empty><p></p></ng-template>
                <p class="table-text__light-iban">
                  {{ item.sentTime }}
                </p>
              </td>
              <!-- ОПЕРАЦИЯ -->

              <!-- ДЕТАЛИ ОПЕРАЦИЯ -->
              <ng-template
                [ngIf]="
                  item.type !== 'DEPOSIT_OPEN' &&
                  item.type !== 'ACCOUNT_CREATE' &&
                  item.type !== 'CORP_CARD_ISSUE'
                ">
                <td (click)="toggleModal(item)" class="clickable">
                  <p
                    *ngIf="item.operation.type; else empty"
                    class="table-text table-text__ellips">
                    {{ getOperationDetailsName(item) }}
                  </p>
                  <p
                    *ngIf="item.type === 'ACCOUNT_CREATE'"
                    class="table-text table-text__ellips">
                    {{ 'default.currency' | translate }} - {{ item?.currency }}
                  </p>
                  <ng-template #empty><p></p> </ng-template>
                  <p
                    class="table-text__iban"
                    *ngIf="
                      item.type !== 'PAY_PENSION_V2' &&
                      item.type !== 'PAY_BUDGET' &&
                      item.type !== 'PAY_SOCIAL_V2' &&
                      item.type !== 'PAY_MEDICAL_INSURANCE' &&
                      item.type !== 'CURR_EXCHANGE_FX'
                    ">
                    {{ item?.accountRecipient }}
                  </p>
                  <p
                    class="table-text__iban"
                    *ngIf="item.type === 'CURR_EXCHANGE_FX'">
                    {{ 'operations.default.replenishmentAccount' | translate }}:
                    {{ ' ' }}
                    {{ item?.accountRecipient }}
                  </p>
                  <p></p>
                </td>
              </ng-template>

              <ng-template
                [ngIf]="
                  item.type === 'DEPOSIT_OPEN' ||
                  item.type === 'ACCOUNT_CREATE' ||
                  item.type === 'CORP_CARD_ISSUE'
                ">
                <td (click)="toggleModal(item)" class="clickable">
                  <p
                    *ngIf="item.operation.type; else empty"
                    class="table-text table-text__ellips">
                    {{ getOperationDetailsName(item) }}
                  </p>

                  <ng-template [ngIf]="type === 'documents-signing'">
                    <ng-template
                      [ngIf]="
                        item.type === 'DEPOSIT_OPEN' && item?.depositType
                      ">
                      <p class="table-text table-text__ellips">
                        {{ item?.depositType }}
                      </p>
                      <p *ngIf="item?.amount" class="table-text__iban">
                        {{ 'default.amount' | translate }}: {{ item?.amount }}
                        {{ getCurrency(item?.currency) }}
                      </p>
                    </ng-template>

                    <p
                      *ngIf="item.type === 'CORP_CARD_ISSUE'"
                      class="table-text table-text__ellips">
                      {{ item?.cardHolder }}
                    </p>
                    <p
                      *ngIf="item.type === 'ACCOUNT_CREATE'"
                      class="table-text table-text__ellips">
                      {{ 'default.currency' | translate }} -
                      {{ item?.currency }}
                    </p>
                  </ng-template>

                  <ng-template [ngIf]="type !== 'documents-signing'">
                    <!-- Валюта - KZT -->
                    <p
                      *ngIf="item.type === 'ACCOUNT_CREATE'"
                      class="table-text table-text__ellips">
                      {{ 'default.currency' | translate }} -
                      {{ item?.currency }}
                    </p>
                    <!-- Валюта - KZT -->

                    <!-- Детали депозита -->
                    <ng-template [ngIf]="item.type === 'DEPOSIT_OPEN'">
                      <p
                        *ngIf="item?.depositType"
                        class="table-text table-text__ellips">
                        {{ item?.depositType }}
                      </p>
                      <p *ngIf="item?.amount" class="table-text__iban">
                        {{ 'default.amount' | translate }}: {{ item?.amount }}
                        {{ getCurrency(item?.currency) }}
                      </p>
                    </ng-template>
                    <!-- Детали депозита -->
                  </ng-template>
                </td>
              </ng-template>

              <!-- ДЕТАЛИ ОПЕРАЦИЯ -->

              <!-- <td *ngIf="tableColumns[3].status"> -->
              <!-- <td></td> -->

              <!-- <td
							*ngIf="type === 'operations-history'"
							(click)="toggleModal(item)"
						> -->

              <!-- СУММА -->
              <!-- <td (click)="toggleModal(item)"> -->
              <td
                (click)="toggleModal(item)"
                class="clickable"
                style="text-align: end">
                <ng-template [ngIf]="type !== 'product-statements'">
                  <p
                    class="table-text__bold"
                    *ngIf="item.amount || item.amount === 0; else empty">
                    {{ formatAmount(item?.amount) | amountPipe }}
                    {{ helperService.formatCurrency(item?.currency) }}
                    <ng-template
                      [ngIf]="
                        (type === 'operations-history' ||
                          type === 'currency-control') &&
                        item.status
                      ">
                      <ob-operation-status
                        className="status-mt"
                        [status]="item.status"
                        [signatureStatus]="item.signatureStatus"
                        [signers]="getSigners(item)"
                        [signersInfo]="signersInfo"></ob-operation-status>
                    </ng-template>
                  </p>
                </ng-template>
                <ng-template [ngIf]="type === 'product-statements'">
                  <ob-operation-status
                    className="status-mt"
                    [status]="item.status"
                    [signatureStatus]="item.signatureStatus"
                    [signers]="getSigners(item)"
                    [signersInfo]="signersInfo"></ob-operation-status>
                </ng-template>
                <ng-template #empty><p></p></ng-template>
              </td>
              <div class="actions" *ngIf="item.type !== 'PAY_P2P'">
                <ob-operation-actions
                  [status]="item.status"
                  [operation]="item"
                  (isOpen)="onOpen(idx)"
                  [show]="showActionsList[idx]"
                  [type]="type"></ob-operation-actions>
              </div>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </ng-template>
  <ng-template [ngIf]="type === 'account-statements'">
    <table>
      <thead>
        <tr>
          <ng-container *ngFor="let column of tableColumns">
            <th
              scope="col"
              [ngClass]="{
                clickable: !column.readOnly && accountType === 'account'
              }"
              (click)="
                !column.readOnly && accountType === 'account'
                  ? sorting(column.name)
                  : ''
              ">
              {{ column.label | translate | uppercase }}
            </th>
          </ng-container>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let item of rowData">
          <tr class="clickable">
            <ng-container>
              <!-- ДАТА -->
              <td
                *ngIf="tableColumns[0].status"
                (click)="toggleModal(item)"
                [ngClass]="{
                  'cards-date':
                    accountType === 'cards' ||
                    accountType === 'card' ||
                    accountType === 'card-account'
                }">
                <div class="table-text__light">
                  {{ item?.date }}
                </div>
              </td>

              <!-- ОПЕРАЦИЯ -->
              <!-- <td (click)="toggleModal(item)"> -->
              <td
                *ngIf="
                  accountType !== 'cards' &&
                  accountType !== 'card' &&
                  accountType !== 'card-account'
                "
                class="operation">
                <p
                  *ngIf="item.operation.type; else empty"
                  class="table-text__bold"
                  [ngClass]="
                    type === 'account-statements'
                      ? 'table-text__no-ellips'
                      : 'table-text__ellips'
                  ">
                  {{ item.operation.type }}
                </p>
                <ng-template #empty><p></p></ng-template>
                <p class="table-text__light-iban">
                  {{ item?.operation?.sender }}
                </p>
                <p class="table-text__light-iban">
                  {{ 'default.documentNumber' | translate }}:
                  {{ item?.documentNumber }}
                </p>
              </td>

              <td
                *ngIf="
                  accountType === 'cards' ||
                  accountType === 'card' ||
                  accountType === 'card-account'
                "
                class="operation cards-operation">
                <p
                  *ngIf="item.operation.type; else empty"
                  class="table-text__bold table-text__ellips"
                  [ngClass]="
                    accountType === 'cards' ||
                    accountType === 'card' ||
                    accountType === 'card-account'
                      ? ''
                      : ' table-text__no-wrap'
                  ">
                  {{ item?.operation?.details }}
                </p>
                <ng-template #empty><p></p></ng-template>
                <p class="table-text__light-iban">
                  {{ item.operation.type }}
                </p>
              </td>

              <!-- <td
                *ngIf="type === 'operations-history'"
                (click)="toggleModal(item)"
              > -->
              <!-- СУММА -->
              <!-- <td (click)="toggleModal(item)"> -->
              <td
                class="table-text__bold"
                [ngClass]="{
                  'cards-sum':
                    accountType === 'cards' ||
                    accountType === 'card' ||
                    accountType === 'card-account'
                }">
                <ng-template
                  [ngIf]="
                    accountType !== 'cards' &&
                    accountType !== 'card' &&
                    accountType !== 'card-account'
                  ">
                  <div
                    *ngIf="item?.statementReceiver === 'D'"
                    class="table-text__amount">
                    <p>- {{ formatAmount(item?.amount) | amountPipe }}</p>
                    <span>{{
                      helperService.formatCurrency(item?.currency)
                    }}</span>
                  </div>
                  <div
                    *ngIf="item?.statementReceiver === 'C'"
                    class="table-text__amount table-text__debit">
                    <p>+ {{ formatAmount(item?.amount) | amountPipe }}</p>
                    <span>{{
                      helperService.formatCurrency(item?.currency)
                    }}</span>
                  </div>
                </ng-template>
                <ng-template
                  [ngIf]="
                    accountType === 'cards' ||
                    accountType === 'card' ||
                    accountType === 'card-account'
                  ">
                  <div *ngIf="item?.amount <= 0" class="table-text__amount">
                    <p>{{ formatAmount(item?.amount) | amountPipe }}</p>
                    <span>{{
                      helperService.formatCurrency(item?.currency)
                    }}</span>
                  </div>
                  <div
                    *ngIf="item?.amount > 0"
                    class="table-text__amount table-text__debit">
                    <p>+ {{ formatAmount(item?.amount) | amountPipe }}</p>
                    <span>{{
                      helperService.formatCurrency(item?.currency)
                    }}</span>
                  </div>
                </ng-template>
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </ng-template>
</div>
