@import "/src/styles/variables.scss";
@import "/src/styles/main";

.new-account {
    box-sizing: border-box;
    padding: 35px 25px;

    &-body {
        display: flex;
        align-items: center;
        margin-top: 43px;

        & > p {
            width: 20%;
            font-size: $font-size-medium;
        }
    }

    &-form {
        & > p {
            font-size: $font-size-h3-large;
            margin-bottom: 21px;
        }

        &__inputs {
            display: flex;
            justify-content: space-between;
            width: 50%;
        }

        &__info {
            display: flex;
            margin-bottom: 16px;
        }

        &__main {
            color: $color-black;
            margin-left: 11px;
        }

        &__secondary {
            color: $color-gray-middle;
            font-size: $font-size-small;
            display: flex;
            align-items: center;
            margin-right: 23px;

            & > img {
                margin-left: 11px;
            }
        }
    }
}