<div class="new-account" *ngIf="isFormEmpty; else successMessage">
  <ob-back-button [currentPage]="'new_account'"></ob-back-button>

  <div class="new-account-body">
    <p></p>
    <div class="new-account-form">
      <p>{{ 'accounts.new-account.open' | translate }}</p>
      <div class="new-account-form__info">
        <span class="new-account-form__secondary"
          >№ 10 <img src="assets/icons/ic_edit.svg" alt="change-icon"
        /></span>
        <span class="new-account-form__secondary"
          >{{ 'accounts.new-account.open-date' | translate }}:
          <span class="new-account-form__main">19.09.2021</span></span
        >
      </div>
      <div class="new-account-form__info">
        <span class="new-account-form__secondary"
          >{{ 'default.name' | translate }}:
          <span class="new-account-form__main">ТОО “Радуга”</span></span
        >
        <span class="new-account-form__secondary"
          >{{ 'default.bin' | translate }}:<span class="new-account-form__main"
            >834567890567</span
          ></span
        >
        <span class="new-account-form__secondary"
          >{{ 'operations.default.kbe' | translate }}:<span
            class="new-account-form__main"
            >81</span
          ></span
        >
      </div>
      <div class="new-account-form__info">
        <span class="new-account-form__secondary"
          >{{ 'accounts.new-account.sign-of-residency' | translate }}:
          <span class="new-account-form__main">{{
            'accounts.new-account.non-resident' | translate
          }}</span></span
        >
        <span class="new-account-form__secondary"
          >{{ 'accounts.new-account.code-industry-economy' | translate }}:
          <span class="new-account-form__main">7</span></span
        >
      </div>
    </div>
  </div>

  <div class="new-account-body">
    <p>{{ 'accounts.new-account.branch' | translate }}</p>

    <div class="row new-account-form__inputs">
      <div class="col-dt-6 col-tb-6 col-mb-6">
        <ng-select
          [(ngModel)]="selectedFilial"
          class="custom-select"
          [searchable]="false"
          [clearable]="false"
          placeholder="{{ 'accounts.new-account.branch' | translate }}">
          <ng-option *ngFor="let filial of filials" [value]="filial.code">
            <ob-select-account [title]="filial.label"></ob-select-account>
          </ng-option>
        </ng-select>
      </div>

      <div class="col-dt-6 col-tb-6 col-mb-6">
        <ng-select
          [(ngModel)]="selectedCurrency"
          class="custom-select"
          [searchable]="false"
          [clearable]="false"
          placeholder="'{{ 'exchange.currency' | translate }}">
          <ng-option
            *ngFor="let currency of currencies"
            [value]="currency.code">
            <ob-select-account [title]="currency.label"></ob-select-account>
          </ng-option>
        </ng-select>
      </div>
    </div>
  </div>

  <div class="new-account-body">
    <p></p>
    <div class="row new-account-form__inputs">
      <div class="col-dt-6"></div>
      <div class="col-dt-6">
        <ob-button
          label="{{ 'buttons.actions.submit-for-confirmation' | uppercase }}"
          style="padding: 0"
          [className]="'btn height-large br-12'"
          [onClick]="sendMail"></ob-button>
      </div>
    </div>
  </div>
</div>

<ng-template #successMessage>
  <ob-success-request></ob-success-request>
</ng-template>
