<ng-template [ngIf]="amountList">
  <div class="success col-dt-12 col-smdt-12 col-tb-12">
    <img
      src="./assets/icons/success-document.svg"
      width="140px"
      height="140px"
      alt="success" />

    <div class="success-details">
      <p class="success-title">
        {{ 'operations.docs-for-signature.success-signed' | translate }}
      </p>
      <hr />
      <div class="success-info-discharge">
        <div>
          <div
            class="success-flex"
            [ngClass]="{ 'mb-24': getAmountKeys().length > 0 }">
            <p class="success-discharge__secondary">
              {{ 'operations.docs-for-signature.signed' | translate }}:
            </p>
            <div class="success-discharge__wrapper">
              <span
                class="success-discharge__main"
                *ngIf="docLength + productLength === 0"
                >0
              </span>
              <span class="success-discharge__main" *ngIf="docLength > 0">
                {{ docLength }}
                {{ ' ' + (getNouns(docLength, 'operations') | translate) }}
              </span>
              <span class="success-discharge__main" *ngIf="productLength > 0">
                {{ productLength }}
                {{ ' ' + (getNouns(productLength, 'products') | translate) }}
              </span>
            </div>
          </div>

          <div class="success-flex" *ngIf="getAmountKeys().length > 0">
            <p class="success-discharge__secondary">
              {{ 'default.selectedAmount' | translate }}:
            </p>
            <div class="success-discharge__wrapper">
              <div
                class="success-discharge"
                *ngFor="let currency of getAmountKeys()">
                <p class="success-discharge__main">
                  {{ helperService.formatAmount(amountList[currency]) }}
                  <span>{{ helperService.formatCurrency(currency) }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div>
      <ob-button
        [label]="'buttons.goToMainPage' | translate"
        class="col-md-2"
        [className]="'btn btn-success w-304'"
        (click)="navigateToMain()"></ob-button>

      <div class="mt-16" *ngIf="docLength > 1">
        <ob-button
          [label]="'buttons.goToSignedDocs' | translate"
          class="col-md-2"
          [className]="'btn btn-green br-12 w-304 height-medium'"
          (click)="goToSignedDocs()"></ob-button>
      </div>
    </div>
  </div>
</ng-template>
