@import "/src/styles/variables.scss";

.dropdown {
    position: relative;

    &-button {
        cursor: pointer;
    }

    &-elements {
        position: absolute;
        right: 0;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        z-index: 100;
        background-color: #fff;
        max-width: 200px;
        width: max-content;
        display: none;
    }

    &-elements-active {
        display: block;
    }

    &-element {
        padding: 13px 16px;
        cursor: pointer;
    }
}