@import "/src/styles/variables.scss";

.operation-button {
    display: flex;
    align-items: center;
    margin-left: 28px;
    color: $color-black;
    font-size: $font-size-extra-small;
    cursor: pointer;

    & > img {
        margin-right: 5px;
    };

    &-wrapper {
        display: flex;
        align-items: center;
        padding: 32px 0 24px;
    };
}