@import "/src/styles/main.scss";

nav ul,
nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 100px;

  &_left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.prof-header {
  border-bottom: 1px solid #ebebeb;
}

.logged-header {
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
  height: 61px;

  #nav {
    display: flex;
    flex-direction: row;
  }

  #nav > .nav-item.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    border-left: none;
  }

  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;

    .nav-icons {
      display: flex;
      flex-direction: row;

      &_circle {
        position: relative;
        left: 15px;
      }

      &_amount {
        background: $color-error-red;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #fff;
      }
    }
  }

  #profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #f2f7f7;
    border: 1px solid $color-green;
    color: $color-green;

    #name {
      position: relative;
      top: 20%;
      left: 40%;
    }
  }

  .profile-info {
    width: 179px;
  }

  #username {
    padding-left: 8px;
  }

  .nav-item-space {
    padding: 10px;
  }

  .bin-content {
    width: 200px;
  }

  .nav-item-bin {
    display: flex;
    flex-direction: column;
  }

  .nav-group {
    display: flex;
    align-items: center;
  }

  .hr-line::after {
    content: "";
    background: #ebebeb;
    position: absolute;
    height: 3%;
    width: 1px;
    margin-left: -27px;
  }

  .icon_menu {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .icon_menu {
    display: inline !important;
  }
}
