<div>
  <div id="sms-help" *ngIf="!isCodeComponent" class="row">
    <ob-tabs
      [tabs]="loginTabs"
      (obSelected)="onLoginTypeChange($event)"></ob-tabs>
    <ng-template [ngIf]="loginType === 'phone'">
      <div class="col-dt-5">
        <p class="sms-input__title">{{ 'sms.numberInputTitle' | translate }}</p>

        <input
          [ngClass]="
            isOperatorValid
              ? 'form-control height-large sms-input'
              : 'form-control height-large sms-input is-invalid'
          "
          autocomplete="off"
          mask="(000) 000 00 00"
          prefix="+7 "
          [showMaskTyped]="true"
          type="tel"
          [(ngModel)]="phoneNumber"
          (keyup)="phoneCheck()"
          (blur)="onFocus()"
          #phone="ngModel"
          required
          (keydown.enter)="onPhoneNumberSend()"
          [ngStyle]="{
            color: phoneNumber.length > 0 ? '' : '#829199'
          }" />
        <p
          *ngIf="getErrorMessage(loginError, 'message') && !isOperatorValid"
          class="code_input_error sms-error-text">
          {{ 'login.incorrectMobileOperator' | translate }}
        </p>
        <p
          *ngIf="getErrorMessage(loginError, 'message') && isOperatorValid"
          class="code_input_error sms-error-text">
          {{ getErrorMessage(loginError, 'message') | translate }}
        </p>
        <p
          *ngIf="!getErrorMessage(loginError, 'message') && !isOperatorValid"
          class="code_input_error sms-error-text">
          {{ 'login.incorrectMobileOperator' | translate }}
        </p>

        <button
          class="_btn btn-main height-large"
          type="submit"
          (click)="onPhoneNumberSend()"
          [ngClass]="'btn-main'">
          {{ 'sms.getCode' | translate }}
        </button>

        <!--      <p class="sms-hint-button">{{ 'sms.ecpHint' | translate }}</p>-->
      </div>
    </ng-template>
    <ng-template [ngIf]="loginType === 'ecp'">
      <div class="col-dt-5">
        <ob-loader [loading]="false">
          <p class="sms-input__title">
            <span>{{ 'login.action.install-cryptoprovider' | translate }}</span>
            <a
              href="https://halyk.onlinebank.kz/install/csp/SetupTumarCSPv6.2.zip"
              download
              class="crypto-name"
              >{{ ' TumarCSP ' }}</a
            >
            <span>{{ 'login.action.connect-token' | translate }}</span>
          </p>
        </ob-loader>

        <!-- <button
          class="_btn btn-main height-large"
          type="submit"
          (click)="openModal()"
          [ngClass]="'btn-main'"
        >
          {{ 'auth.enter' | translate }}
        </button> -->
        <ob-button
          [label]="'auth.enter' | translate"
          [className]="'_btn btn-main height-large'"
          [onClick]="openModal"
          [loading]="isConnecting"
          [disabled]="isConnecting"></ob-button>

        <div class="ecp-hint" (click)="openEcpHintModal()">
          {{ 'sms.ecp-hint' | translate }}
        </div>
      </div>
    </ng-template>
  </div>
  <div *ngIf="loginService.isCodeComponent | async" class="row">
    <div class="col-dt-5">
      <div>
        <p class="sms-description">
          {{ 'sms.smsSent' | translate }}
        </p>
        <p class="sms-description__phone">
          <strong>{{ getFormattedPhone() }}</strong>
        </p>
      </div>
      <div>
        <div class="code-container">
          <code-input
            (click)="onRightPosition($event.target)"
            #codeInput
            [isCodeHidden]="false"
            [codeLength]="6"
            [isFocusingOnLastByClickIfFilled]="true"
            (codeChanged)="onCodeChanged($event)"
            (codeCompleted)="onCodeCompleted($event)"
            [initialFocusField]="0"
            [isPrevFocusableAfterClearing]="false"
            [disabled]="
              getErrorMessage(loginError, 'systemMessage') ===
                'notFoundPhone' ||
              getErrorMessage(loginError, 'systemMessage') ===
                'attemptsExceededCode'
            ">
          </code-input>
        </div>

        <p
          *ngIf="getErrorMessage(loginError, 'message')"
          class="code_input_error">
          {{ getErrorMessage(loginError, 'message') }}
        </p>
      </div>

      <ng-template
        [ngIf]="
          isNumberSend &&
          isRegistered &&
          !isTimerFinished &&
          getErrorMessage(loginError, 'message').length === 0
        ">
        <label class="sms-timer">
          {{ 'sms.resendCode' | translate }}
          <b class="mt-2"
            >{{ renderTimeUnit(minutes) }}:{{ renderTimeUnit(seconds) }}</b
          >
        </label>
      </ng-template>

      <ng-template
        [ngIf]="
          (errorCode && errorCode === 'smsCodeExpired') || isTimerFinished
        "
        #timerEnd>
        <div class="sms-timer sms-resend" (click)="resend()">
          {{ 'sms.resend' | translate }}
        </div>
      </ng-template>

      <div class="retype-btn">
        <p (click)="retypePhoneNumber()" class="text_green">
          {{ 'login.retypePhoneNumber' | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
