.empty_table {
  width: 100%;
  display: flex;
  flex-direction: column;

  &_img {
    width: 48px;
    height: 48px;
    margin-right: auto;
    margin-left: auto;
  }

  &_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #829199;
    margin-right: auto;
    margin-left: auto;
  }
}

.mt {
  &_8 {
    margin-top: 8px;
  }

  &_24 {
    margin-top: 24px;
  }
}