.currency_section {
  display: flex;
  flex-direction: row;

  &_main_width100 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100% !important;

    &_sell {
      display: flex;
      flex-direction: column;
    }

    &_switch {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
    }

    &_buy {
      display: flex;
      flex-direction: column;
    }
  }

  &_main {
    display: flex;
    flex-direction: row;
    margin-right: 126px;

    &_sell {
      display: flex;
      flex-direction: column;
      margin-right: 56px;
    }

    &_switch {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 56px;
      cursor: pointer;
    }

    &_buy {
      display: flex;
      flex-direction: column;
    }
  }

  &_rates {
    display: flex;
    flex-direction: row;

    &_sale {
      display: flex;
      flex-direction: column;
      margin-right: 42px;
    }

    &_line {
      background: #d0d6d8;
      width: 1px;
      height: 100%;
      margin-right: 42px;
    }

    &_buy {
      display: flex;
      flex-direction: column;
    }
  }

  &_img {
    &_currency {
      height: 36px;
      width: 36px;
    }

    &_switch {
      width: 32px;
      height: 32px;
    }

    &_arrow {
      &_up {
        height: 24px;
        width: 24px;
        margin-top: 4px;
      }

      &_down {
        height: 24px;
        width: 24px;
        margin-top: 4px;
      }
    }
  }

  &_text {
    &_title {
      font-weight: 700;
      font-size: 16px;
      color: #263238;
    }

    &_1 {
      font-weight: 500;
      font-size: 12px;
      color: #829199;
    }

    &_currency {
      font-weight: 700;
      font-size: 16px;
      color: #263238;
      margin-top: auto;
      margin-bottom: auto;
    }

    &_rate {
      font-weight: 800;
      font-size: 20px;
      color: #263238;
    }
  }
}

.dropdown_close {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
}

.dropdown_open {

  &_sell,
  &_buy {
    display: block;
    position: absolute;
    margin-top: 64px;
    transform: translate(-50%, 0%);
    background-color: #fff;
    color: #000;
    z-index: 1;
    width: 320px;
    max-height: 350px;
    overflow-y: auto;
    box-shadow: 0px 0px 32px rgba(80, 92, 100, 0.06),
      0px 4px 20px rgba(42, 53, 61, 0.1);
    border-radius: 12px;
  }

  &_sell {
    margin-left: 150px;
  }

  &_buy {
    margin-left: -48px;
  }
}

.currency_select {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 24px;

  &_item {
    &:not(:last-child) {
      display: flex;
      flex-direction: row;
      padding-bottom: 12px;
      border-bottom: 1px solid #d0d6d8;
    }

    &:last-child {
      display: flex;
      flex-direction: row;
    }

    &:hover {
      cursor: pointer;
    }

    &_wrapper {
      height: 24px;
      display: flex;
      flex-direction: row;
    }

    &_img {
      width: 24px;
      height: 24px;
    }

    &_text1 {
      font-weight: 700;
      font-size: 14px;
      color: #263238;
      margin-left: 11px;
      margin-top: auto;
      margin-bottom: auto;
    }

    &_line{
      font-weight: 700;
      font-size: 14px;
      color: #263238;
      margin-left: 4px;
      margin-top: auto;
      margin-bottom: auto;
    }

    &_text2 {
      font-weight: 500;
      font-size: 14px;
      color: #829199;
      margin-left: 4px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.currency_empty {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  font-size: 16px;
  color: #88999C;
}

.clickable {
  cursor: pointer;
}

.mt {
  &_8 {
    margin-top: 8px;
  }
}

.mr {
  &_16 {
    margin-right: 16px;
  }
}

.ml {
  &_16 {
    margin-left: 16px;
  }
}