<nav class="col-md-12 header" *ngIf="!login">
  <img src="./assets/icons/logo.svg" alt="ob-logo" />
  <div class="header_left">
    <span class="icon icon_lang"></span>
    <div>
      <ng-select
        #ngSelect
        [items]="langs"
        bindLabel="item"
        bindValue="item"
        [(ngModel)]="value">
      </ng-select>
    </div>
    <span class="icon icon_down-arrow" (click)="openDropdown()"></span>
  </div>
</nav>
<nav class="col-md-12 logged-header" *ngIf="login">
  <ul id="nav">
    <li class="nav-item first">
      <div class="nav-group">
        <span class="icon icon_menu" (click)="openTabMenu()"></span>
        <p class="nav-item-space">{{ title }}</p>
        <div [ngClass]="{ 'circle-cover': step === 1 }">
          <span class="icon icon_info"> </span>
        </div>
        <div *ngIf="step === 1">
          <ob-instruction-step
            title="{{ 'home.instructions.stepOneTitle' | translate }}"
            desc="{{ 'home.instructions.stepOneDesc' | translate }}"
            step="1"></ob-instruction-step>
        </div>
      </div>
      <div class="nav-icons nav-item-space">
        <span class="icon icon_search"></span>
        <span class="icon icon_notification">
          <span class="nav-icons_circle"
            ><span class="nav-icons_amount">{{ notification }}</span></span
          >
        </span>
      </div>
    </li>
    <li class="nav-item hr-line">
      <ob-dropdown-button
        [ngClass]="{ 'square-cover': step === 8 }"
        (clicked)="getContracts($event)"
        [data]="contracts"
        (selectedValue)="setContract($event)"></ob-dropdown-button>
      <div *ngIf="step === 8">
        <ob-instruction-step
          title="{{ 'home.instructions.stepEightTitle' | translate }}"
          desc="{{ 'home.instructions.stepEightDesc' | translate }}"
          step="8"></ob-instruction-step>
      </div>
    </li>
    <li class="nav-item nav-item-space hr-line">
      <div id="profile-photo">
        <span id="name">{{ usernameLetter }}</span>
      </div>
      <p id="username">
        <strong>{{ username }}</strong>
      </p>
      <span class="icon icon_down-arrow"></span>
      <div [ngClass]="{ 'square-cover': step === 9 }">
        <span class="icon icon_settings"></span>
      </div>
      <div *ngIf="step === 9">
        <ob-instruction-step
          title="{{ 'home.instructions.stepNineTitle' | translate }}"
          desc="{{ 'home.instructions.stepNineDesc' | translate }}"
          step="9"></ob-instruction-step>
      </div>
      <div>asds</div>
    </li>
  </ul>
</nav>
