<div class="row mb-114">
  <div
    class="col-dt-9 col-lgdt-8 col-smdt-12 g-custom"
    [formGroup]="transferForm">
    <div class="common">
      <h1 class="title">
        {{ 'operations.type.PAY_BETWEEN_ACCOUNTS' | translate }}
      </h1>

      <section class="common-autofill">
        <div class="common-autofill__text flex-column">
          <span class="common-autofill__secondary d-flex align-items-baseline">
            <p
              class="common-autofill__secondary"
              [ngStyle]="{
                color: !transferFormControl.docNum.errors?.required
                  ? ''
                  : '#FF5721'
              }">
              {{ 'operations.payment-confirmation.doc-number' | translate }}:
            </p>
            <span
              class="ms-1 common-autofill__secondary"
              *ngIf="
                !transferFormControl.docNum.errors?.required && !isEditDocNum
              ">
              №{{ transferFormControl.docNum.value }}
            </span>

            <input
              *ngIf="isEditDocNum"
              formControlName="docNum"
              maxlength="9"
              class="form-control common-autofill__docNum"
              [ngClass]="displayFieldClass('docNum')"
              obDocNumberPayment
              (docNumChange)="docNumChange($event)"
              (focusout)="editDocNum()"
              (keyup)="onDocNumKeyUp($event)"
              id="docNum" />
          </span>
          <div class="align-self-start">
            <div class="common-autofill__docNum-error-container">
              <ob-field-error-display
                *ngIf="transferFormControl.docNum.errors?.maxLengthExceeded"
                [displayError]="isFieldValid('docNum')"
                errorMsg="{{ 'error.documentNum-payments' | translate }}">
              </ob-field-error-display>
              <ob-field-error-display
                *ngIf="transferFormControl.docNum.errors?.pattern"
                [displayError]="isFieldValid('docNum')"
                errorMsg="{{ 'error.filledIncorrectly' | translate }}">
              </ob-field-error-display>
            </div>
          </div>
        </div>
        <div class="common-autofill__text">
          <img
            *ngIf="!isEditDocNum && transferFormControl.docNum.errors?.required"
            src="assets/icons/ic_edit1.svg"
            alt="change-icon"
            class="contragent-autofill__edit_icon"
            (click)="editDocNum()" />
          <img
            *ngIf="
              !isEditDocNum && !transferFormControl.docNum.errors?.required
            "
            src="assets/icons/ic_edit.svg"
            alt="change-icon"
            class="contragent-autofill__edit_icon"
            (click)="editDocNum()" />
          <img
            *ngIf="isEditDocNum"
            src="assets/icons/ic_check_mark.svg"
            alt="change-icon"
            class="common-autofill__edit_icon"
            (click)="editDocNum()" />
        </div>
        <div class="common-autofill__text">
          <span class="common-autofill__secondary me-2">
            {{ 'operations.default.createDate' | translate }}
          </span>
          <span class="common-autofill__main">{{
            defaultPrefill?.docDate | reverse
          }}</span>
        </div>
      </section>

      <section>
        <p class="common-subtitle">
          {{ 'operations.default.fromTo' | translate }}
        </p>

        <div class="row">
          <div
            class="col-dt-6 col-tb-6 col-mb-12 common-comission__input"
            id="bootstrap-overrides-transfer-from">
            <ng-select
              formControlName="accountFrom"
              class="custom-select"
              [clearable]="false"
              [searchable]="isSearchableSrc"
              [ngClass]="displayFieldClass('accountFrom')"
              required
              [loading]="accountListLoading || corpCardsLoading"
              [notFoundText]="notFound"
              (open)="onOpenOnCloseSrc(isSearchableSrc)"
              (close)="onOpenOnCloseSrc(isSearchableSrc)"
              placeholder="{{ 'operations.transfers.accountFrom' | translate }}"
              [readonly]="accountListLoading || corpCardsLoading || isLoading"
              [inputAttrs]="{
                maxlength: '20'
              }"
              loadingText="{{ 'default.loading' | translate }}...">
              <ng-option
                *ngFor="let account of accountFromList | accountListSorter"
                [value]="account.iban || account.accountIban"
                disabled="{{
                  (account.iban || account.accountIban) ===
                    transferFormControl.accountTo.value
                }}">
                <ob-select-account
                  [description]="account | accountNumber"
                  [title]="account.amountBalance || account.actualBalance || 0"
                  [icon]="getIcon(account)"></ob-select-account>
              </ng-option>
            </ng-select>
            <div>
              <ob-field-error-display
                *ngIf="transferFormControl.accountFrom.errors?.required"
                [displayError]="isFieldValid('accountFrom')"
                errorMsg="{{
                  'error.required' | translate
                }}"></ob-field-error-display>
              <p *ngIf="isEmptyBalance" class="text-muted">
                {{ 'error.amount' | translate }}
              </p>
            </div>
          </div>

          <div
            class="col-dt-6 col-tb-6 col-mb-12 common-comission__input"
            id="bootstrap-overrides-transfer-to">
            <ng-select
              formControlName="accountTo"
              class="custom-select"
              [clearable]="false"
              [searchable]="isSearchableTarget"
              [ngClass]="displayFieldClass('accountTo')"
              required
              [loading]="accountListLoading || corpCardsLoading"
              [notFoundText]="notFound"
              (open)="onOpenOnCloseTarget(isSearchableTarget)"
              (close)="onOpenOnCloseTarget(isSearchableTarget)"
              placeholder="{{ 'operations.transfers.accountTo' | translate }}"
              [readonly]="accountListLoading || corpCardsLoading || isLoading"
              [inputAttrs]="{
                maxlength: '20'
              }">
              <ng-option
                *ngFor="let account of accountToList | accountListSorter"
                [value]="account.iban || account.accountIban"
                disabled="{{
                  (account.iban || account.accountIban) ===
                    transferFormControl.accountFrom.value
                }}">
                <ob-select-account
                  [description]="account | accountNumber"
                  [title]="account.amountBalance || account.actualBalance || 0"
                  [icon]="getIcon(account)"></ob-select-account>
              </ng-option>
            </ng-select>
            <div>
              <ob-field-error-display
                *ngIf="transferFormControl.accountTo.errors?.required"
                [displayError]="isFieldValid('accountTo')"
                errorMsg="{{
                  'error.required' | translate
                }}"></ob-field-error-display>
            </div>
          </div>
        </div>
      </section>

      <section>
        <p class="common-subtitle">
          {{ 'operations.default.amount' | translate }}
        </p>

        <div class="row">
          <!-- [ngModelOptions]="{standalone: true}" -->
          <div class="col-dt-6 col-tb-6 col-mb-12 mb-2">
            <div class="form-floating">
              <input
                formControlName="amount"
                type="text"
                class="form-control base-input a2a_amount"
                id="paymentPurpose"
                placeholder="{{
                  'operations.default.transferAmount' | translate
                }}"
                [ngClass]="displayFieldClass('amount')"
                mask="separator.2"
                suffix=" ₸"
                thousandSeparator=" "
                separatorLimit="999999999999999999"
                autocomplete="off" />
              <label for="paymentPurpose">{{
                'operations.default.transferAmount' | translate
              }}</label>
            </div>

            <ob-field-error-display
              *ngIf="transferFormControl.amount.errors?.required"
              [displayError]="isFieldValid('amount')"
              errorMsg="{{
                'error.required' | translate
              }}"></ob-field-error-display>
            <p *ngIf="insufficientFunds" class="text-muted">
              {{ 'error.amount' | translate }}
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- <div class="col-dt-3 col-smdt-3">
    <div class="information transfer-content">
      <p class="transfer-content__right-heading">
        {{ 'default.information' | translate }}
      </p>
      <div class="information-content">
        <div
          class="d-flex flex-row justify-content-between information-content__click_area"
          (click)="transferBetweenInfoShow()"
        >
          <p class="information-content__title">
            {{ 'operations.transfers.transferBetween.title' | translate }}
          </p>
          <img
            src="assets/icons/down_arrow.svg"
            [ngClass]="{
              'information-content__arrow_down': transferBetweenInfo === false,
              'information-content__arrow_up': transferBetweenInfo === true
            }"
          />
        </div>
        <p
          class="information-content__text"
          *ngIf="transferBetweenInfo === true"
        >
          {{ 'operations.transfers.transferBetween.text' | translate }}
        </p>
      </div>
    </div>
  </div> -->
</div>

<ob-payment-footer
  [commission]="commission"
  [sum]="convertToFixed()"
  (toSave)="onSubmit()"
  (toSign)="onSubmit()"
  [isSave]="true"
  [isSign]="true"
  [operationType]="'transfer'"
  [loading]="formLoading || accountListLoading || corpCardsLoading || isLoading"
  [comissionLoading]="formLoading"></ob-payment-footer>
