<div>
  <div class="form-floating">
    <input
      class="form-control input"
      autocomplete="off"
      [ngClass]="{
        'is-invalid':
          (inputEl.touched && inputEl.errors?.required) ||
          (inputEl.touched && inputEl.invalid)
      }"
      type="text"
      placeholder="placeholder"
      (keyup)="onInputChange()"
      [formControl]="inputEl"
      (mousedown)="getAllData()" />

    <label for="floatingInput">{{ label }}</label>
  </div>
  <div
    *ngIf="
      (inputEl.touched && inputEl.errors?.required) ||
      (inputEl.touched && inputEl.invalid)
    ">
    <p class="invalid">{{ 'error.required' | translate }}</p>
  </div>

  <ng-content></ng-content>
</div>
