@import '/src/styles/variables.scss';

.account {
	margin-bottom: 32px;

	&-back-button {
		margin-bottom: 35px;
	}

	&-opeartions__wrapper {
		background: white;
		border-radius: 12px;
		box-sizing: border-box;
		padding: 32px;
		.title,
		.title-download {
			margin-bottom: 24px;
			font-weight: 700;
			font-size: 16px;
			&-download {
				color: $color-green;
				cursor: pointer;
			}
		}
	}
}

.bottom-line {
	border-top: 1px solid $color-pale-gray;
	margin: 40px 0 32px;
}