@import "/src/styles/variables.scss";

.dropdown {
  max-height: 45px;
  overflow: hidden;
  transition: 0.5s;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &-active {
    max-height: 3000px !important;
  }

  &-img__active {
    transform: rotate(90deg) !important;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
    padding: 0;
    letter-spacing: 0.02em;

    &__title {
      font-size: $font-size-medium;
      font-weight: bold;
      color: $color-light-black;
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 32px;

      p{
        font-size: $font-size-small;
        font-weight: 700;
        color: $color-green;
      }

      .toggle {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }

    &__img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $Background-light-grey;
      transform: rotate(270deg);
      cursor: pointer;
    }

    &__img-operation {
      transform: rotate(90deg);
    }
  }
  &-img__active-operation {
    transform: rotate(270deg) !important;
  }
}

.max-162{
  max-height: 162px;
}

.mr-32{
  padding-right: 32px;
}