<div class="modal-operations">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ 'default.actions' | translate }}
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="cancel()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="action__container">
      <div class="action__title" draggable="false">
        {{ 'default.actionsOnMain' | translate }}
      </div>
      <div class="action__text" draggable="false">
        {{ 'default.actionsInstruction' | translate }}
      </div>
      <div class="action__content">
        <ng-template
          ngFor
          let-item
          [ngForOf]="mainOperations"
          let-i="index"
          [ngForTrackBy]="trackByFn">
          <div
            class="draggable-item"
            draggable="true"
            (drop)="drop($event, i, 'main')"
            (dragover)="allowDrop($event)"
            (dragstart)="drag($event, i, 'main')"
            (dragenter)="dragEnter(i, 'main')"
            (dragend)="dragEnd()"
            [class.isDragging]="
              i === dragIndex && dragType === 'main' && isDragover
            "
            [class.dragEnter]="
              i === dragEnterIndex && dragEnterType === 'main' && isTargetDrag
            ">
            <ob-custom-card
              [className]="
                item.disabled
                  ? 'flex opacity-50 align-items-center'
                  : 'flex align-items-center'
              "
              title="{{ item.title | translate }}"
              imgUrl="{{ item.img }}"
              [routerLink]="item.router"></ob-custom-card>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="action__container mt-4">
      <div class="action__title" draggable="false">
        {{ 'default.moreActions' | translate }}
      </div>
      <div class="action__content">
        <ng-template
          ngFor
          let-item
          let-i="index"
          [ngForOf]="allOperations"
          [ngForTrackBy]="trackByFn">
          <div
            class="draggable-item"
            draggable="true"
            (drop)="drop($event, i, 'all')"
            (dragover)="allowDrop($event)"
            (dragstart)="drag($event, i, 'all')"
            (dragenter)="dragEnter(i, 'all')"
            (dragend)="dragEnd()"
            [class.isDragging]="
              i === dragIndex && dragType === 'all' && isDragover
            "
            [class.dragEnter]="
              i === dragEnterIndex && dragEnterType === 'all' && isTargetDrag
            ">
            <ob-custom-card
              [className]="
                item.disabled
                  ? 'flex opacity-50 align-items-center'
                  : 'flex align-items-center'
              "
              title="{{ item.title | translate }}"
              imgUrl="{{ item.img }}"
              [routerLink]="item.router"></ob-custom-card>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="modal-footer pull-left" draggable="false">
    <ob-button
      [label]="'operations.payments.btn-save' | translate"
      [className]="'btn btn-success height-medium br-12 p-24 mr-24'"
      [disabled]="true"
      [onClick]="save"></ob-button>

    <ob-button
      [label]="'general.actions.cancel' | translate"
      [className]="'btn-outline-green height-medium br-12 p-24 mr-24'"
      (click)="cancel()"></ob-button>
  </div>
</div>
