@import "/src/styles/variables.scss";

.custom-card {
  background: $color-gray_main;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  padding: 16px;
  height: 52px;

  & > p {
    font-size: 14px;
    font-weight: 500;
    word-break: break-word;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #263238;
  }
}

::ng-deep .hidden-card{
  display: flex;
  justify-content: flex-end;
  .hidden-card{
    position: relative;
    margin-top: -10px;
  }
  span{
    position: absolute;
    margin-right: 10px;
    margin-top: -9px;
    background-color: #FBB100 !important;
    border-radius: 16px;
    padding: 3.675px 6.825px;
    font-size: 11px;
    letter-spacing: 0.28px;
    color: white;
    z-index: 1;
    font-weight: 700;
  }
}
