<div class="modal_header">
  <p class="modal_header_title">
    {{ 'sms.codeConfirmation' | translate }}
  </p>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="closeModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-dt-5">
      <div>
        <p class="sms-description mb-1">
          {{ 'sms.smsSent' | translate }}
        </p>
        <p class="sms-description">
          <strong>{{ getFormattedPhone() }}</strong>
        </p>
      </div>
      <!-- <div> -->
      <div class="code-container">
        <code-input
          [code]="otp"
          #codeInput
          [isCodeHidden]="false"
          [codeLength]="6"
          (codeChanged)="onCodeChanged($event)"
          (codeCompleted)="onCodeCompleted($event)"
          [initialFocusField]="0"
          [isPrevFocusableAfterClearing]="true"
          [disabled]="numberSendError.length > 0">
        </code-input>
      </div>

      <ng-template
        [ngIf]="numberSendError || getErrorMessage(loginError, 'message')">
        <p class="sms-error-text">
          {{ numberSendError || getErrorMessage(loginError, 'message') }}
        </p>
      </ng-template>

      <ng-template [ngIf]="otpError">
        <p class="sms-error-text">
          {{ otpError }}
        </p>
      </ng-template>

      <!-- <ng-template [ngIf]="smsError">
        <div class="alert alert-warning alert-params" role="alert">
          {{ smsError }}
        </div>
      </ng-template> -->

      <!-- <p *ngIf="loginErrorValue" class="code_input_error">{{ loginErrorValue }}</p> -->
      <!-- </div> -->

      <ng-template [ngIf]="timeLeft() > 0">
        <label class="sms-timer">
          {{ 'sms.resendCode' | translate }}
          <b class="mt-2"
            >{{ renderTimeUnit(minutes) }}:{{ renderTimeUnit(seconds) }}</b
          >
        </label>
      </ng-template>

      <ng-template [ngIf]="timeLeft() === 0">
        <div class="sms-timer sms-resend" (click)="resend()">
          {{ 'sms.resend' | translate }}
        </div>
      </ng-template>

      <!-- <ob-button
        [label]="'sms.confirm' | translate"
        [className]="'btn btn-success height-medium br-12 mb-3 mt-4 w-100'"
        [loading]="isConfirmationLoading"
        (click)="submit(isCodeCompleted)"
        [disabled]="numberSendError.length > 0"
      ></ob-button> -->
    </div>
  </div>
</div>
