<div class="account" *ngIf="isErrorPage === false">
  <div class="account-back-button">
    <ob-back-button [currentPage]="'account'"></ob-back-button>
  </div>

  <div class="row">
    <div class="col-dt-4 col-smdt-4 col-tb-12">
      <ob-card-info
        [cardData]="data"
        *ngIf="type === 'card' && fragment !== 'account'"></ob-card-info>
      <ob-account-info
        [accountData]="data"
        [type]="type"
        *ngIf="type === 'account' || type === 'card-account'"></ob-account-info>
      <!-- <ob-advertising-card></ob-advertising-card> -->
    </div>

    <div *ngIf="!isSettingsOpen" class="col-dt-8 col-smdt-8 col-tb-12">
      <div class="account-opeartions__wrapper">
        <ob-loader [loading]="isLoadingPage()">
          <ng-template [ngIf]="data?.iban && isReportLoaded">
            <ob-account-history
              [listType]="'account-statements'"
              [iban]="data?.iban || ''"
              [accountType]="type"
              [accountData]="data"></ob-account-history>
          </ng-template>
        </ob-loader>
      </div>
    </div>
    <div *ngIf="isSettingsOpen" class="col-dt-8 col-tb-8">
      <ob-settings></ob-settings>
    </div>
  </div>
</div>
<ob-error-page *ngIf="isErrorPage === true" [breadCrumbs]="'account'">
</ob-error-page>
