.advertising{
  padding: 26px 16px 30px 32px;
  background: linear-gradient(0deg, #C7E6ED, #C7E6ED), linear-gradient(112.34deg, #BEE1EC 2.07%, #E7F8F1 100%);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  margin-bottom: 32px;

  &-text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #263238;
    margin-bottom: 8px;
  }
  &-small{
    font-size: 12px!important;
  }
}