<div class="advertising">
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-column">
      <p class="advertising-text">{{ 'cards.advertising' | translate }}</p>
      <p class="advertising-text advertising-small">
        {{ 'cards.business' | translate }}
      </p>
    </div>
    <img
      *ngIf="cardType === 1"
      src="assets/icons/Background_card_business_visa%201.svg" />
    <img
      *ngIf="cardType === 2"
      src="assets/icons/Background_card_business_visa%202.svg" />
  </div>
</div>
