@import '/src/styles/variables.scss';

.tab-selects {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;

  &-item {
    color: $color-black;
    font-size: $font-size-small;
    font-weight: 500;
    padding: 7px 24px;
    cursor: pointer;
    background-color: $color-gray_main;
    border-radius: 40px;
    line-height: 1.3;
    &__loading {
      color: $color-black;
      font-size: $font-size-small;
      font-weight: 500;
      padding: 7px 24px;
      background-color: $color-gray_main;
      border-radius: 40px;
      line-height: 1.9;
      cursor: not-allowed;
      pointer-events: none;
    }
    &__active-loading {
      color: $color-black;
      font-size: $font-size-small;
      font-weight: 500;
      padding: 7px 24px;
      background-color: $color-tab-gray;
      border-radius: 40px;
      line-height: 1.3;
      opacity: 0.65;
    }
  }

  .loader {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-top: 1px solid $color-gray-middle;
    width: 23px;
    height: 23px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    margin-left: 1rem;
    margin-right: -12px;
  }
}

.active {
  background-color: $color-green;
  border-radius: 40px;
  color: #fff;
  display: flex;
  align-items: center;
}
