@import "/src/styles/variables.scss";

.statistic {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 24px;
  &-header {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: $font-size-medium;
  }
}

@media screen and (max-width: 710px) {
  .statistic {
    margin-top: 20px;
  }
}