.modal {
  &_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 32px 24px 32px;
    border-bottom: 1px solid #D0D6D8;

    &_title {
      font-weight: 800;
      font-size: 26px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #262727;

    }

    &_btn_close {
      width: 32px;
      height: 32px;
      margin-top: -16px;
      margin-right: -16px;
      cursor: pointer;
    }

  }

  &_body {
    display: flex;
    flex-direction: column;
    padding: 24px 32px 48px 32px;

    &_content {
      display: flex;
      flex-direction: column;
      padding-bottom: 12px;
      border-bottom: 1px solid #D0D6D8;
      margin-bottom: 12px;

      &:last-child {
        padding-bottom: 0px;
        border-bottom: 0px;
        margin-bottom: 0px;
      }

      &_wrapper {
        display: flex;
        flex-direction: row;
      }
    }

  }
}

.item {
  &_number {
    width: 16px;
    margin-right: 9px;
  }

  &_main {
    width: 518px;

    &_name {
      font-weight: 500;
      font-size: 14px;
      color: #263238;
      margin-bottom: 4px;
    }

    &_amount {
      font-weight: 700;
      font-size: 14px;
      color: #FF5721;
    }

    &_info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 12px;

      &:first-child {
        margin-top: 12px;
      }

      &:last-child {
        margin-bottom: 0px;
      }

      &_text1 {
        width: 30%;
        font-weight: 500;
        font-size: 14px;
        color: #829199;
      }

      &_text2 {
        width: 65%;
        font-weight: 500;
        font-size: 14px;
        color: #263238;
      }
    }
  }

  &_arrow_down {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 9px;
    width: 12px;
    height: 12px;

    &:hover {
      cursor: pointer;
    }
  }

  &_arrow_up {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 9px;
    width: 12px;
    height: 12px;
    transform: rotate(180deg);

    &:hover {
      cursor: pointer;
    }
  }

  &_img {
    margin-left: 16px;
  }
}

@media screen and (max-width: 720px) {
  .item {
    &_main {
      &_info{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
      }
    }
  }

  ::ng-deep .savings-modal .modal-content{
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}