@import "/src/styles/main.scss";
@import "/src/styles/variables.scss";

.notification-card {
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 24px 32px;
  cursor: pointer;

  .notification {

    &-icon {
      img {
        width: 24px;
        height: 24px;
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      letter-spacing: 0.02em;
    }

    &-title {
      font-size: $font-size-medium;
      font-weight: 700;
      letter-spacing: 0.02em;
      color: $color-light-black;
    }

    &-text {
      font-size: $font-size-small;
      color: $color-gray-darker;
      font-weight: 500;
    }

    &-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 12px;
      border: 1px solid #e1e9ea;
    }

    &-btn {
      text-decoration: none;
      color: $color-green;
      font-size: $font-size-small;
      font-weight: 700;
    }
  }
}
