.credit_payment {
  padding: 32px;
  background: #FFFFFF;
  border-radius: 12px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.line {
  &_green {
    height: 7px;
    background: #11BB91;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  &_grey {
    height: 7px;
    background: #D0D6D8;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.text {
  &_next {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #263238;
  }

  &_term {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #263238;
  }

  &_repaid {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #829199;

  }

  &_amount {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #263238;
  }
}
.mt{
  &_24{
    margin-top: 24px;
  }
  &_16{
    margin-top: 16px;
  }
  &_4{
    margin-top: 4px;
  }
}

.br-50 {
  border-radius: 50px;
}