.open_deposit {
  width: 100%;
  display: flex;
  flex-direction: column;

  &_main {
    padding: 32px;
    background-color: #FFFFFF;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    &_title {
      font-weight: 800;
      font-size: 20px;
      line-height: 132%;
      letter-spacing: 0.01em;
      color: #263238;
    }

    &_sum {
      width: 100%;
      border: 1px solid #D0D6D8;
      border-radius: 12px;
      padding: 16px 16px 16px 16px;
      outline: none;

      &::placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #829199;
      }

      &:focus {
        padding: 15px;
        border: 2px solid #11BB91;
      }
    }

  }

  &_offer {
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 12px;

    &_title {
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #263238;
    }

    &_wrapper {
      display: flex;
      flex-direction: row;
    }

    &_img {
      width: 36px;
      height: 36px;
    }

    &_key {
      font-weight: 700;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #263238;
    }

    &_value {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #263238;
    }
  }

  &_footer {
    padding: 24px 32px 32px 32px;
    border-top: 1px solid #D0D6D8;
    background-color: #FFFFFF;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

    &_btn {
      background: #11BB91;
      border-radius: 12px;
      padding: 11px 24px 11px 24px;
      border: none;
      outline: none;

      p {
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
      }
    }
  }
}

.ml {
  &_12 {
    margin-left: 12px;
  }
}

.mb {
  &_4 {
    margin-bottom: 4px;
  }

  &_8 {
    margin-bottom: 8px;
  }

  &_12 {
    margin-bottom: 12px;
  }

  &_15 {
    margin-bottom: 15px;
  }

  &_17 {
    margin-bottom: 17px;
  }

  &_24 {
    margin-bottom: 24px;
  }

  &_32 {
    margin-bottom: 32px;
  }

  &_35 {
    margin-bottom: 35px;
  }

  &_40 {
    margin-bottom: 40px;
  }
}

.text {
  &_term {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #829199;
  }

  &_bid {
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #829199;

    &_val {
      font-weight: 800;
      font-size: 26px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }

  &_kpn {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #829199;

    &_val {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #263238;
    }
  }
}

.slider {
  padding: 8px 20px 11px 20px;
  border: 1px solid #D0D6D8;
  border-radius: 12px;

  &_toggle {
    border: none;
    outline: none;
    margin-top: -10px;
  }

  &_term {
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #829199;
  }

  &_val {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #263238;
  }

  &_date {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #829199;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type='range'] {
    overflow: hidden;
    width: 100%;
    -webkit-appearance: none;
  }

  input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color: #11BB91;
    margin-top: -1px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom: 1px solid #D0D6D8;
    border-left: 1px solid #D0D6D8;
    border-right: 1px solid #D0D6D8;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: ew-resize;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #11BB91;
    z-index: -1;
  }

}


