<div class="open_deposit">
  <div class="back-button mb_35">
    <ob-back-button [currentPage]="'home_operations'"></ob-back-button>
  </div>
  <div class="row">
    <div class="col-smdt-12 col-dt-9 col-lgdt-8">
      <div class="open_deposit_main">
        <p class="open_deposit_main_title mb_40">
          {{ 'products.deposits.deposit' | translate }}
        </p>
        <div class="row mb_15">
          <div class="col-dt-6 col-tb-6 col-mb-12">
            <ng-select
              [(ngModel)]="selectedAccount"
              class="custom-select account-withdraw"
              [searchable]="false"
              [clearable]="false"
              placeholder="{{ 'operations.budget.account-desc' | translate }}"
              (ngModelChange)="onAccountChange($event)">
              <ng-option *ngFor="let item of accountList" [value]="item">
                <ob-select-account
                  [description]="item.iban"
                  [title]="item.actualBalance"
                  [icon]="getIcon(item.currency)"
                  [currency]="item.currency"
                  [selected]="
                    item?.iban === selectedAccount?.iban
                  "></ob-select-account>
              </ng-option>
            </ng-select>
            <ob-field-error-display
              [displayError]=""
              errorMsg="{{ 'error.account_not_selected' | translate }}">
            </ob-field-error-display>
          </div>
          <div class="col-dt-6 col-tb-6 col-mb-12">
            <input
              class="open_deposit_main_sum"
              type="text"
              [(ngModel)]="depositSum"
              (ngModelChange)="depositSumChange()"
              placeholder="{{
                'products.deposits.depositAmount' | translate
              }}" />
          </div>
        </div>
        <div class="row mb_24">
          <div class="col-12">
            <div class="d-flex flex-column">
              <div class="d-flex flex-row justify-content-between slider">
                <div class="d-flex flex-column">
                  <p class="slider_term mb_4">
                    {{ 'products.deposits.term' | translate }}
                  </p>
                  <p class="slider_val">1 {{ 'default.day' | translate }}</p>
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <p class="slider_date">
                    {{ 'default.before' | translate }} 28.11.2023
                  </p>
                </div>
              </div>
              <input
                type="range"
                class="slider_toggle mb_4"
                min="1"
                max="29"
                [(ngModel)]="dateRange"
                (ngModelChange)="dateRangeChange()" />
            </div>
            <p class="text_term">
              {{ 'products.deposits.termRange' | translate }}
            </p>
          </div>
        </div>
        <div class="row mb_24">
          <div class="col-dt-6 col-tb-6 col-mb-12">
            <p class="text_bid mb_4">
              {{ 'products.deposits.nominalRate' | translate }}
            </p>
            <p class="text_bid_val">{{ deposit?.feeRate }}%</p>
          </div>
          <div class="col-dt-6 col-tb-6 col-mb-12">
            <p class="text_bid mb_4">
              {{ 'products.deposits.rewardAmount' | translate }}
            </p>
            <p class="text_bid_val">{{ deposit?.feeAmount }} ₸</p>
          </div>
        </div>
        <div class="row mb_12">
          <p class="text_kpn">
            {{ 'products.deposits.taxRate' | translate }:
            <span class="text_kpn_val">0%</span>
          </p>
        </div>
        <div class="row mb_17">
          <p class="text_kpn">
            {{ 'products.deposits.rewardInfo' | translate }
          </p>
        </div>
      </div>
      <div class="open_deposit_footer">
        <button class="open_deposit_footer_btn" (click)="openDeposit()">
          <p>{{ 'accounts.addDeposit' | translate }}</p>
        </button>
      </div>
    </div>
    <div class="col-smdt-12 col-dt-3">
      <div class="open_deposit_offer">
        <p class="open_deposit_offer_title mb_24">
          {{ 'products.deposits.depositSuggestion' | translate }}
        </p>
        <div class="open_deposit_offer_wrapper mb_24">
          <img
            src="assets/icons/deposit_currency.svg"
            class="open_deposit_offer_img" />
          <div class="ml_12">
            <p class="open_deposit_offer_key">
              {{ 'products.deposits.depositCurrency' | translate }}
            </p>
            <p class="open_deposit_offer_value">
              {{ 'default.lowerTenge' | translate }}
            </p>
          </div>
        </div>
        <div class="open_deposit_offer_wrapper mb_24">
          <img
            src="assets/icons/deposit_replenishment_withdrawal.svg"
            class="open_deposit_offer_img" />
          <div class="ml_12">
            <p class="open_deposit_offer_key">
              {{ 'products.deposits.depositInfoTitle2' | translate }}
            </p>
            <p class="open_deposit_offer_value">
              {{ 'products.deposits.depositInfoText2' | translate }}.
              {{ 'products.deposits.depositInfoText3' | translate }}
            </p>
          </div>
        </div>
        <div class="open_deposit_offer_wrapper">
          <img
            src="assets/icons/deposit_term.svg"
            class="open_deposit_offer_img" />
          <div class="ml_12">
            <p class="open_deposit_offer_key">
              {{ 'products.deposits.depositTerm' | translate }}
            </p>
            <p class="open_deposit_offer_value">
              {{ 'products.deposits.termRange' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
