<div class="discharge">
  <p class="discharge-title">{{ 'default.account' | translate }}</p>

  <ng-select
    [(ngModel)]="selectedAccount"
    class="custom-select mb-4"
    [searchable]="false"
    [clearable]="false"
    (change)="changeSelectedAccount()">
    <ng-option
      *ngFor="let account of accountsForDischarge"
      [value]="account?.iban || account?.accountIban">
      <ob-select-account
        [description]="account.iban || account.accountIban"
        [title]="account.actualBalance || account.amountBalance || 0.0"
        [icon]="account.img"></ob-select-account>
    </ng-option>
  </ng-select>

  <div class="mb-5 table-calendar">
    <p class="table-calendar-title">{{ 'default.period' | translate }}</p>
    <ob-input-calendar (selectedDate)="setFromDate($event)"></ob-input-calendar>
    <div style="margin-right: 10px"></div>
    <ob-input-calendar (selectedDate)="setToDate($event)"></ob-input-calendar>
  </div>

  <p class="discharge-title">{{ 'slideModal.chooseFormat' | translate }}</p>

  <div class="form-content mb-3" [formGroup]="formatForm">
    <div class="form-group">
      <input
        type="radio"
        value="pdf"
        id="pdf"
        class="custom-input_radio"
        formControlName="format" />
      <label for="pdf" class="discharge-form-text">PDF</label>
    </div>
    <div class="form-group" id="typeRk">
      <input
        type="radio"
        value="xls"
        id="xls"
        class="custom-input_radio"
        formControlName="format" />
      <label for="xls" class="discharge-form-text">Excell</label>
    </div>
  </div>

  <p class="discharge-title" style="margin-top: 64px">
    {{ 'default.send' | translate }}
  </p>

  <input
    class="form-control height-large br-12 mb-4"
    autocomplete="off"
    type="text"
    required="true"
    [(ngModel)]="mail"
    placeholder="{{ 'default.mail' | translate }}" />

  <ob-button
    label="{{ 'default.sendToMail' | translate | uppercase }}"
    style="padding: 0; margin-bottom: 64px"
    [className]="'btn height-large br-12'"
    [disabled]="!mail"></ob-button>
</div>
