@import "/src/styles/variables.scss";

.discharge {
    &-title {
        margin-bottom: 16px;
    }

    &-form-text {
        color: $color-black !important;
        font-weight: 500 !important;
    }
}

.table-calendar {
    display: flex;
    align-items: center;

    &-title {
        margin-right: 8px;
    }
}
