.col {
  width: 29%;
}

.col1 {
  width: 31%;
}

.col2 {
  width: 15%;
}

.col3 {
  width: 20%;

  &_img {
    width: 17%;
  }
}

.col4 {
  width: 50%;
}

.employee_row{
  display: flex;
  flex-direction:row;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #D0D6D8;
}

.text_bold {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #2A353D;
}

.text_light {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #88999C;
}

.field_wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #D0D6D8;
}

.wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.col_title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #505C64;
}

.text_active {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #11BB91;
}

.text_not_active {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #E35C53;
}

.up_arrow {
  width: 10px;
  height: 10px;
  margin-left: 7px;
  transform: rotate(180deg);
  margin-top: auto;
  margin-bottom: auto;
}

.down_arrow {
  width: 10px;
  height: 10px;
  margin-left: 7px;
  margin-top: auto;
  margin-bottom: auto;
}

.img_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 3%;

  img {
    width: 24px;
    height: 24px;
  }
}

.img_wrapper:hover {
  cursor: pointer;
}

.dropdown {
  &_body_invisible {
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
  }

  &_body_visible {
    display: block;
    position: absolute;
    background-color: #fff;
    color: #000;
    z-index: 10;
    padding: 8px 0;
    margin-bottom: -120px;
    margin-left: -145px;
    width: 165px;
    height: 94px;
    box-shadow: 0px 0px 32px rgba(80, 92, 100, 0.05), 0px 4px 20px rgba(42, 53, 61, 0.1);
    border-radius: 8px;
  }
  &_btn{
    width: 100%;
    height: 39px;
    background-color: #FFFFFF;
    margin-right: auto;
    border: none;
    outline: none;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #263238;
    text-align: left;

    &:hover {
      cursor: pointer;
      background-color: #f4f5f6;
    }
  }
}

.mb {
  &_4 {
    margin-bottom: 4px;
  }
}

