<div class="form-floating">
  <input
    class="form-control"
    [ngClass]="{
      'is-invalid':
        ((submitted || inputForm.touched || customValidation) &&
          inputForm.errors?.required) ||
        formInvalid
    }"
    autocomplete="off"
    type="type"
    required="required"
    placeholder="placeholder"
    [formControl]="inputForm" />

  <label for="floatingInput">{{ label }}</label>
</div>
<div>
  <p
    *ngIf="
      formInvalid ||
      ((submitted || inputForm.touched || customValidation) &&
        inputForm.errors?.required)
    "
    class="invalid">
    {{ 'error.required' | translate }}
  </p>
</div>
