<div class="all-tariffs">
  <div class="tariff-card__wrapper row g-24">
    <div
      *ngFor="let item of tariffGroupNameList"
      class="col-dt-4 col-tb-4 col-mb-4 col-lgdt-4">
      <div class="tariff-card">
        <div class="tariff-card__header">
          <div class="tariff-card__title">
            {{ tariffGroupList[item][0].name | titlecase }}
          </div>
          <div class="tariff-card__line" [ngStyle]="getLineColor(item)"></div>
          <div
            class="tariff-card__subtitle"
            [innerText]="tariffGroupList[item][0].description"></div>
        </div>
        <div class="tariff-card__body"></div>
        <div class="tariff-card__footer">
          <div class="tariff-card__price">
            <span class="tariff-card__title"
              >{{ 'default.from' | translate }}
              {{
                tariffGroupList[item][0].finalCost ||
                  tariffGroupList[item][0].cost
              }}
              ₸</span
            >
            / {{ 'general.time.month' | translate | lowercase }}
          </div>
          <button class="tariff-card__btn" (click)="navigateToConnect(item)">
            {{ 'products.default.connect' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
