<div class="col stg_left_bar">
  <div class="col stg_cont1">
    <p class="stg_name">{{ toNormalName(user.name) }}</p>
    <p class="stg_company">{{ currentContract.name | uppercase }}</p>
  </div>
  <div class="row stg_btn_cont">
    <div
      [ngClass]="{
        stg_btn_wrapper: i !== btnList.length - 1,
        stg_btn_wrapper_last: i === btnList.length - 1
      }"
      *ngFor="let item of btnList; let i = index">
      <li
        class="stg_btn"
        routerLinkActive="active"
        routerLink="{{ item.path }}">
        <img src="{{ item.img }}" />
        <a class="stg_btn_name">{{ item.name }}</a>
      </li>
    </div>
  </div>
</div>
