
@import '/src/styles/variables.scss';

.contract {
  &_back_btn {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &_main {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;

    &_title {
      font-weight: 800;
      font-size: 20px;
      color: #263238;
    }

    &_subTitle {
      font-weight: 700;
      font-size: 16px;
      color: #263238;
    }

    &_section {
      &_title {
        font-weight: 700;
        font-size: 16px;
        color: #263238;
      }

      &_label {
        font-weight: 500;
        font-size: 14px;
        color: #829199;
      }

      &_noNum {
        font-weight: 500;
        font-size: 14px;
        color: #2A353D;
      }
    }

    &__field {
      &-length {
        margin-top: 6px;
        text-align: end;
        font-size: $font-size-extra-small;
        color: $color-gray-middle;
      }

      &-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }
    }

  }

  &-autofill {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    line-height: 18.2px;

    &__text {
      display: flex;
      align-items: center;

      &:nth-child(2) {
        margin-right: 2rem;
      }

      &>img {
        cursor: pointer;
      }
    }

    &__main {
      color: $color-gray-light-dark;
      font-weight: 500;
    }

    &__dark {
      color: $color-light-black;
      font-weight: 500;
      margin-bottom: 8px;
    }

    &__small {
      color: $color-gray-light-dark;
      font-size: $font-size-extra-small;
      font-weight: 500;
    }

    &__secondary {
      color: $color-gray-light-dark;
      font-size: $font-size-small;
      font-weight: 500;

      &-number {
        color: #000;
      }
    }

  }

  &_info {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;
  }

  &_obligation {
    display: flex;
    align-items: baseline;

    &-text {
      margin-left: 18px;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }

    &-checkbox {
      background-color: green;
    }
  }

  &_info {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;

    &_title {
      font-weight: 700;
      font-size: 16px;
      color: #263238;
    }

    &_item {
      &_title {
        font-weight: 700;
        font-size: 14px;
        color: #263238;
      }

      &_text {
        font-weight: 500;
        font-size: 14px;
        color: #263238;
      }

      &_line {
        border: 1px solid #D0D6D8;
        margin-bottom: 0px;
        width: 100%;
      }

      &_phone {
        font-weight: 500;
        font-size: 14px;
        color: #11BB91;
      }

      &_arrow {
        &_up {
          margin-top: auto;
          margin-bottom: auto;
          width: 12px;
          height: 12px;
          cursor: pointer;
        }

        &_down {
          margin-top: auto;
          margin-bottom: auto;
          width: 12px;
          height: 12px;
          cursor: pointer;
          transform: rotate(180deg);
        }
      }
    }
  }
}

.icon-calendar {
  position: absolute;
  right: 27px;
  top: 15px;
  cursor: pointer;

  img {
    height: 24px;
    width: 24px;
  }
}

.flex {
  display: flex;
}

.file-drop-area {
  margin-top: 16px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 100%;
  padding: 16px;
  border: 2px dashed #e1e9ea;
  border-radius: 12px;
  transition: 0.2s
}

.file-drop-area__format {
  font-size: 14px;
  font-weight: 500;
  color: #829199;
}

.choose-file-button {
  flex-shrink: 0;
  color: $color-green;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0
}

.file-over {
  border: 2px dashed $color-green;
}

.file-invalid {
  border: 2px dashed $color-error-red;
}

.file-message {
  &-dark-gray {
    color: $color-gray-darker;
  }

  &-light-gray {
    color: $color-gray-light-dark;
  }
}

.uploaded-file {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;

  &__content {
    display: flex;
    gap: 16px;
  }

  &__text {
    &-bold {
      font-weight: $font-weight-bold;
      font-size: $font-size-small;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: $color-light-black;
      margin-bottom: 4px;
    }

    &-gray {
      font-weight: $font-weight-medium;
      font-size: $font-size-extra-small;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: $color-gray-light-dark;
    }
  }

  &__delete {
    display: flex;
    align-items: center;
    gap: 16px;

    p {
      align-self: flex-start;
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

.base-input {
  padding-left: 16px;
  height: 56px;
  font-weight: 500;
  font-size: $font-size-medium;
  color: $color-light-black;
  outline-color: #ced4da;
}

::ng-deep .ng-select.custom-select.account-currency {
  .ng-select-container {
    background: url('./../../../../../assets/icons/account-currency.svg') !important;
    background-repeat: no-repeat !important;
    background-position: 12px center !important;

    .ng-placeholder {
      padding-left: 48px !important;
    }

    &.ng-has-value {
      background: none !important;

      .ng-value .ng-value-label {
        .currency-item .icon {
          width: 36px !important;
          height: 36px !important;
        }
      }
    }
  }
}

::ng-deep .bs-datepicker.contract-calendar {
  top: 7px;
  border-radius: 12px;
  box-shadow: 0px 0px 32px rgba(80, 92, 100, 0.06),
    0px 4px 20px rgba(42, 53, 61, 0.1);

  .bs-datepicker-head {
    background-color: #fff !important;

    button {
      color: $color-light-black;
      font-size: 14px;
      font-weight: 700;
    }
  }

  .bs-datepicker-body {
    border: none;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    height: 250px;
    min-width: 343px;

    table {
      td {
        height: 0;
      }

      td {
        color: $color-light-black;
      }

      tbody tr td span {
        font-size: 14px;
        text-transform: capitalize;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
      }
    }
  }
}

.form-floating>label {
  padding-left: 16px !important;
  font-size: 16px;
  font-weight: 500;
  color: #829199;
  display: block;
  align-items: center;
}

.error {
  margin-bottom: 8px;
  margin-top: 27px;
  width: 100%;

  &_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #FF5721;
  }

  &_area {
    border: 1px solid #FF5721 !important;
  }
}

::ng-deep .tooltip {
  &-inner {
    padding: 20px;
    color: #fff;
    width: auto;
    max-width: 422px;
    border-radius: 12px;
    background: $color-black;
  }

  &-arrow::before {
    border-top-color: $color-black  !important;
    border-bottom-color: $color-black  !important;
  }
}

.mt {
  &_8 {
    margin-top: 8px;
  }

  &_11 {
    margin-top: 11px;
  }

  &_16 {
    margin-top: 16px;
  }

  &_18 {
    margin-top: 18px;
  }

  &_40 {
    margin-top: 40px;
  }
}