<div>
  <section class="contract_back_btn">
    <ob-back-button [currentPage]="'currency_controll'"></ob-back-button>
  </section>

  <div class="row mb-114">
    <div class="col-lgdt-8 col-dt-9 col-smdt-12" [formGroup]="form">
      <div>
        <div class="contract_main">
          <p class="contract_main_title">
            {{ 'operations.type.add_currency_contract' | translate }}
          </p>

          <!-- дата -->
          <div class="contract-autofill mt_16">
            <div class="contract-autofill__text">
              <span class="contract-autofill__secondary me-2">
                {{ 'operations.default.createDate' | translate }}
              </span>
              <span class="contract-autofill__main">{{
                contractFormControl.creationDate.value
              }}</span>
            </div>
          </div>
          <!-- дата -->

          <p class="contract_main_section_title">
            {{ 'currencyControl.contract.data' | translate }}
          </p>
          <p class="mt_16 contract_main_section_label">
            {{ 'currencyControl.contract.sum' | translate }}
          </p>

          <!--Сумма контракта-->
          <ob-tab-selects
            class="mt_8"
            [list]="contractTypeList"
            [selected]="contractType"
            (obSelectedDate)="changeContractType($event)"></ob-tab-selects>
          <!--Сумма контракта-->

          <!--Валюта-->
          <div class="row">
            <div
              class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12 mt_16"
              id="bootstrap-overrides-region">
              <div class="form-floating">
                <ng-select
                  formControlName="currency"
                  class="custom-select account-currency"
                  [searchable]="false"
                  [clearable]="false"
                  dropdownPosition="bottom"
                  placeholder="{{ 'default.currency' | translate }}"
                  notFoundText="{{ 'error.empty-data' | translate }}"
                  required
                  [ngClass]="displayFieldClass('currency')"
                  [loading]="isCurrencyListLoading"
                  loadingText="{{ 'default.loading' | translate }}..."
                  (change)="onCurrencyChange($event)"
                  id="currency">
                  <ng-option
                    *ngFor="let currency of currencyList"
                    [value]="currency.isoCode">
                    <ob-currency-card
                      [isActiveToShow]="currency.isActiveToShow"
                      [isoCode]="currency.isoCode"
                      [name]="currency.name"
                      [iconUrl]="currency.iconUrl">
                    </ob-currency-card>
                  </ng-option>
                </ng-select>
                <ob-field-error-display
                  *ngIf="contractFormControl.currency.errors?.required"
                  [displayError]="isFieldInvalid('currency')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
              </div>
            </div>
          </div>
          <!--Валюта-->

          <!---Филиал-->
          <div class="row" *ngIf="branchList.length > 0">
            <div class="col-dt-12 col-smdt-12 col-tb-12 col-mb-12 mt_16">
              <div
                style="position: relative"
                class="form-floating"
                id="bootstrap-overrides-region">
                <ng-select
                  formControlName="branch"
                  class="custom-select floating-label"
                  [searchable]="false"
                  [clearable]="false"
                  dropdownPosition="bottom"
                  placeholder="{{ 'default.reg-branch' | translate }}"
                  notFoundText="{{ 'error.empty-data' | translate }}"
                  required
                  [ngClass]="displayFieldClass('branch')"
                  [loading]="isBranchListLoading"
                  loadingText="{{ 'default.loading' | translate }}...">
                  <ng-option
                    *ngFor="let branch of branchList"
                    [value]="branch.eqCode">
                    {{ branch.eqName }}
                  </ng-option>
                </ng-select>
                <ob-field-error-display
                  *ngIf="contractFormControl.branch.errors?.required"
                  [displayError]="isFieldInvalid('branch')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
              </div>
            </div>
          </div>
          <!--Филиал-->

          <div class="row mt_16">
            <!--Номер контракта-->
            <div
              class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12"
              *ngIf="!this.contractFormControl.contractNumberNotExists.value">
              <div class="form-floating">
                <input
                  #contractNumber
                  formControlName="contractNumber"
                  type="text"
                  class="form-control base-input"
                  autocomplete="off"
                  type="text"
                  maxlength="50"
                  [required]="true"
                  placeholder="{{
                    'currencyControl.contract.number' | translate
                  }}"
                  [ngClass]="displayFieldClass('contractNumber')"
                  autocomplete="off"
                  (change)="contractNumber.value = contractNumber.value.trim()"
                  id="contractNumber" />
                <label for="contractNumber">{{
                  'currencyControl.contract.number' | translate
                }}</label>
                <div class="contract_main__field-wrapper">
                  <div>
                    <ob-field-error-display
                      *ngIf="
                        contractFormControl.contractNumber.errors?.required
                      "
                      [displayError]="isFieldInvalid('contractNumber')"
                      errorMsg="{{ 'error.required' | translate }}">
                    </ob-field-error-display>
                    <ob-field-error-display
                      *ngIf="
                        contractFormControl.contractNumber.errors
                          ?.invalidSymbolLatin
                      "
                      [displayError]="isFieldInvalid('contractNumber')"
                      errorMsg="{{
                        'error.invalidSymbolEnteredAllowed' | translate
                      }} A-Z, a-z, 0-9, -'./,()?">
                    </ob-field-error-display>
                    <ob-field-error-display
                      *ngIf="
                        contractFormControl.contractNumber.errors
                          ?.invalidSymbolCyryillic
                      "
                      [displayError]="isFieldInvalid('contractNumber')"
                      errorMsg="{{
                        'error.invalidSymbolEnteredAllowed' | translate
                      }} A-Z, a-z, А-Я, а-я, 0-9, -'./,()?">
                    </ob-field-error-display>
                    <ob-field-error-display
                      *ngIf="contractFormControl.contractNumber.errors?.allZero"
                      [displayError]="isFieldInvalid('contractNumber')"
                      errorMsg="{{ 'error.filledIncorrectly' | translate }}">
                    </ob-field-error-display>
                  </div>
                  <p class="contract_main__field-length">
                    {{ contractNumber.value.length }}/50
                  </p>
                </div>
              </div>
            </div>
            <!--Номер контракта-->

            <!-- Дата контракта -->
            <div class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12">
              <div style="position: relative" class="form-floating">
                <input
                  id="contractDate"
                  type="text"
                  class="form-control base-input capitalize"
                  bsDatepicker
                  placement="bottom"
                  [ngClass]="displayFieldClass('contractDate')"
                  [bsConfig]="{
                    customTodayClass: 'custom-today-class',
                    isAnimated: true,
                    dateInputFormat: 'DD.MM.YYYY',
                    startView: 'day',
                    minMode: 'day',
                    adaptivePosition: false,
                    containerClass: 'contract-calendar',
                    showWeekNumbers: false,
                    maxDate: maxDate
                  }"
                  [readonly]="true"
                  style="background-color: #fff"
                  formControlName="contractDate"
                  placeholder="{{
                    'currencyControl.contract.date' | translate
                  }}"
                  autocomplete="off"
                  #dp="bsDatepicker" />
                <span class="icon-calendar" (click)="dp.toggle()">
                  <img src="./assets/icons/ic_calendar2.svg" alt="" />
                </span>
                <label for="floatingInput">{{
                  'currencyControl.contract.date' | translate
                }}</label>
                <ob-field-error-display
                  *ngIf="contractFormControl.contractDate.errors?.required"
                  [displayError]="isFieldInvalid('contractDate')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
              </div>
            </div>
          </div>

          <div class="mt_16 flex">
            <div class="material-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="noNumber"
                formControlName="contractNumberNotExists"
                [ngClass]="displayFieldClass('contractNumberNotExists')" />
              <label class="form-check-label" for="noNumber"></label>
            </div>
            <div class="contract_main_section_noNum ml_16">
              <p>
                {{ 'currencyControl.contract.noNumber' | translate }}
              </p>
            </div>
          </div>
          <!--Детали контракта-->
          <section *ngIf="contractType === 'from'" class="mt_40">
            <p class="contract_main_subTitle">
              {{ 'currencyControl.contract.detail' | translate }}
            </p>
            <div class="row mt_16">
              <div class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12">
                <div style="position: relative" class="form-floating">
                  <input
                    formControlName="contractSum"
                    id="contractSum"
                    mask="separator.2"
                    thousandSeparator=" "
                    separatorLimit="999999999999999999"
                    class="form-control base-input capitalize"
                    [ngClass]="displayFieldClass('contractSum')"
                    suffix=" {{
                      contractFormControl.contractSum.value &&
                      contractFormControl.currency.value
                        ? helperService.formatCurrency(
                            contractFormControl.currency.value
                          )
                        : ''
                    }}"
                    autocomplete="off"
                    placeholder="{{
                      'currencyControl.contract.sum' | translate
                    }}" />
                  <label for="floatingInput">{{
                    'currencyControl.contract.sum' | translate
                  }}</label>
                  <ob-field-error-display
                    *ngIf="contractFormControl.contractSum.errors?.required"
                    [displayError]="isFieldInvalid('contractSum')"
                    errorMsg="{{ 'error.required' | translate }}">
                  </ob-field-error-display>
                  <ob-field-error-display
                    *ngIf="
                      contractFormControl.contractSum.errors?.zeroSum &&
                      !contractFormControl.contractSum.errors?.required
                    "
                    [displayError]="isFieldInvalid('contractSum')"
                    errorMsg="{{ 'error.zeroSumTransfer' | translate }}">
                  </ob-field-error-display>
                </div>
              </div>
              <div
                class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12"
                id="bootstrap-overrides-region">
                <ng-select
                  formControlName="contractType"
                  [ngClass]="displayFieldClass('contractType')"
                  class="custom-select floating-label"
                  placeholder="{{
                    'currencyControl.contract.type' | translate
                  }}"
                  notFoundText="{{ 'error.empty-data' | translate }}"
                  required
                  [loading]="isCurrencyContractTypeLoading"
                  loadingText="{{ 'default.loading' | translate }}..."
                  id="contractType">
                  <ng-option
                    *ngFor="let contractType of currencyContractTypeList"
                    [value]="contractType.code">
                    {{ contractType.valueRu | titlecase }}
                  </ng-option>
                </ng-select>
                <ob-field-error-display
                  *ngIf="contractFormControl.contractType.errors?.required"
                  [displayError]="isFieldInvalid('contractType')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
              </div>
            </div>
            <div class="row mt_16">
              <div
                class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12"
                id="bootstrap-overrides-region">
                <ng-select
                  formControlName="contractSubjectName"
                  class="custom-select floating-label"
                  placeholder="{{
                    'currencyControl.contract.subject' | translate
                  }}"
                  notFoundText="{{ 'error.empty-data' | translate }}"
                  required
                  [ngClass]="displayFieldClass('contractSubjectName')"
                  [loading]="isContractSubjectLoading"
                  loadingText="{{ 'default.loading' | translate }}..."
                  id="contractSubjectName">
                  <ng-option
                    *ngFor="let contractSubject of contractSubjectList"
                    [value]="contractSubject.valueRu">
                    {{ contractSubject.valueRu }}
                  </ng-option>
                </ng-select>
                <ob-field-error-display
                  *ngIf="
                    contractFormControl.contractSubjectName.errors?.required
                  "
                  [displayError]="isFieldInvalid('contractSubjectName')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
              </div>
              <div class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12">
                <div
                  class="form-floating"
                  [tooltip]="repatriation"
                  [delay]="100"
                  #pop3="bs-tooltip"
                  (click)="pop3.hide()"
                  (keypress)="pop3.hide()">
                  <div style="position: relative" class="form-floating">
                    <input
                      formControlName="foreignRepatriationPeriod"
                      id="foreignRepatriationPeriod"
                      type="text"
                      class="form-control base-input capitalize"
                      placeholder="{{ 'default.period' | translate }}"
                      [ngClass]="displayFieldClass('foreignRepatriationPeriod')"
                      autocomplete="off"
                      [dropSpecialCharacters]="false"
                      mask="000.00" />
                    <label for="floatingInput">
                      {{
                        'currencyControl.contract.repatriation' | translate
                      }}</label
                    >
                    <ob-field-error-display
                      *ngIf="
                        contractFormControl.foreignRepatriationPeriod.errors
                          ?.required
                      "
                      [displayError]="
                        isFieldInvalid('foreignRepatriationPeriod')
                      "
                      errorMsg="{{ 'error.required' | translate }}">
                    </ob-field-error-display>
                    <ob-field-error-display
                      *ngIf="
                        contractFormControl.foreignRepatriationPeriod.errors
                          ?.allZero
                      "
                      [displayError]="
                        isFieldInvalid('foreignRepatriationPeriod')
                      "
                      errorMsg="{{ 'error.filledIncorrectly' | translate }}">
                    </ob-field-error-display>
                    <ob-field-error-display
                      *ngIf="
                        contractFormControl.foreignRepatriationPeriod.errors
                          ?.minRepatriationError
                      "
                      [displayError]="
                        isFieldInvalid('foreignRepatriationPeriod')
                      "
                      errorMsg="{{
                        'currencyControl.contract.repatriationWarning'
                          | translate
                      }}">
                    </ob-field-error-display>
                    <ob-field-error-display
                      *ngIf="
                        contractFormControl.foreignRepatriationPeriod.errors
                          ?.maxRepatriationError
                      "
                      [displayError]="
                        isFieldInvalid('foreignRepatriationPeriod')
                      "
                      errorMsg="{{ 'error.maxRepatriation' | translate }}">
                    </ob-field-error-display>
                  </div>
                </div>
                <ng-template #repatriation>
                  <ob-tooltip [type]="'repatriation'"></ob-tooltip>
                </ng-template>
              </div>
            </div>
          </section>
          <!--Детали контракта-->

          <!--Данные инопартнера-->
          <section *ngIf="contractType === 'from'" class="mt_40">
            <p class="contract_main_subTitle">
              {{ 'currencyControl.contract.foreign-partner-data' | translate }}
            </p>
            <div class="row mt_16">
              <div class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12">
                <div style="position: relative" class="form-floating">
                  <input
                    formControlName="foreignName"
                    id="foreignName"
                    #foreignName
                    type="text"
                    class="form-control base-input capitalize"
                    placeholder="{{ 'default.period' | translate }}"
                    [ngClass]="displayFieldClass('foreignName')"
                    maxlength="100"
                    autocomplete="off"
                    id="foreignName" />
                  <label for="floatingInput">
                    {{
                      'currencyControl.contract.foreign-partner-name'
                        | translate
                    }}
                  </label>
                  <div class="contract_main__field-wrapper">
                    <div>
                      <ob-field-error-display
                        *ngIf="contractFormControl.foreignName.errors?.required"
                        [displayError]="isFieldInvalid('foreignName')"
                        errorMsg="{{ 'error.required' | translate }}">
                      </ob-field-error-display>
                      <ob-field-error-display
                        *ngIf="
                          contractFormControl.foreignName.errors?.maxlength
                        "
                        [displayError]="isFieldInvalid('foreignName')"
                        errorMsg="{{
                          'error.foreignName' | translate
                        }}"></ob-field-error-display>
                      <ob-field-error-display
                        *ngIf="
                          contractFormControl.foreignName.errors
                            ?.invalidSymbolLatin
                        "
                        [displayError]="isFieldInvalid('foreignName')"
                        errorMsg="{{
                          'error.invalidSymbolEnteredAllowed' | translate
                        }} A-Z, a-z, 0-9, -'./,()?">
                      </ob-field-error-display>
                      <ob-field-error-display
                        *ngIf="
                          contractFormControl.foreignName.errors
                            ?.invalidSymbolCyryillic
                        "
                        [displayError]="isFieldInvalid('foreignName')"
                        errorMsg="{{
                          'error.invalidSymbolEnteredAllowed' | translate
                        }} A-Z, a-z, А-Я, а-я, 0-9, -'./,()?">
                      </ob-field-error-display>
                    </div>
                    <p class="contract_main__field-length">
                      {{ foreignName.value.length }}/100
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12"
                id="bootstrap-overrides-region">
                <ng-select
                  formControlName="foreignCountryName"
                  class="custom-select floating-label"
                  [searchable]="true"
                  [clearable]="false"
                  placeholder="{{
                    'currencyControl.contract.foreign-partner-country'
                      | translate
                  }}"
                  notFoundText="{{ 'error.empty-data' | translate }}"
                  required
                  [ngClass]="displayFieldClass('foreignCountryName')"
                  [loading]="isforeignCountryLoading"
                  autocomplete="off"
                  loadingText="{{ 'default.loading' | translate }}..."
                  id="foreignCountryName">
                  <ng-option
                    *ngFor="let foreignCountry of foreignCountryList"
                    [value]="foreignCountry.code">
                    {{ foreignCountry.cyrilicName }}
                  </ng-option>
                </ng-select>
                <ob-field-error-display
                  *ngIf="
                    contractFormControl.foreignCountryName.errors?.required
                  "
                  [displayError]="isFieldInvalid('foreignCountryName')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
              </div>
            </div>
          </section>
          <!--Данные инопартнера-->

          <!--В контракте присутствует третье лицо -->
          <section class="mt_16 flex" *ngIf="contractType === 'from'">
            <div class="material-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="switch-thirdParty"
                autocomplete="off"
                formControlName="isThirdParty" />
              <label class="form-check-label" for="switch-thirdParty"></label>
            </div>
            <div class="contract_main_section_noNum ml_16">
              <p>
                {{ 'currencyControl.contract.third-party' | translate }}
              </p>
            </div>
          </section>

          <section
            *ngIf="
              contractType === 'from' &&
              this.contractFormControl.isThirdParty.value
            "
            class="mt_16">
            <div class="row">
              <div
                class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12"
                id="bootstrap-overrides-region">
                <ng-select
                  formControlName="thirdPartyType"
                  class="custom-select floating-label"
                  [searchable]="true"
                  [clearable]="false"
                  placeholder="{{
                    'currencyControl.contract.third-party-label' | translate
                  }}"
                  [ngClass]="displayFieldClass('thirdPartyType')"
                  notFoundText="{{ 'error.empty-data' | translate }}"
                  required
                  [loading]="isThirdPartyTypeLoading"
                  loadingText="{{ 'default.loading' | translate }}..."
                  id="thirdPartyType">
                  <ng-option
                    *ngFor="let thirdPartyType of thirdPartyTypeList"
                    [value]="thirdPartyType.code">
                    {{ thirdPartyType.valueRu }}
                  </ng-option>
                </ng-select>
                <ob-field-error-display
                  *ngIf="contractFormControl.thirdPartyType.errors?.required"
                  [displayError]="isFieldInvalid('thirdPartyType')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
              </div>
              <div class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12">
                <div style="position: relative" class="form-floating">
                  <input
                    formControlName="thirdPartyName"
                    id="third-party-name"
                    type="text"
                    class="form-control base-input capitalize"
                    [ngClass]="displayFieldClass('thirdPartyName')"
                    autocomplete="off"
                    placeholder="{{
                      'currencyControl.contract.third-party-name' | translate
                    }}"
                    id="thirdPartyName" />
                  <label for="floatingInput">
                    {{
                      'currencyControl.contract.third-party-name' | translate
                    }}
                  </label>
                  <ob-field-error-display
                    *ngIf="contractFormControl.thirdPartyName.errors?.required"
                    [displayError]="isFieldInvalid('thirdPartyName')"
                    errorMsg="{{ 'error.required' | translate }}">
                  </ob-field-error-display>
                  <ob-field-error-display
                    *ngIf="
                      contractFormControl.thirdPartyName.errors
                        ?.invalidSymbolLatin
                    "
                    [displayError]="isFieldInvalid('thirdPartyName')"
                    errorMsg="{{
                      'error.invalidSymbolEnteredAllowed' | translate
                    }} A-Z, a-z, 0-9, -'./,()?">
                  </ob-field-error-display>
                  <ob-field-error-display
                    *ngIf="
                      contractFormControl.thirdPartyName.errors
                        ?.invalidSymbolCyryillic
                    "
                    [displayError]="isFieldInvalid('thirdPartyName')"
                    errorMsg="{{
                      'error.invalidSymbolEnteredAllowed' | translate
                    }} A-Z, a-z, А-Я, а-я, 0-9, -'./,()?">
                  </ob-field-error-display>
                </div>
              </div>
            </div>
            <div class="row mt_16">
              <div
                class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12"
                id="bootstrap-overrides-region">
                <ng-select
                  formControlName="thirdPartyCntry"
                  [searchable]="true"
                  [clearable]="false"
                  [ngClass]="displayFieldClass('thirdPartyCntry')"
                  class="custom-select floating-label"
                  placeholder="{{
                    'currencyControl.contract.third-party-country' | translate
                  }}"
                  notFoundText="{{ 'error.empty-data' | translate }}"
                  [loading]="isforeignCountryLoading"
                  loadingText="{{ 'default.loading' | translate }}...">
                  <ng-option
                    *ngFor="let thirdPartyCntry of foreignCountryList"
                    [value]="thirdPartyCntry.code">
                    {{ thirdPartyCntry.cyrilicName }}
                  </ng-option>
                </ng-select>
                <ob-field-error-display
                  *ngIf="contractFormControl.thirdPartyCntry.errors?.required"
                  [displayError]="isFieldInvalid('thirdPartyCntry')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
              </div>
            </div>
          </section>
          <!--В контракте присутствует третье лицо -->

          <!--Детали клиента-->
          <section *ngIf="contractType === 'from'" class="mt_40">
            <p class="contract_main_subTitle">
              {{ 'currencyControl.contract.client-detail' | translate }}
            </p>
            <div class="row mt_16">
              <div class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12">
                <div style="position: relative" class="form-floating">
                  <input
                    formControlName="clientAddress"
                    id="clientAddress"
                    type="text"
                    class="form-control base-input capitalize"
                    placeholder="{{ 'default.address' | translate }}"
                    autocomplete="off"
                    [ngClass]="displayFieldClass('clientAddress')" />
                  <label for="floatingInput">
                    {{ 'default.address' | translate }}</label
                  >
                  <ob-field-error-display
                    *ngIf="contractFormControl.clientAddress.errors?.required"
                    [displayError]="isFieldInvalid('clientAddress')"
                    errorMsg="{{ 'error.required' | translate }}">
                  </ob-field-error-display>
                </div>
              </div>
              <div class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12">
                <div style="position: relative" class="form-floating">
                  <input
                    formControlName="clientEmail"
                    id="clientEmail"
                    type="text"
                    class="form-control base-input capitalize"
                    autocomplete="off"
                    placeholder="{{ 'default.email' | translate }}"
                    [ngClass]="displayFieldClass('clientEmail')" />
                  <label for="floatingInput">{{
                    'default.email' | translate
                  }}</label>
                  <ob-field-error-display
                    *ngIf="contractFormControl.clientEmail.errors?.required"
                    [displayError]="isFieldInvalid('clientEmail')"
                    errorMsg="{{ 'error.required' | translate }}">
                  </ob-field-error-display>
                  <ob-field-error-display
                    *ngIf="contractFormControl.clientEmail.errors?.email"
                    [displayError]="isFieldInvalid('clientEmail')"
                    errorMsg="{{ 'error.filledIncorrectly' | translate }}">
                  </ob-field-error-display>
                </div>
              </div>
            </div>
            <div class="row mt_16">
              <div class="col-dt-6 col-smdt-6 col-tb-6 col-mb-12">
                <div style="position: relative" class="form-floating">
                  <input
                    formControlName="clientContacts"
                    id="clientContacts"
                    type="text"
                    autocomplete="off"
                    mask="(000) 000 00 00"
                    prefix="+7 "
                    autocomplete="off"
                    [showMaskTyped]="true"
                    class="form-control base-input capitalize"
                    placeholder="{{ 'default.phone-number' | translate }}"
                    [ngClass]="displayFieldClass('clientContacts')" />
                  <label for="floatingInput">{{
                    'default.phone-number' | translate
                  }}</label>
                  <ob-field-error-display
                    *ngIf="contractFormControl.clientContacts.errors?.required"
                    [displayError]="isFieldInvalid('clientContacts')"
                    errorMsg="{{ 'error.required' | translate }}">
                  </ob-field-error-display>
                </div>
              </div>
            </div>
          </section>
          <!--Детали клиента-->

          <section
            *ngIf="contractType === 'from'"
            class="mt_16 contract_obligation">
            <div>
              <input
                type="checkbox"
                formControlName="existCurrencyObligation"
                class="form-check-input"
                autocomplete="off"
                [ngClass]="displayFieldClass('existCurrencyObligation')" />
              <ob-field-error-display
                *ngIf="
                  contractFormControl.existCurrencyObligation.errors?.required
                "
                [displayError]="isFieldInvalid('existCurrencyObligation')"
                errorMsg="{{ 'error.required' | translate }}">
              </ob-field-error-display>
            </div>
            <p class="contract_obligation-text">
              {{ 'currencyControl.contract.obligation' | translate }}
            </p>
          </section>

          <!--Сканированная копия контракта-->
          <div class="mt_40">
            <p class="contract_main_subTitle">
              {{ 'currencyControl.contract.scan' | translate }}
            </p>
            <div class="form-floating">
              <div
                class="file-drop-area"
                [ngClass]="{
                  'file-over': fileOver,
                  error_area: error !== false,
                  'file-invalid':
                    (fileList.length === 0 &&
                      contractFormControl.fileDropArea.touched &&
                      !contractFormControl.fileDropArea.pristine) ||
                    (fileList.length === 0 &&
                      contractFormControl.fileDropArea.dirty &&
                      !contractFormControl.fileDropArea.pristine) ||
                    fileMaxSizeError ||
                    fileFormatError
                }">
                <span class="file-message"
                  >{{ 'operations.imports.fileMovement' | translate }}
                  {{ 'general.or' | translate }}
                  <span class="choose-file-button"
                    >{{ 'operations.imports.fileLoading' | translate }}
                  </span>
                  <br /><span class="file-drop-area__format">
                    {{ allowedFileTypes.join(', ') + ' ' }}
                    {{
                      'currencyControl.currencyTransfer.fileMaxSize' | translate
                    }}
                  </span>
                </span>
                <input
                  formControlName="fileDropArea"
                  class="form-control file-input"
                  type="file"
                  autocomplete="off"
                  multiple
                  id="fileDropArea"
                  (change)="fileChange($event)"
                  #fileInput
                  accept="image/*,.pdf,.txt,.doc,.docx,.pcx" />
              </div>
              <ob-field-error-display
                *ngIf="
                  ((fileList.length === 0 &&
                    contractFormControl.fileDropArea.touched &&
                    !contractFormControl.fileDropArea.pristine) ||
                    (fileList.length === 0 &&
                      contractFormControl.fileDropArea.dirty &&
                      !contractFormControl.fileDropArea.pristine)) &&
                  !fileMaxSizeError &&
                  !fileFormatError
                "
                [displayError]="
                  ((fileList.length === 0 &&
                    contractFormControl.fileDropArea.touched &&
                    !contractFormControl.fileDropArea.pristine) ||
                    (fileList.length === 0 &&
                      contractFormControl.fileDropArea.dirty &&
                      !contractFormControl.fileDropArea.pristine)) &&
                  !fileMaxSizeError &&
                  !fileFormatError
                "
                errorMsg="{{ 'error.fileRequired' | translate }}">
              </ob-field-error-display>
              <ob-field-error-display
                *ngIf="fileMaxSizeError"
                [displayError]="fileMaxSizeError"
                errorMsg="{{ 'error.contractFileSize' | translate }}">
              </ob-field-error-display>
              <ob-field-error-display
                *ngIf="fileFormatError"
                [displayError]="fileFormatError"
                errorMsg="{{ 'error.wrongFileFormat' | translate }}">
              </ob-field-error-display>
              <div>
                <div
                  class="uploaded-file"
                  *ngFor="let file of fileList; let i = index">
                  <div class="uploaded-file__content">
                    <span
                      class="icon"
                      [ngClass]="
                        getFileFormat(file.name) === 'pdf'
                          ? 'icon_pdf-document'
                          : 'icon_default-document'
                      "></span>
                    <div>
                      <p class="uploaded-file__text-bold">{{ file.name }}</p>
                      <p class="uploaded-file__text-gray">
                        {{ 'default.file-uploaded' | translate }}
                      </p>
                    </div>
                  </div>
                  <div class="uploaded-file__delete">
                    <p class="uploaded-file__text-gray">
                      {{ getKb(file.size) }}
                    </p>
                    <span class="icon icon_close-delete" (click)="deleteDoc(i)">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Сканированная копия контракта-->
        </div>
      </div>
    </div>
    <!--information block-->
    <div class="col-dt-3 col-smdt-12">
      <div class="contract_info">
        <p class="contract_info_title">
          {{ 'default.information' | translate }}
        </p>
        <div *ngIf="contractType === 'from'">
          <div
            class="d-flex flex-row justify-content-between clickable mt_18"
            (click)="contractRegDate = !contractRegDate">
            <p class="contract_info_item_title">
              {{ 'currencyControl.contract.registration-date' | translate }}
            </p>
            <img
              src="assets/icons/down_arrow.svg"
              [ngClass]="{
                contract_info_item_arrow_down: contractRegDate,
                contract_info_item_arrow_up: !contractRegDate
              }" />
          </div>
          <div class="mt_11" *ngIf="contractRegDate">
            <p class="contract_info_item_text">
              {{ 'currencyControl.contract.repatriationPart' | translate }}
            </p>
            <ul class="ml_12">
              <li>
                {{ 'currencyControl.contract.repatriationPartOne' | translate }}
              </li>
              <li>
                {{ 'currencyControl.contract.repatriationPartTwo' | translate }}
              </li>
            </ul>
            <p class="contract_info_item_text">
              {{ 'currencyControl.contract.repatriationWarning' | translate }}
            </p>
          </div>
        </div>
        <div>
          <div
            class="d-flex flex-row justify-content-between clickable mt_18"
            (click)="contractExpiryInfo = !contractExpiryInfo">
            <p class="contract_info_item_title">
              {{ 'currencyControl.contract.thirdPartyInfoQMark' | translate }}
            </p>
            <img
              src="assets/icons/down_arrow.svg"
              [ngClass]="{
                contract_info_item_arrow_down: contractExpiryInfo,
                contract_info_item_arrow_up: !contractExpiryInfo
              }" />
          </div>
          <div class="mt_11" *ngIf="contractExpiryInfo">
            <p class="contract_info_item_text">
              {{ 'currencyControl.contract.thirdPartyInfo' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--information block-->
  </div>

  <!-- 
    Скрыта кнопка сохранения 
    isSaveEnabled -
    save -
    
  -->
  <!-- <ob-sign-footer
    [isSaveEnabled]="false"
    [hasRightToSign]="true"
    (directlySign)="toDirectlySign()"
    (sendToSign)="sendToSign()"
  ></ob-sign-footer> -->

  <!-- <ob-sign-footer
    [hasRightToSign]="rightsToSign"
    (directlySign)="toDirectlySign()"
    (sendToSign)="sendToSign()"
    (signLater)="sendToSign()"
    [loading]="isSendingForm"
  ></ob-sign-footer> -->

  <ob-payment-footer
    (toSign)="FieldsValidation()"
    [isSign]="true"
    [loading]="loading"></ob-payment-footer>
</div>
