@import "/src/styles/variables.scss";
.open_deposit {
  width: 100%;
  display: flex;
  flex-direction: column;
  &_header {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
   
    &__docNum {
      display: flex;
      align-items: center;

      &:nth-child(2) {
        margin-right: 16px;
      }

      & > img {
        cursor: pointer;
      }
      &-error-container {
        position: absolute;
      }
    }
    &__secondary {
      color: $color-gray-light-dark;
      font-size: $font-size-small;
      //margin-right: 5px;
      font-weight: 500;
    }
    
    &__main {
      color: $color-gray-light-dark;
      font-weight: 500;
    }
    &__docNumber {
      font-size: 14px !important;
      height: 36px !important;
      width: 153px;
      padding-right: 0;
      padding-left: 10px;
      position: relative;
      margin-left: 8px;
    }
  }
  &_main {
    padding: 32px;
    background-color: #FFFFFF;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    &_title {
      font-weight: 800;
      font-size: 20px;
      line-height: 132%;
      letter-spacing: 0.01em;
      color: #263238;
    }

    &_sum {
      width: 100%;
      border: 1px solid #D0D6D8;
      border-radius: 12px;
      padding: 16px 16px 16px 16px;
      outline: none;

      &::placeholder {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0.01em;
        color: #829199;
      }
    }

  }

  &_offer {
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 12px;

    &_title {
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #263238;
    }

    &_wrapper {
      display: flex;
      flex-direction: row;
    }

    &_img {
      width: 36px;
      height: 36px;
    }

    &_key {
      font-weight: 700;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #263238;
      margin-bottom: 8px;
    }

    &_value {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #263238;
    }
  }

  &_info {
    &__title {
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: $color-light-black;
    }
    &__click_area:hover{
      cursor: pointer;
    }
    &__text{
      margin-top: 12px;
      font-weight: $font-weight-medium;
      font-size: $font-size-small;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: $color-light-black;
    }
    &__arrow_down{
      margin-top: auto;
      margin-bottom: auto;
      width: 12px;
      height: 12px;
      cursor: pointer;
      width: 10px;
      height: 6px;
    }
    &__arrow_up{
      margin-top: auto;
      margin-bottom: auto;
      width: 12px;
      height: 12px;
      cursor: pointer;
      transform: rotate(180deg);
      width: 10px;
      height: 6px;
    }
  }

  &_footer {
    padding: 24px 32px 32px 32px;
    border-top: 1px solid #D0D6D8;
    background-color: #FFFFFF;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

    &_btn {
      background: #11BB91;
      border-radius: 12px;
      padding: 11px 24px;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      height: 56px;

      p {
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
      }
      
      .loader {
        border: 1px solid #f3f3f3;
        border-radius: 50%;
        border-top: 1px solid $color-gray-middle;
        width: 23px;
        height: 23px;
        -webkit-animation: spin 1s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
        margin-left: 1rem;
        margin-right: -10px;
      }
    }
  }

  &-general-term {
    display: flex;
    align-items: baseline;
    margin-left: 5px;

    &__toggle {
        margin-right: 11px;
    }
    &__text {
        p{
            color: $color-light-black;
            font-weight: 500;
        }
    }
}
}

.ml {
  &_12 {
    margin-left: 12px;
  }
}

.mb {
  &_4 {
    margin-bottom: 4px;
  }

  &_8 {
    margin-bottom: 8px;
  }

  &_12 {
    margin-bottom: 12px;
  }

  &_14 {
    margin-bottom: 14px;
  }

  &_15 {
    margin-bottom: 15px;
  }

  &_16 {
    margin-bottom: 16px;
  }

  &_17 {
    margin-bottom: 17px;
  }

  &_24 {
    margin-bottom: 24px;
  }

  &_32 {
    margin-bottom: 32px;
  }

  &_35 {
    margin-bottom: 35px;
  }

  &_40 {
    margin-bottom: 40px;
  }
}

.text {
  &_term {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #829199;
  }

  &_bid {
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #829199;

    &_val {
      font-weight: 800;
      font-size: 26px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }

  &_kpn {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #829199;

    &_val {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: #263238;
    }
  }

  &-reward {
    &__container {
      height: 34px;
      display: flex;
      align-items: center;
    }
  }
}

.slider {
  padding: 8px 20px 11px 20px;
  border: 1px solid #D0D6D8;
  border-radius: 12px;

  &_toggle {
    border: none;
    outline: none;
    margin-top: -10px;
  }

  &_term {
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #829199;
  }

  &_val {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #263238;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 28px;
      left: 34px;
    }
  }

  &_date {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #829199;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 20px;
      right: 20px;
      
    }
  }
}

.base-input {
  height: 56px;
  padding-left: 16px !important;
  &.slider__input {
    padding-left: 20px !important;
    padding-right: 100px;
  }
}

.form-floating > .form-control:focus ~ label {
	font-size: 12px;
	display: inline-block;
	padding-top: 10px;
	line-height: 130%;
	transform: none;
}

#sliderInput.form-floating > label {
  padding-left: 20px !important;
  padding-top: 8px !important;
  padding-right: 20px !important;
}

::ng-deep .ng-select.custom-select.ng-select-opened {
  .ng-option{
   border-bottom: none!important;
    padding: 0!important;
 }
}

::ng-deep .ng-select.custom-select {
 .ng-value {
   :nth-child(1) {
     margin-left: 0px !important;
   }
 }

 .ng-arrow-wrapper {
   padding: 0px;
   margin-right: 4px;
 }
}

.put-all-btn {
  position: absolute;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  line-height: 130%;
  color: $color-green;
  top: 20px;
  right: 16px;
  cursor: pointer;
}

.amount-input {
  padding-right: 126px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

  .range-slider {
    --value-background: transparent;
    --progress-background: transparent;
    --track-height: 6px;
  
    --thumb-size: 16px;
    --thumb-color: #11bb91;
  
    --value-a: Clamp(
      var(--min),
      var(--value, 0),
      var(--max)
    );
    --value-b: var(--value, 0);
    --completed-a: calc(
      (var(--value-a) - var(--min)) / (var(--max) - var(--min)) * 100
    );
    --completed-b: calc(
      (var(--value-b) - var(--min)) / (var(--max) - var(--min)) * 100
    );
    --ca: Min(var(--completed-a), var(--completed-b));
    --cb: Max(var(--completed-a), var(--completed-b));
  
    @mixin thumb {
      appearance: none;
      height: var(--thumb-size);
      width: var(--thumb-size);
      transform: var(--thumb-transform);
      border-radius: var(--thumb-radius, 50%);
      background: var(--thumb-color);
      border: none;
      pointer-events: auto;
      transition: 0.1s;
    }

    margin-left:  -6px;
    margin-right: -6px;
    display: flex;
    align-items: center;
    height: Max(var(--track-height), var(--thumb-size));  
    position: relative;
    z-index: 1;
    margin-top: -11px;
  
    &__progress {
      --start-end: calc(var(--thumb-size) / 2);
      --clip-end: calc(100% - (var(--cb)) * 1%);
      --clip-start: calc(var(--ca) * 1%);
      --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
      position: absolute;
      left: var(--start-end);
      right: var(--start-end);
      top: calc(
        var(--thumb-size) / 2 -
          var(--track-height) / 2
      );
      height: calc(var(--track-height));
      background: var(--progress-background, #eee);
      pointer-events: none;
      z-index: -1;
      border-bottom-left-radius: 12px;
  
      // fill area
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        clip-path: var(--clip);
        top: 0;
        bottom: 0;
        background: #11bb91;
        z-index: 1;
        border-radius: inherit;
      }
    }
  
    & > input {
      -webkit-appearance: none;
      width: 100%;
      height: var(--thumb-size);
      margin: 0;
      position: absolute;
      left: 0;
      top: calc(
        50% - Max(var(--thumb-size)) / 20 + var(--flip-y, -1));
      cursor: -webkit-grab;
      cursor: pointer;
      outline: none;
      background: none;
  
      &:not(:only-of-type) {
        pointer-events: none;
      }
  
      &::-webkit-slider-thumb {
        @include thumb;
      }
      &::-moz-range-thumb {
        @include thumb;
      }
      &::-ms-thumb {
        @include thumb;
      }
  
      &:hover {
        & + output {
          --value-background: #11bb91;
          --y-offset: -5px;
          color: #11bb91;
          box-shadow: 0 0 0 3px var(--value-background);
        }
      }
  
      &:active {
        cursor: pointer;
        z-index: 2;
        + output {
          transition: 0s;
        }
      }
  
      &:nth-of-type(2) {
        --is-left-most: Clamp(0, (var(--value-b) - var(--value-a)) * 99999, 1);
        & + output {
          --value: var(--value-b);
        }
      }
  
      &:only-of-type {
        ~ .range-slider__progress {
          --clip-start: 0;
        }
      }
  
      & + output {
        --flip: -1;
        --x-offset: calc(var(--completed-b) * -1%);
        --pos: calc(
          ((var(--value) - var(--min)) / (var(--max) - var(--min))) * 100%
        );
  
        pointer-events: none;
        position: absolute;
        z-index: 5;
        background: var(--value-background);
        border-radius: 10px;
        padding: 2px 4px;
        left: var(--pos);
        transform: translate(
          var(--x-offset),
          calc(
            150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) *
              var(--flip)
          )
        );
        transition: all 0.12s ease-out, left 0s;
      }
    }
  }
}


