@import '/src/styles/variables.scss';

.footer {
  width: 100%;
  height: 84px;
  position: fixed;
  bottom: 0;
  padding-top: 16px;
  left: 0;
  background-color: #fff;
  box-shadow: 0px -1px 0px #ebebeb;
  margin-top: -114px;
  z-index: 4;
}
.footer-container {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  gap: 64px;
  margin: 0 auto;
  align-items: center;

  ob-loader {
    margin-left: 20px;
  }
}

.footer-container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__commission {
    padding-bottom: 4px;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
    letter-spacing: 2%;
    line-height: 18.2px;
    
    &-gray {
      color: $color-gray-light-dark;
    }
  }
  &__sum {
    font-size: $font-size-medium;
    font-weight: 700;
    letter-spacing: 2%;
    line-height: 20.8px;
  }
}
.btns {
  width: auto;
  height: 52px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: $font-size-small;
}
.footer-container-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  &__save {
    border: 1px solid #e8ebeb;
    background-color: #fff;
    color: #acbbbe;
  }

  &__sign {
    background: #e8ebeb;
    color: #acbbbe;
  }

  &__sign-active {
    background-color: #11bb91;
    color: #fff;
    display: flex;
    :first-child {
      margin-right: 0.5rem;
    }
    &.mr-0 {
      margin-right: 0;
    }

    &:hover {
      background-color: #12CB9D;
    }
    &:active {
      background-color: #0CB088;
    }
    &:disabled {
      background: #11BB91;
      opacity: 0.6;
      cursor: initial;
    }
  }

  &__save-active {
    margin-right: 24px;
    background-color: #fff;
    color: #11bb91;
    display: flex;
    :first-child {
      margin-right: 0.5rem;
    }
    &.mr-0 {
      margin-right: 0;
    }
    &:hover {
      color: #12CB9D;
    }
    &:active {
      color: #0CB088;
    }
    &:disabled {
      color: #11BB91;
      opacity: 0.6;
      cursor: initial;
    }
  }

  .loader {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-top: 1px solid $color-gray-middle;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
}

@media screen and (max-width: 1600px) {
  .footer-container {
    max-width: 1170px;
  }
}

@media screen and (max-width: 767px) {
  .btns {
    padding: 11px 24px;
  }
    .footer {
      height: auto;
      padding-bottom: 16px;
  }

  .footer-container {
    flex-direction: column;
    align-items: start;
    gap: 16px;
    &-buttons {
      margin-left: 20px;
    }
  }
}