@import "/src/styles/variables.scss";

.accounts {
  border-radius: 12px;
  box-sizing: border-box;
  margin-bottom: 24px;
  
  &-title {
    font-size: $font-size-medium-large;
    font-weight: $font-weight-bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 26px;
  }
}
