<div class="accounts">
  <ob-card-list
    className="first-account"
    title="{{ 'accounts.allAccounts' | translate }} ({{
      accountsLength + depositsLength + creditsLength + cardsLength
    }})"
    [type]="'all-accounts'"
    [loading]="accountsService.accountsLoadingStatus | async"></ob-card-list>

  <ob-card-list
    title="{{ 'accounts.accounts' | translate }} ({{ accountsLength }})"
    [list]="formattedAccounts"
    [type]="'accounts'"
    [isError]="accountsService.limitedAccountsError | async"
    [loading]="accountsService.accountsLoadingStatus | async"></ob-card-list>

  <ng-template
    [ngIf]="
      cardsLength > 0 ||
      (accountsService.cardsLoadingStatus | async) ||
      (accountsService.limitedCardsError | async)
    ">
    <ob-card-list
      title="{{ 'accounts.cards' | translate }} ({{ cardsLength }})"
      [list]="formattedCards"
      [type]="'cards'"
      [isError]="accountsService.limitedCardsError | async"
      [loading]="accountsService.cardsLoadingStatus | async"></ob-card-list>
  </ng-template>

  <ng-template
    [ngIf]="
      depositsLength > 0 ||
      (accountsService.depositsLoadingStatus | async) ||
      (accountsService.limitedDepositsError | async)
    ">
    <ob-card-list
      title="{{ 'accounts.deposits' | translate }} ({{ depositsLength }})"
      [list]="formattedDeposits"
      [type]="'deposits'"
      [isError]="accountsService.limitedDepositsError | async"
      [loading]="accountsService.depositsLoadingStatus | async"></ob-card-list>
  </ng-template>

  <ng-template
    [ngIf]="
      creditsLength > 0 ||
      (accountsService.loansLoadingStatus$ | async) ||
      (accountsService.limitedLoansError | async)
    ">
    <ob-card-list
      title="{{ 'accounts.credits' | translate }} ({{ creditsLength }})"
      [list]="formattedLoans"
      [type]="'credits'"
      [isError]="accountsService.limitedLoansError | async"
      [loading]="accountsService.loansLoadingStatus$ | async"></ob-card-list>
  </ng-template>
</div>
