@import '/src/styles/main.scss';

.modal {
  &-title {
    font-size: $font-size-medium-large;
    font-weight: $font-weight-bold;
    margin-bottom: 8px;
  }

  &-subtitle {
    font-size: $font-size-small;
    font-weight: 600;
    color: $color-gray-middle;
  }

  &-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 32px 32px;
  }

  &-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 32px 32px;

    & > * {
      margin: 0;
    }
  }

  &-wrapper {
		min-height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
    cursor: pointer;
	}

  &-header {
    padding: 32px 32px 16px;
  }
}

.operation {
  width: 100%;

  &-employerList {
    display: flex;
    align-items: center;
    margin-bottom: 19px;

    &__number {
      width: 10%;
    }

    &__operation {
      width: 40%;
      word-break: break-all;
    }

    &__period{
      width: 30%;
    }

    &__amount {
      margin-left: auto;
      width: 20%;
      text-align: right;
    }
  }

  &-subtitle {
    font-weight: 700;
    margin-bottom: 16px;
    font-size: $font-size-medium;
    color: $color-light-black;
  }
  
  &-details {
    border-bottom: 1px solid $color-border-gray;
    padding-bottom: 12px;
    margin-bottom: 24px;

    &__body {
      // border-bottom: 1px solid $color-border-gray;
      // padding-bottom: 12px;
       margin-bottom: 24px;
    }

    &__employers {
			padding-top: 24px;
			border-top: 1px solid $color-border-gray;

      &-title {
        font-weight: 700;
        font-size: $font-size-medium;
        color: $color-light-black;
      }
		}

    &__item {
      display: flex;
    //  align-items: center;
      margin-bottom: 12px;
    //  word-break: break-all;
    }

    &__error {
      color: $color-error-red
    }
    
    &__account-recipient {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &-secondary {
    color: $color-gray-light-dark;
    font-weight: 500;
    width: 30%;
    line-height: 130%;
  }

  &-main {
    font-weight: 500;
    width: 65%;
    line-height: 130%;

    &-bold {
			font-weight: 700;
			width: 65%;
		}
  }

  &-status {
    border-bottom: 1px solid $color-border-gray;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }

  &-signers {
    border-top: 1px solid $color-border-gray;
    padding-top: 24px;
    margin-top: 24px;
  }
  &-signers:hover {
    cursor: pointer;
  }

  &-documents {
    padding-top: 24px;
    border-top: 1px solid $color-border-gray;

    &__item {
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: center;
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

.bank-recipient {
  margin-top: 8px;
  display: flex;
  align-items: flex-end;
}

.info {
  width: 36%;

  &-collapse {
    border: 1px solid $color-border-gray;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 25px 25px 8px;
    margin-bottom: 24px;
  }
}

.title {
  color: $color-gray-light-dark;
  text-transform: uppercase;
  padding-top: 11px;
}

.employee {
  font-weight: 500;
  text-transform: capitalize;

  &-number {
    color: $color-gray-middle;
  }
}

.list {
  border-top: 1px solid #E9EFF0;
  padding: 8px 0;
  margin-bottom: 0px;
}

.is-invalid {
	font-size: $font-size-small;
	font-weight: 700;
	color: $color-error-red;
  word-break: break-all;
}

.modal-body-content {
  padding: 24px 32px 24px;

  &.pb-32 {
    padding-bottom: 32px;
  }
}

.displayNone {
  display: none;
}
.displayBlock {
  display: block ;
}

.employee_table_wrapper{
  max-height: 200px;
  overflow-y: auto;
}

.table_title_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table_title_wrapper:hover{
  cursor: pointer;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.icon_bank {
  width: 20px;
  height: 20px;
  background-size: cover;
  margin-right: 8px;
  align-self: flex-start;
}

@media screen and (max-width: 720px) {
  .operation {
    width: 100%;
    
    &-details {
      border-bottom: 1px solid $color-border-gray;
      padding-bottom: 12px;
      margin-bottom: 24px;
  
      &__item {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        margin-bottom: 24px;
      }
    }
  
    &-secondary {
      width: 100%;
    }
  
    &-main {
      width: 100%;
  
      &-bold {
        width: 100%;
      }
    }
  }
}