._btn {
  display: block;
  width: 100%;
  padding: 11px 24px;
  border: none;
  cursor: pointer;
  border-radius: 12px;

  font-size: $font-size-small;

  &,
  &:focus,
  &.focus,
  &:active,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    outline: 0;
  }
}
.btn-main {
  @include button-variant(
    $btn-main-color,
    $btn-main-bg,
    $btn-main-border,
    $btn-main-color,
    rgba($btn-main-bg, 0.8),
    $btn-main-border
  );
}

.btn-disabled {
  @include button-variant(
    $btn-disabled-color,
    $btn-disabled-bg,
    $btn-disabled-border,
    $btn-disabled-color,
    rgba($btn-disabled-bg, 0.8),
    $btn-disabled-border
  );
}
.btn-default {
  width: auto;
}
.btn-basic {
  width: auto;
  border: 1px solid #2a353d;
  box-sizing: border-box;
  border-radius: 8px;
  background: #fff;
}
.btn-green-border {
    width: -webkit-fill-available;
    border:1px solid #11bb91;
    border-radius: 12px;
    color: #11bb91;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    background: #fff;
}