@import "/src/styles/variables.scss";
.base-input {
  padding-left: 16px;
  height: 56px;
  font-weight: 500;
	font-size: $font-size-medium;
	color: $color-light-black;
  outline-color: #ced4da;
}
.form-control,
.form-select {
  font-size: $font-size-medium;
  font-weight: 500;
  border-style: solid;
  border-radius: 12px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s;
  box-shadow: 0 1px 2px 0 none;

  @media (min-width: $screen-md-min) {
   // padding: $input-padding-large;
    font-size: $font-size-medium;
  }

  &:active,
  &:focus {
    outline: 2px solid $color-green !important;
    box-shadow: none !important;
    outline-offset: -2px;
  }

  &.input-sm {
    height: 35px;
    padding: 10px $padding-base-horizontal;

    font-size: $font-size-medium;
    @media (min-width: $screen-md-min) {
      height: 45px;
    }
  }
}
.form-floating > label {
  padding-left: 16px !important;
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  color: $color-gray-light-dark;
  display: flex;
  align-items: center;
}

select.form-select {
  border-radius: 12px;
  background-image: url("../../assets/icons/ic_arrow.svg");
  background-size: 25px 25px;
  height: 56px;
}
.form-select option {
  border-color: #ccc;
  border-radius: 2px;
}
.height-large {
  height: 56px !important;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
  background-image: none !important;
}
.br-12 {
  border-radius: 12px !important;
}

.br-8 {
  border-radius: 8px !important;
}

label {
  font-size: $font-size-medium;
  font-weight: 500;
  color: $color-gray-middle;
  @media (min-width: $screen-md-min) {
    font-size: $font-size-small;
  }
}
.small-label {
  font-size: $font-size-extra-small !important;
  font-weight: 400;
  color: $color-gray-middle;
  @media (min-width: $screen-md-min) {
    font-size: $font-size-tiny !important;
  }
}
//custom radio/checkbox
.custom-input_radio:checked,
.custom-input_radio:not(:checked) {
  position: absolute;
  left: -9999px;
}
.custom-input_radio:checked + label,
.custom-input_radio:not(:checked) + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  line-height: 15px;
  display: inline-block;
  color: #acbbbe;
}
.custom-input_radio:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #acbbbe;
  border-radius: 100%;
  background: $color-white;
}
.custom-input_radio:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid $color-green;
  border-radius: 100%;
  background: $color-white;
}
.custom-input_radio:checked + label::after,
.custom-input_radio:not(:checked) + label::after {
  content: "";
  width: 10px;
  height: 10px;
  background: $color-green;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;

  transition: all 0.2s ease;
}
.custom-input_radio:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
}
.custom-input_radio:checked + label::before {
  opacity: 1;
  transform: scale(1);
}

//custom oval radio
.oval-radio-input:checked,
.oval-radio-input:not(:checked) {
  position: absolute;
  left: -9999px;
}
.oval-radio-input:checked + label,
.oval-radio-input:not(:checked) + label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  line-height: 15px;
  display: inline-block;
  color: #acbbbe;
}
.oval-radio-input:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #acbbbe;
  border-radius: 100%;
  background: $color-white;
}
.oval-radio-input:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 20px;
  border: 1px solid #605e5c;
  border-radius: 100px;
  background: #ffffff;
}
.oval-radio-input:checked + label::after,
.oval-radio-input:not(:checked) + label::after {
  content: "";
  width: 14px;
  height: 14px;
  background: #605e5c;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  transition: all 0.2s ease;
}
.oval-radio-input:not(:checked) + label::after {
  opacity: 0;
  transform: scale(0);
}
.oval-radio-input:checked + label::before {
  opacity: 1;
  transform: scale(1);
}

// h1 {
//   @include font-format(
//     $font-size-medium-large,
//     800,
//     26.4px,
//     1%
//   ); //font-size; 20px
// }
// h2 {
//   @include font-format($font-size-large, 600);
// }
// h3 {
//   @include font-format($font-size-h3-large, 600);
// }
// h4 {
//   @include font-format($font-size-h4-large, 600);
// }
// h5 {
//   @include font-format($font-size-h5-large, 700);
// }
// h6 {
//   @include font-format($font-size-small, 600);
// }
p {
  font-size: $font-size-small;
  font-weight: 500;
  line-height: 130%;
}

input.form-control {
  border-radius: 12px;
}
select.form-floatin {
  border-radius: 12px;
}

// material toggle
.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  top: 2px;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: #c6c5c5;
  border-radius: 8px;
  content: "";
  height: 14px;
  margin-top: -15px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 34px;
}

.material-switch > label::after {
  background: #f1f1f1;
  border-radius: 16px;
  content: "";
  height: 20px;
  left: -4px;
  margin-top: -14px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 20px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.24);
}

.material-switch > input[type="checkbox"]:checked + label::before {
  background: $color-green;
  opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
  background: $color-green;
  left: 16px;
}

.form-floating textarea:not(:placeholder-shown) ~ label ~ div {
    width: calc(100% - 1.5rem);
    height: 1rem;
    background-color: white;
    position: absolute;
    top: 1px;
    left: 8px;
    padding-top: 26px;
    padding-left: 0.75rem;
}
.form-floating textarea {
  outline-color: #ced4da;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: $color-light-black;
}

.form-floating > .form-control.form-control:not(:placeholder-shown) ~ label {
  //transform: scale(0.75) translateY(-0.3rem) translateX(0.5rem);
  font-size: 12px;
  display: inline-block;
  padding-top: 10px;
  line-height: 130%;
  transform: none;
}

.form-floating input {
  font-weight: 500;
	font-size: $font-size-medium;
	color: $color-light-black;
}

.form-floating > .form-control:focus ~ label {
  //transform: scale(0.75) translateY(-0.3rem) translateX(0.5rem);
  font-size: 12px;
  display: inline-block;
  padding-top: 10px;
  line-height: 130%;
  transform: none;
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown){
  padding-top: 28px !important;
  padding-bottom: 10px !important;
}

.form-floating > .form-control.form-control:not(:placeholder-shown) {
  // transform: scale(0.75) translateY(-0.3rem) translateX(0.15rem);
  //padding-bottom: 0.4rem;
}
