<div
  class="{{ disabled ? 'select-option-disabled' : 'select-option' }}"
  [ngClass]="lastElement ? 'select-option__last-child' : ''">
  <div class="option_body__img" *ngIf="type !== 'accounts'">
    <img
      *ngIf="
        account.status === 'N' ||
        account.status === 'I' ||
        account.status === 'D'
      "
      src="./assets/icons/blocked.svg"
      alt="blocked reason"
      class="option__reason" />
    <img [src]="icon" alt="card-detail" />
  </div>
  <div class="option_body__img" *ngIf="type === 'accounts'">
    <img
      *ngIf="
        helperService.getDetailAccountStatus(account.absState | lowercase)
          .length !== 0
      "
      [src]="helperService.getDetailAccountIcon(account?.absState | lowercase)"
      alt="blocked reason"
      class="option__reason" />
    <img
      [ngClass]="isOpenStatus(account)"
      [src]="
        helperService.getAccountIcon(
          account.currency,
          account.active,
          'accounts',
          account.absState
        )
      "
      alt="account icon"
      (error)="helperService.imgError($event)" />
  </div>
  <div class="option_body__content">
    <div class="option_body__content_inner">
      <p
        class="select-option__name"
        [ngClass]="
          account.status === 'N' ||
          account.status === 'I' ||
          account.status === 'D'
            ? 'error'
            : ''
        ">
        {{
          (accountService.cardNames[account?.name] | translate) || account?.name
        }}
      </p>
      <!--       <p *ngIf="account.status === 'N' || account.status === 'I' || account.status === 'D'" class="select-option__error">-->
      <!--          {{ account.blockReason }}-->
      <!--        </p>-->
    </div>
    <p class="select-option__title">
      <span
        [ngClass]="
          account.status === 'N' ||
          account.status === 'I' ||
          account.status === 'D'
            ? 'error'
            : ''
        "
        >{{ getFormattedAmount(amount) | amountPipe }} {{ currency }}</span
      >
    </p>
    <p class="select-option__desc">{{ description }}</p>
  </div>
</div>
