<div #tableModal>
  <div>
    <ob-loader [loading]="false">
      <div class="modal-header">
        <div>
          <ng-template [ngIf]="!isOtpModal">
            <p class="modal-title">Tumar CSP</p>
          </ng-template>
          <ng-template [ngIf]="isOtpModal">
            <p class="modal-title">{{ 'sms.codeConfirmation' | translate }}</p>
          </ng-template>
        </div>
        <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="closeModal()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <ob-loader [loading]="false">
        <div class="modal-body">
          <ng-template [ngIf]="!isOtpModal">
            <div class="modal-wrapper">
              <div id="bootstrap-overrides" class="col-12" [formGroup]="form">
                <div class="form-floating token-key-input">
                  <input
                    formControlName="tokenKey"
                    class="form-control base-input pass"
                    autocomplete="off"
                    type="password"
                    required="required"
                    placeholder="{{ 'login.enter-token-key' | translate }}"
                    id="tokenKey"
                    maxlength="16"
                    readonly="{{ isReadOnlyTokenKey() }}"
                    (keyup)="onKeyPress($event)" />
                  <i></i>
                  <label for="tokenKey">{{
                    'login.enter-token-key' | translate
                  }}</label>
                </div>
                <div>
                  <ob-field-error-display
                    *ngIf="formControl.tokenKey.errors?.required"
                    [displayError]="isFieldValid('tokenKey')"
                    errorMsg="{{
                      'error.required' | translate
                    }}"></ob-field-error-display>
                  <ob-field-error-display
                    *ngIf="formControl.tokenKey.errors?.pattern2"
                    [displayError]="isFieldValid('tokenKey')"
                    errorMsg="{{
                      'error.filledIncorrectly' | translate
                    }}"></ob-field-error-display>
                  <ob-field-error-display
                    *ngIf="formControl.tokenKey.errors?.pattern"
                    [displayError]="isFieldValid('tokenKey')"
                    errorMsg="{{
                      'error.pinIncorrect' | translate
                    }}"></ob-field-error-display>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template [ngIf]="isOtpModal">
            <div class="row">
              <div class="col-dt-5">
                <div>
                  <p class="sms-description">
                    {{ 'sms.2fa-pass-message' | translate }}
                  </p>
                </div>
                <!-- <div> -->
                <div class="code-container">
                  <code-input
                    [code]="otp"
                    #codeInput
                    [isCodeHidden]="false"
                    [codeLength]="6"
                    (codeChanged)="onCodeChanged($event)"
                    (codeCompleted)="onCodeCompleted($event)"
                    [initialFocusField]="0"
                    [isPrevFocusableAfterClearing]="true">
                  </code-input>
                </div>

                <!-- <ob-button
                  [label]="'sms.confirm' | translate"
                  [className]="'btn btn-success height-medium br-12 mb-3 mt-4 w-100'"
                  [loading]="isConfirmationLoading"
                  (click)="submit(isCodeCompleted)"
                  [disabled]="numberSendError.length > 0"
                ></ob-button> -->
              </div>
            </div>
          </ng-template>
        </div>
      </ob-loader>

      <div class="modal-footer">
        <!-- class="upload-btn" -->
        <ob-button
          [label]="'Подписать'"
          [className]="'btn-delete'"
          (click)="onSign()"
          [loading]="isSigning || isGettingOtpPush"
          [disabled]="isSigning"></ob-button>
        <!-- class="btn-cancel ms-3" -->
        <ob-button
          [label]="'Отменить'"
          [className]="'btn-cancel ms-3'"
          (click)="closeModal()"
          [disabled]="isSigning || isGettingOtpPush"></ob-button>
      </div>
    </ob-loader>
  </div>
</div>
