@import '/src/styles/variables.scss';

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 84px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px -1px 0px #ebebeb;
  margin-top: -114px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  padding-top: 16px;
}

.footer-container-text {
  display: flex;
  flex-direction: column;

  &__commission {
    padding-bottom: 4px;
    font-size: $font-size-small;
    font-weight: 500;
    letter-spacing: 2%;
    line-height: 18.2px;
  }
  &__sum {
    font-size: $font-size-medium;
    font-weight: 700;
    letter-spacing: 2%;
    line-height: 20.8px;
  }
}
.btns {
  width: auto;
  padding: 14px 24px;
  font-weight: 700;
  font-size: $font-size-small;
}
.footer-container-buttons {
  display: flex;
  flex-direction: row;

  &__common {
    color: #11bb91;
    background-color: #fff;
  }

  &__sign-active {
    background-color: #11bb91;
    color: #fff;
    display: flex;
    :first-child {
      margin-right: 0.5rem;
    }
  }

  .loader {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-top: 1px solid $color-gray-middle;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
}

@media screen and (max-width: 1600px) {
  .footer-container {
    max-width: 1120px;
  }
}

@media screen and (max-width: 1120px) {
  .footer-container {
    padding-left: 1.5rem;
  }
}