<div class="footer">
  <div class="footer-container">
    <ob-loader [loading]="loading">
      <div class="footer-container-buttons">
        <ng-template [ngIf]="hasRightToSign">
          <button
            class="_btn btns footer-container-buttons__sign-active"
            (click)="toDirectlySign()">
            <div>{{ 'operations.payments.confirm' | translate }}</div>
          </button>
        </ng-template>

        <!-- <ng-template [ngIf]="hasRightToSign && operationType !== 'card'">
          <button
            class="_btn btns footer-container-buttons__common"
            (click)="toSignLater()"
          >
            <div>{{ 'operations.payments.sign-later' | translate }}</div>
          </button>
        </ng-template> -->

        <ng-template [ngIf]="!hasRightToSign">
          <button
            class="_btn btns footer-container-buttons__sign-active"
            (click)="toSendToSign()">
            <div>{{ 'sms.confirm' | translate }}</div>
          </button>
        </ng-template>
        <button
          class="_btn btns footer-container-buttons__common"
          (click)="toSave()"
          *ngIf="isSaveEnabled">
          <div>{{ 'operations.payments.btn-save' | translate }}</div>
        </button>
      </div>
    </ob-loader>
  </div>
</div>
