@import '/src/styles/variables.scss';

.products {
  &-main {
    margin-top: 8px;
  }

  &__navigation {
    background-color: #fff;
    padding: 24px;
    height: 80vh;
    max-height: 1035px;
    padding-right: 2px;
    border-radius: 12px;
    position: sticky;
    top: 152px;
  }

  &__title {
    &-medium {
      font-size: $font-size-medium;
      font-weight: $font-weight-bold;
      letter-spacing: 0.02em;
      line-height: 130%;
      color: $color-light-black;
      margin-bottom: 16px;
    }

    &-small {
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      letter-spacing: 0.02em;
      line-height: 130%;
      color: $color-light-black;
    }
  }

  &-list {
    position: relative;
    margin-top: 24px;
    margin-bottom: 24px;

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid #d0d6d8;
        padding-bottom: 12px;
      }
      &:not(:first-child) {
        padding-top: 12px;
      }

      &-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
      }
      &-container {
        margin-top: 20px;
      }

      &-wrapper:not(:last-child) {
        margin-bottom: 32px;
      }
    }

    &__wrapper {
      padding-right: 16px;
      overflow-y: auto;
      height: calc(80vh - 62px);

      &::-webkit-scrollbar {
        width: 6px;
      }
      
      &::-webkit-scrollbar-thumb {
        background: $color-gray-light-dark;
        display: none;
        transition: all .2s ease-in-out;
      }
      &:hover {
        &::-webkit-scrollbar-thumb {
          display: block;
          transition: all .2s ease-in-out;
        }
      }
    }

    .icon_dark_arrow {
      transform: rotate(270deg);
    }

    .icon {
      width: 36px;
      height: 36px;
    }
  }

  &__scroll-top {
    position: fixed;
    width: 48px;
    height: 48px;
    bottom: 24px;
    right: 24px;
    opacity: 0;
    transition: all .2s ease-in-out;
    background: #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 24px;
      height: 24px;
    }

    &.show{
      z-index: 1;
      opacity: 25%;
      transition: all .2s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 40%;
      }
    }

   }
}

.top-shadow {
  position: absolute;
  top: 60px;
  height: 32px;
  z-index: 1;
  width: 90%;
  margin-right: 24px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

.bottom-shadow {
  position: absolute;
  height: 32px;
  width: 90%;
  z-index: 1;
  margin-right: 24px;
  bottom: 1px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}