<div #staffModal>
  <div *ngIf="isEmployeeDisplay">
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        {{ 'operations.default.employeesList' | translate }}
      </h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="cancel()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div
      class="modal-body employees"
      [ngClass]="{ 'employees-loading': isLoading }">
      <ob-loader [loading]="isLoading">
        <table class="table users-list">
          <thead>
            <tr>
              <th scope="col" *ngIf="currentPageEmployees.length > 0">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexCheckDefault"
                  [(ngModel)]="mainCheck"
                  (change)="changeAllStatus()" />
              </th>
              <th scope="col">
                {{ 'operations.default.employeefio' | translate | uppercase }}
              </th>
              <th scope="col">
                {{ 'operations.default.iin' | translate | uppercase }}
              </th>
              <th scope="col" *ngIf="paymentType === 'salary'">
                {{ 'default.account' | translate | uppercase }}
              </th>
              <th scope="col" *ngIf="paymentType !== 'salary'">
                {{ 'operations.default.birthDate' | translate | uppercase }}
              </th>
              <th scope="col">
                {{ 'operations.payments.sum' | translate | uppercase }}
              </th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let emp of currentPageEmployees">
              <td *ngIf="currentPageEmployees.length > 0">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="flexCheckDefault"
                    [(ngModel)]="emp.checked"
                    (change)="onSelect(emp)" />
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center">
                  <p class="users-list-text__main">
                    <span>{{
                      emp?.lastName === null
                        ? ''
                        : (emp?.lastName + ' ' | titlecase)
                    }}</span>
                    <span>{{
                      emp?.firstName === null
                        ? ''
                        : (emp?.firstName + ' ' | titlecase)
                    }}</span>
                    <span *ngIf="emp.middleName">{{
                      ' ' + emp?.middleName === null
                        ? ''
                        : (emp?.middleName | titlecase)
                    }}</span>
                  </p>
                </div>
              </td>
              <!-- ИИН -->
              <td>
                <span>{{ emp.iin }}</span>
              </td>
              <!-- ИИН -->
              <!-- Счет -->
              <td *ngIf="paymentType === 'salary'">
                <span>{{ emp?.account }}</span>
                <p class="bankName">{{ emp?.bankName }}</p>
              </td>
              <!-- Счет -->
              <td *ngIf="paymentType !== 'salary'">
                <span *ngIf="emp.birthDay">{{
                  formatBirthDate(emp?.birthDay)
                }}</span>
              </td>
              <!-- Сумма -->
              <td class="users-list__sum">
                <span>{{ getFormattedAmount(emp?.amount) }} ₸</span>
              </td>
              <!-- Сумма -->
              <td (click)="editAddEmployees(true, emp)" class="edit-icon">
                <img src="assets/icons/ic_edit.svg" alt="change-icon" />
              </td>
            </tr>
          </tbody>
        </table>
      </ob-loader>

      <p
        class="employees__secondary d-flex align-items-center justify-content-center mt-4"
        *ngIf="totalElements < 1 && !isLoading">
        {{ 'operations.default.emptyList' | translate }}
      </p>
    </div>

    <div class="employees-pagination" *ngIf="totalElements > 10">
      <pagination
        [totalItems]="totalElements"
        [ngModel]="currentPage"
        [maxSize]="maxSize"
        [directionLinks]="false"
        (pageChanged)="changePage($event)"
        [rotate]="true"
        [boundaryLinks]="true"
        firstText="{{ isFirst ? ' ' : '&laquo;' }}"
        lastText="{{ isLast ? ' ' : '&raquo;' }}"></pagination>
    </div>

    <div class="modal-footer" *ngIf="!isLoading">
      <div class="d-flex justify-content-start">
        <ob-button
          [label]="'operations.default.choose' | translate"
          *ngIf="totalElements > 0"
          [className]="'btn btn-primary height-medium br-12 mr-24 p-24'"
          (click)="selectEmployee()"></ob-button>
        <ob-button
          [label]="'operations.default.addNewEmployee' | translate"
          [className]="'btn btn-outline-green height-medium br-12 mr-24 p-24'"
          (click)="editAddEmployees()"></ob-button>
        <ob-button
          [label]="'operations.default.delete' | translate"
          *ngIf="totalElements > 0"
          [className]="'btn btn-outline-orange height-medium br-12 p-24 ml-20'"
          (click)="deleteEmployee()"></ob-button>
      </div>
    </div>
  </div>
  <ob-modal-add-staff
    *ngIf="isEmployeeEdit || isEmployeeAdd"
    [el]="employeeDataToEdit"
    [isEdit]="isEmployeeEdit"
    (updateEmployees)="updateEmployees($event)"
    [paymentType]="paymentType"
    [cheifEditable]="cheifEditable"></ob-modal-add-staff>
</div>
