<div class="operations-filter">
  <p class="operations-filter-title">{{ 'default.period' | translate }}</p>
  <div class="operations-filter-datepickers">
    <ob-input-calendar (selectedDate)="setFromDate($event)"></ob-input-calendar>
    <div style="margin: 0 8px">-</div>
    <ob-input-calendar (selectedDate)="setToDate($event)"></ob-input-calendar>
  </div>

  <div class="operations-filter-tabs">
    <ob-tab-selects
      [list]="filterDateList"
      (obSelectedDate)="changeSelectedDate($event)"></ob-tab-selects>
  </div>

  <p class="operations-filter-title">{{ 'operations.types' | translate }}</p>

  <div class="operations-filter-tabs">
    <ob-tab-selects
      [list]="operationTypes"
      (obSelectedDate)="changeOperationType($event)"></ob-tab-selects>
  </div>

  <p class="operations-filter-title">{{ 'menu.payments' | translate }}</p>

  <select
    [(ngModel)]="selectedOperation"
    class="form-control mb-4 height-large br-12">
    <option *ngFor="let operation of operationList" [value]="operation.code">
      {{ operation.label }}
    </option>
  </select>

  <div class="operations-filter-tabs">
    <ob-tab-selects
      [list]="operationList"
      (obSelectedDate)="(changeSelectedOperation)"></ob-tab-selects>
  </div>

  <input
    class="form-control height-large br-12 mb-4"
    autocomplete="off"
    type="text"
    required="true"
    [(ngModel)]="contragentValue"
    placeholder="'operations.countragent.search' | translate" />

  <div class="operations-filter-tabs">
    <ob-tab-selects
      [list]="contragentList"
      (obSelectedDate)="(changeSelectedContragent)"></ob-tab-selects>
  </div>
</div>
