<div class="d-flex flex-column">
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-row field_wrapper col">
      <p class="col_title" (click)="sorting('name')">
        {{ 'operations.default.fio' | translate | uppercase }}
      </p>
      <img
        src="./assets/icons/down_arrow.svg"
        class="up_arrow"
        *ngIf="isUserSort === true && userSort % 2 === 0" />
      <img
        src="./assets/icons/down_arrow.svg"
        class="down_arrow"
        *ngIf="isUserSort === true && userSort % 2 === 1" />
    </div>
    <!--        <div class="d-flex flex-row field_wrapper col1">-->
    <!--            <p class="col_title" (click)="sorting('sign')">ПРАВО ПОДПИСИ</p>-->
    <!--            <img src="./assets/icons/down_arrow.svg" class="up_arrow"-->
    <!--                 *ngIf="isSignSort===true && signSort%2===0">-->
    <!--            <img src="./assets/icons/down_arrow.svg" class="down_arrow"-->
    <!--                 *ngIf="isSignSort===true && signSort%2===1">-->
    <!--        </div>-->
    <div class="d-flex flex-row field_wrapper col2">
      <p class="col_title" (click)="sorting('status')">
        {{ 'default.status' | translate | uppercase }}
      </p>
      <img
        src="./assets/icons/down_arrow.svg"
        class="up_arrow"
        *ngIf="isStatusSort === true && statusSort % 2 === 0" />
      <img
        src="./assets/icons/down_arrow.svg"
        class="down_arrow"
        *ngIf="isStatusSort === true && statusSort % 2 === 1" />
    </div>
  </div>
  <div
    class="d-flex flex-row justify-content-between"
    *ngFor="let signer of allSigners; let i = index">
    <div class="d-flex flex-column justify-content-center wrapper col">
      <p class="">{{ signer.name }}</p>
    </div>
    <!--        <div class="d-flex flex-column justify-content-center wrapper col1">-->
    <!--            <p>{{signer.id}}</p>-->
    <!--        </div>-->
    <div class="d-flex flex-column wrapper col2">
      <div class="d-flex flex-row justify-content-between">
        <p>{{ getStatus(signer.type) }}</p>
        <!--                <img src="./assets/icons/user_edit.svg">-->
      </div>
    </div>
  </div>
</div>
