@import '/src/styles/main.scss';

.modal {
  &-title {
    font-size: $font-size-medium-large;
    font-weight: $font-weight-bold;
    margin-bottom: 8px;
  }

  &-subtitle {
    font-size: $font-size-small;
    font-weight: 600;
    color: $color-gray-middle;
  }

  &-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 32px 32px;
  }

  &-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 32px 32px;

    & > * {
      margin: 0;
    }
  }

  &-wrapper {
		// min-height: 300px;
		display: inline-flex;
    min-width: 100%;
		// justify-content: center;
		// align-items: center;
    // cursor: pointer;
    .btn-outline-success{
      padding: 0;
      font-weight: $font-weight-bold;
      color: $color-green !important;
      background-color: unset !important;
      border: unset !important;
      width: fit-content !important;
    }
    .btn-outline-success:focus{
      box-shadow: unset;
    }
    .refresh-token-btn{
      margin-top: 16px;
      margin-bottom: 16px;
      color: $color-green;
      font-weight: $font-weight-bold;
    }
    .hidden-details-btn{
      margin: 14.5px 0;
      color: $color-light-black;
      font-weight: $font-weight-medium;
      width: fit-content;
      span{
        margin-right: 0.5rem;
      }
      &__arrow_down {
        cursor: pointer;
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(86deg) brightness(0%) contrast(50%);
      }
    
      &__arrow_up {
        cursor: pointer;
        transform: rotate(180deg);
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(86deg) brightness(0%) contrast(50%);
      }
    }
    .mw-50{
      max-width: 50%;
    }
    .cert-details, .hidden-card-details{
      & > div {
        display: flex;
        align-items: flex-start;
        margin: 16px 0;
      }
      &-btn{
        &__arrow_down {
          cursor: pointer;
        }
      
        &__arrow_up {
          cursor: pointer;
          transform: rotate(180deg);
        }
      }
      
    }
    .cert-details .title{
      display: flex;
      flex: 1;
      color: $color-gray-light-dark;
      max-width: 195px;
    }
    .cert-details .value{
      display: flex;
      flex: 1;
      font-weight: $font-weight-bold;
      max-width: 100%;
      // color: $color-gray-light-dark;
    }
    .hidden-card-details .title{
      display: flex;
      flex: 1;
      color: $color-gray-light-dark;
      max-width: 195px;
    }
    .hidden-card-details .value{
      display: flex;
      flex: 1;
      color: $color-light-black;
      max-width: 100%;
    }
    .line-break{
      margin: 24px 0;
      color: $color-light-grey;
      opacity: 1;
    }
    .token-key-input{
      input{
        padding-left: 16px;
        height: 56px;
      }

    }
    .token-key-input:focus-within label {
        // color: red;
        transform: unset;
    }
    // .pass{
    //   padding-right: 25px;
    //   background: url("/assets/icons/ic_arrow_right.svg") no-repeat right;
    //   background-size: 20px;
    // }

    .pin-change-title{
      font-weight: $font-weight-medium;
      font-size: $font-size-small;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: $color-light-black;
      margin-bottom: 8px;
    }
    .pin-change-description{
      padding-left: 32px;
      li {
        font-weight: $font-weight-medium;
        font-size: $font-size-small;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: $color-gray-darker;
      }

      .text {
        &_error {
          color: $color-error-red;
        }
        &_success {
          color: $color-green;
        }
      }
    }

    .error-message {
      p {
        color: $color-error-red;
      }
    }
      
	}

  &-header {
    padding: 32px 32px 16px;
  }
}

.pass_eye {
  position: absolute;
  right: 16px;
  top: calc(50% - 12px);
  cursor: pointer;
}