<div #tableModal>
  <div>
    <ob-loader [loading]="false">
      <div class="modal-header">
        <div>
          <p class="modal-title">Tumar CSP</p>
        </div>
        <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="closeModal()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <ng-template [ngIf]="!isTokenChangeModal">
        <ob-loader [loading]="socketData.isLoadedKeysFromToken">
          <div class="modal-body">
            <div class="modal-wrapper">
              <div id="bootstrap-overrides" class="col-12" [formGroup]="form">
                <div class="form-floating mb-3">
                  <!-- (blur)="onClose()"
                    (open)="onOpen()"
                    (close)="onClose()" -->
                  <ng-select
                    formControlName="token"
                    class="knp-cbc-select floating-label"
                    [searchable]="isSearchable"
                    [ngClass]="displayFieldClass('token')"
                    placeholder="{{ 'esp.key' | translate }}"
                    required
                    dropdownPosition="bottom"
                    [loading]="isGettingCodeChallenge || isTokenLoading"
                    [readonly]="isGettingCodeChallenge || isTokenLoading"
                    id="token"
                    (change)="changeUser()">
                    <ng-option *ngFor="let cert of certList" [value]="cert">
                      {{ cert.subjectDN }}
                    </ng-option>
                  </ng-select>
                </div>
                <!-- <div class="refresh-token-btn">Обновить список ключей</div> -->
                <!-- <ob-button
                  [label]="'Обновить список ключей'"
                  [className]="'_btn btn-outline-success'"
                  id="update-cert-list"
                  class="upload-btn"
                  (click)="updateCertList()"
                  [loading]="isGettingCodeChallenge || isTokenLoading"
                ></ob-button> -->
                <button
                  type="button"
                  class="_btn btn-outline-success"
                  (click)="updateCertList()">
                  {{ 'esp.updateKeysList' | translate }}
                </button>
                <div class="cert-details">
                  <!-- <div class="company-name">
                    <div class="title">Компания</div>
                    <div class="value">TOO Raduga</div>
                  </div> -->
                  <div class="signer">
                    <div class="title">{{ 'esp.signer' | translate }}</div>
                    <div class="value">{{ returnSigner() }}</div>
                  </div>
                  <div class="expiration-terms">
                    <div class="title">{{ 'esp.validity' | translate }}</div>
                    <div class="value">
                      {{ getUsagePeriod() }} {{ 'esp.days' | translate }}
                    </div>
                  </div>
                </div>
                <div class="hidden-details-btn" (click)="toggleDetails()">
                  <span> {{ 'esp.details' | translate }} </span>
                  <img
                    src="assets/icons/down_arrow.svg"
                    [ngClass]="{
                      'hidden-details-btn__arrow_down': details === false,
                      'hidden-details-btn__arrow_up': details === true
                    }" />
                </div>
                <ng-template [ngIf]="details">
                  <div class="hidden-card-details">
                    <div class="certificate-number">
                      <div class="title">{{ 'esp.number' | translate }}</div>
                      <div class="value">
                        {{ returnSerialNumber() }}
                      </div>
                    </div>
                    <div class="assigned-to">
                      <div class="title">{{ 'esp.whom' | translate }}</div>
                      <div class="value">
                        {{ assignedTo() }}
                      </div>
                    </div>
                    <div class="key">
                      <div class="title">{{ 'esp.key' | translate }}</div>
                      <div class="value">{{ gostInfo }}</div>
                    </div>
                  </div>
                  <hr class="line-break" />
                </ng-template>
                <div class="form-floating token-key-input mw-50">
                  <input
                    formControlName="tokenKey"
                    class="form-control base-input pass"
                    autocomplete="off"
                    type="password"
                    required="required"
                    placeholder="{{ 'login.enter-token-key' | translate }}"
                    id="tokenKey"
                    maxlength="16"
                    readonly="{{ isReadOnlyTokenKey() }}"
                    (keyup)="onKeyPress($event)" />
                  <i></i>
                  <label for="tokenKey">{{
                    'login.enter-token-key' | translate
                  }}</label>

                  <img
                    class="pass_eye"
                    [src]="
                      isPassShown
                        ? 'assets/icons/pass_eye.svg'
                        : 'assets/icons/pass_eye_slash.svg'
                    "
                    (click)="showPass('tokenKey')" />
                </div>
                <div>
                  <ob-field-error-display
                    *ngIf="formControl.tokenKey.errors?.required"
                    [displayError]="isFieldValid('tokenKey')"
                    errorMsg="{{
                      'error.required' | translate
                    }}"></ob-field-error-display>
                  <ob-field-error-display
                    *ngIf="formControl.tokenKey.errors?.pattern2"
                    [displayError]="isFieldValid('tokenKey')"
                    errorMsg="{{
                      'error.filledIncorrectly' | translate
                    }}"></ob-field-error-display>
                  <ob-field-error-display
                    *ngIf="formControl.tokenKey.errors?.pattern"
                    [displayError]="isFieldValid('tokenKey')"
                    errorMsg="{{
                      'error.pinIncorrect' | translate
                    }}"></ob-field-error-display>
                  <!-- <p
                    class=""
                    [ngStyle]="{
                      color: !formControl.tokenKey.errors?.required ? '' : '#FF5721'
                    }"
                  >
                    {{ 'error.required' | translate }}:
                  </p> -->
                </div>
              </div>
            </div>
          </div>
        </ob-loader>
      </ng-template>
      <ng-template [ngIf]="isTokenChangeModal">
        <ob-loader [loading]="socketData.isLoadedKeysFromToken">
          <div class="modal-body">
            <div class="modal-wrapper">
              <div id="bootstrap-overrides" class="col-12" [formGroup]="form">
                <div class="form-floating mb-3">
                  <p class="pin-change-title">
                    {{ 'login.token-pass-requirements' | translate }}:
                  </p>
                  <ul class="pin-change-description">
                    <li
                      [ngClass]="
                        isFieldTouched('newPassword')
                          ? formControl?.newPassword?.errors?.minlength
                            ? 'text_error'
                            : 'text_success'
                          : ''
                      ">
                      {{ 'login.token-length' | translate }}
                    </li>
                    <li
                      [ngClass]="
                        isFieldTouched('newPassword')
                          ? formControl?.newPassword?.errors?.letterError
                            ? 'text_error'
                            : 'text_success'
                          : ''
                      ">
                      {{ 'login.token-letter' | translate }}
                    </li>
                    <li
                      [ngClass]="
                        isFieldTouched('newPassword')
                          ? formControl?.newPassword?.errors?.numberError
                            ? 'text_error'
                            : 'text_success'
                          : ''
                      ">
                      {{ 'login.token-number' | translate }}
                    </li>
                    <li
                      [ngClass]="
                        isFieldTouched('newPassword')
                          ? formControl?.newPassword?.errors?.symbolError
                            ? 'text_error'
                            : 'text_success'
                          : ''
                      ">
                      {{ 'login.token-symbols' | translate }}
                    </li>
                    <li
                      [ngClass]="
                        isFieldTouched('newPassword2')
                          ? formControl?.newPassword?.value !==
                            formControl?.newPassword2?.value
                            ? 'text_error'
                            : 'text_success'
                          : ''
                      ">
                      {{ 'login.token-similar' | translate }}
                    </li>
                  </ul>
                </div>
                <div class="mb-4">
                  <div class="form-floating token-key-input">
                    <input
                      formControlName="currentPassword"
                      class="form-control base-input pass"
                      autocomplete="off"
                      type="password"
                      required="required"
                      placeholder="{{ 'login.current-password' | translate }}"
                      id="currentPassword"
                      maxlength="16"
                      readonly="{{ isReadOnlyTokenKey() }}"
                      (keyup)="onKeyPress($event)" />
                    <i></i>
                    <label for="tokenKey">{{
                      'login.current-password' | translate
                    }}</label>

                    <img
                      class="pass_eye"
                      [src]="
                        isPassShown
                          ? 'assets/icons/pass_eye.svg'
                          : 'assets/icons/pass_eye_slash.svg'
                      "
                      (click)="showPass('currentPassword')" />
                  </div>
                </div>
                <div class="mb-4">
                  <div class="form-floating token-key-input">
                    <input
                      formControlName="newPassword"
                      class="form-control base-input pass"
                      autocomplete="off"
                      type="password"
                      required="required"
                      placeholder="{{ 'login.new-password' | translate }}"
                      id="newPassword"
                      maxlength="16"
                      readonly="{{ isReadOnlyTokenKey() }}"
                      (keyup)="onKeyPress($event)" />
                    <i></i>
                    <label for="tokenKey">{{
                      'login.new-password' | translate
                    }}</label>

                    <img
                      class="pass_eye"
                      [src]="
                        isNewPassShown
                          ? 'assets/icons/pass_eye.svg'
                          : 'assets/icons/pass_eye_slash.svg'
                      "
                      (click)="showPass('newPassword')" />
                  </div>
                </div>
                <div>
                  <div class="form-floating token-key-input">
                    <input
                      formControlName="newPassword2"
                      class="form-control base-input pass"
                      autocomplete="off"
                      type="password"
                      required="required"
                      placeholder="{{
                        'login.repeated-new-password' | translate
                      }}"
                      id="newPassword2"
                      maxlength="16"
                      readonly="{{ isReadOnlyTokenKey() }}"
                      (keyup)="onKeyPress($event)" />
                    <i></i>
                    <label for="tokenKey">{{
                      'login.repeated-new-password' | translate
                    }}</label>

                    <img
                      class="pass_eye"
                      [src]="
                        isNewPassShown2
                          ? 'assets/icons/pass_eye.svg'
                          : 'assets/icons/pass_eye_slash.svg'
                      "
                      (click)="showPass('newPassword2')" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ob-loader>
      </ng-template>

      <div class="modal-footer">
        <ng-template [ngIf]="!isTokenChangeModal">
          <ob-button
            [label]="'auth.login' | translate"
            [className]="'btn height-medium br-12 p-24 w-100'"
            class="upload-btn"
            (click)="login()"
            [loading]="isGettingCodeChallenge || isTokenLoading"></ob-button>
        </ng-template>
        <ng-template [ngIf]="isTokenChangeModal">
          <ob-button
            [label]="'default.change' | translate"
            [className]="'btn height-medium br-12 p-24 w-100'"
            (click)="onPasswordChange()"
            [loading]="isGettingCodeChallenge || isTokenLoading"></ob-button>
        </ng-template>
        <!-- <ob-button
          [label]="'show pass'"
          [className]="'btn h-52 br-12 p-24 w-100'"
          class="upload-btn"
          (click)="showPass()"
          [loading]="isGettingCodeChallenge"
        ></ob-button> -->
      </div>
    </ob-loader>
  </div>
</div>
