@import '/src/styles/variables.scss';

.select-option {
  display: flex;
  align-items: center;
  //   box-shadow: inset 0px -1px 0px #ebebeb;
  //padding: 12px 0;
  margin: 10px 16px 0px 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #E1E9EA;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;

  & > img {
    margin-right: 16px;
  }

  &__disabled {
    border: 1px solid $color-error-red;
  }

  &__title {
    font-size: $font-size-medium;
    font-weight: 700;
    white-space: nowrap;
  }

  &__desc {
    font-size: $font-size-extra-small;
    font-weight: 500;
    color: $color-gray-middle;
  }
  &__tick {
    align-self: center;
    padding-left: 10px;
  }
  &__tick-show {
    color: #fff;
  }
}
