<div class="select-option">
  <ng-template [ngIf]="icon">
    <img [src]="icon" alt="card-detail" />
  </ng-template>
  <div class="d-flex flex-grow-1 justify-content-between">
    <div>
      <p class="select-option__title">
        {{ getFormattedAmount(title) | amountPipe }}
        {{ showCurrency ? helperService.formatCurrency(currency) : '' }}
      </p>
      <p class="select-option__desc">{{ description }}</p>
    </div>
    <div *ngIf="selected" class="select-option__tick">
      <span class="icon icon_tick"></span>
      <span class="select-option__tick-show">-</span>
    </div>
  </div>
</div>
