<div>
  <!-- <div
      [ngClass]="[
        isSideMenu ? 'sidebarTablet' : 'sidebar',
        step === 7 ? 'square-cover' : ''
      ]"
    >
      <div class="logo-content">
        <div class="logo">
          <img src="./assets/icons/logo.svg" alt="ob-logo" />
          <span class="icon icon_delete" (click)="closeMenu()"></span>
        </div>
      </div>
      <div class="menu">
        <ul class="nav-list-one">
          <li>
            <a
              routerLink="/main/home"
              routerLinkActive="active"
              #rlh="routerLinkActive"
              (click)="assignTitle('Главная')"
            >
              <i class="nav_left-icon">
                <span
                  class="icon icon_main"
                  [ngClass]="rlh.isActive ? 'primary' : ''"
                ></span>
              </i>
              <span class="links_name" routerLinkActive="active"> Главная</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/main/accounts"
              routerLinkActive="active"
              #rla="routerLinkActive"
              (click)="assignTitle('Счета')"
            >
              <i class="nav_left-icon">
                <span
                  class="icon icon_accounts"
                  [ngClass]="rla.isActive ? 'primary' : ''"
                >
                </span
              ></i>
              <span class="links_name" routerLinkActive="active"> Счета</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/main/operations"
              routerLinkActive="active"
              #rla="routerLinkActive"
              (click)="assignTitle('Платежи и переводы')"
            >
              <i class="nav_left-icon"><span class="icon icon_payments"></span></i>
              <span class="links_name" routerLinkActive="active"> Платежи и переводы</span>
            </a>
          </li>
          <li>
            <a>
              <i class="nav_left-icon"><span class="icon icon_company"></span></i>
              <span class="links_name"> Эквайринг </span>
            </a>
          </li>
          <li>
            <a>
              <i class="nav_left-icon"
                ><span class="icon icon_contragent"></span
              ></i>
              <span class="links_name"> Справочники</span>
            </a>
          </li>
          <li>
            <a>
              <i class="nav_left-icon"
                ><span class="icon icon_currency"></span
              ></i>
              <span class="links_name"> Конвертация</span>
            </a>
          </li>
          <li>
            <a>
              <i class="nav_left-icon"
                ><span class="icon icon_currency_control"></span
              ></i>
              <span class="links_name"> Валютный контроль</span>
            </a>
          </li>
          <li>
            <a>
              <i class="nav_left-icon"
                ><span class="icon icon_products"></span
              ></i>
              <span class="links_name"> Продукты и сервисы</span>
            </a>
          </li>
        </ul>
        <ul class="nav-list-two">
          <li>
            <a>
              <i class="nav_left-icon"><span class="icon icon_support"></span></i>
              <span class="links_name"> Связаться с банком </span>
              <i style="padding: 7px 0px">
                <span
                  class="icon"
                  (click)="showSubBank = !showSubBank"
                  [ngClass]="!showSubBank ? 'icon_up-arrow' : 'icon_down-arrow'"
                ></span>
              </i>
            </a>
          </li>
          <li *ngIf="showSubBank">
            <a>
              <i class="nav_left-icon"
                ><span class="icon icon_accounts"></span
              ></i>
              <span>Написать банку</span>
            </a>
          </li>
          <li *ngIf="showSubBank">
            <a>
              <i class="nav_left-icon"><span class="icon icon_chat"></span></i>
              <span>Чат с поддержкой</span>
            </a>
          </li>
          <li>
            <a>
              <i class="nav_left-icon"
                ><span class="icon icon_location"></span
              ></i>
              <span class="links_name"> Банк на карте</span>
            </a>
          </li>
          <li>
            <a>
              <i class="nav_left-icon"><span class="icon icon_faq_2"></span></i>
              <span class="links_name"> Halyk Гид</span>
            </a>
          </li>
        </ul>
        <div class="nav-bottom">
          <p class="nav-bottom_item">© 2021 HALYK BANK</p>
        </div>
      </div>
    </div> -->

  <div class="section">
    <div *ngIf="step === 7">
      <ob-instruction-step
        title="{{ 'home.instructions.stepSevenTitle' | translate }}"
        desc="{{ 'home.instructions.stepSevenDesc' | translate }}"
        step="7"></ob-instruction-step>
    </div>
    <div [ngClass]="{ cover: isSideMenu }">
      <ob-header
        [login]="true"
        [title]="activeTitle"
        (OpenMenu)="onMenuClick($event)"></ob-header>
      <router-outlet></router-outlet>
    </div>
  </div>

  <ob-slide-modal></ob-slide-modal>
</div>
