<div class="container">

  <div class="title_wrapper mt_36">
    <h3 class="title">Menu</h3>
    <hr class="title_line">
  </div>

  <div fxFlex class="dish_menu">
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let dish of dishes" class="dish_tile" (click)="goToDishPage(dish)">
        <img height="200px" src="{{dish.image}}" alt="{{dish.name}}">
        <mat-grid-tile-footer>
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
