<div class="deposit_info">
  <ob-loader [loading]="isAccountInfoLoading || isLoadingUserInfo">
    <div class="d-flex flex-row justify-content-between">
      <p class="deposit_info_title">
        {{ 'acccountSavings.deposit.depositInfo' | translate }}
      </p>
      <div class="deposit_info_buttons">
        <!-- <ob-loader [loading]="isReportLoading">
          <p
            class="deposit_info_buttons_download"
            (click)="getDepositStatements()">
            {{ 'default.download' | translate }}
          </p>
        </ob-loader> -->
        <p class="deposit_info_buttons_copy" (click)="copyDeposit()">
          {{ 'default.copy' | translate }}
        </p>
      </div>
    </div>
    <div class="deposit_info_field mt_24">
      <p class="deposit_info_field_key">
        {{ 'acccountSavings.deposit.reward' | translate }}
      </p>
      <p class="deposit_info_field_value">
        {{ getReward() | amountPipe }}
        {{ getCurrency(depositData.currencyCode) }}
      </p>
    </div>
    <div
      class="deposit_info_field mt_12"
      *ngIf="depositData?.depositRate !== null">
      <p class="deposit_info_field_key">
        {{ 'acccountSavings.deposit.rewardRate' | translate }}
      </p>
      <p class="deposit_info_field_value">{{ depositData?.depositRate }}%</p>
    </div>
    <div class="deposit_info_field mt_12" *ngIf="depositData?.currencyCode">
      <p class="deposit_info_field_key">
        {{ 'default.currency' | translate }}
      </p>
      <p class="deposit_info_field_value">
        {{ depositData?.currencyCode }}
      </p>
    </div>
    <div class="deposit_info_field mt_12" *ngIf="depositData?.depositOpen">
      <p class="deposit_info_field_key">
        {{ 'acccountSavings.deposit.dateOpen' | translate }}
      </p>
      <p class="deposit_info_field_value">
        {{ getDate(depositData?.depositOpen) }}
      </p>
    </div>
    <div class="deposit_info_field mt_12" *ngIf="depositData?.depositClose">
      <p class="deposit_info_field_key">
        {{ 'acccountSavings.deposit.dateClose' | translate }}
      </p>
      <p class="deposit_info_field_value">
        {{ getDate(depositData?.depositClose) }}
      </p>
    </div>
    <div class="deposit_info_field mt_12" *ngIf="depositData?.depositAccount">
      <p class="deposit_info_field_key">
        {{ 'acccountSavings.deposit.iban' | translate }}
      </p>
      <p class="deposit_info_field_value">
        {{ depositData.depositAccount }}
      </p>
    </div>
  </ob-loader>
</div>
