.col {
  width: 265px;
}

.col2 {
  width: 168px;
}

.col1 {
  width: 245px;
}

.field_wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #D0D6D8;
}

.wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #D0D6D8;
}

.col_title {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #505C64;
}

.up_arrow {
  width: 10px;
  height: 10px;
  margin-left: 7px;
  transform: rotate(180deg);
  margin-top: auto;
  margin-bottom: auto;
}

.down_arrow {
  width: 10px;
  height: 10px;
  margin-left: 7px;
  margin-top: auto;
  margin-bottom: auto;
}