@import '/src/styles/main';

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.login-header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 99;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 100px;
  background-color: #fff;
  height: 64px;

  &-el {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.logged-header {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0px 0px 32px rgb(80 92 100 / 5%), 0px 4px 20px rgb(42 53 61 / 5%);

  .top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    max-width: 1400px;
    margin: 0 auto;

    .top-header-inner {
      display: flex;

      &-search {
        display: flex;
        margin-left: 35.6px;
      }

      &-icons {
        display: flex;
        gap: 24px;
        align-items: center;
      }
      &-icons:after {
        content: "";
        right: 0;
        top: 0;
        margin-right: 24px;
        width: 1px;
        height: 30px;
        background-color: #D0D6D8;
      }
    }

    &__ic-search {
      position: relative;
      left: 36px;
      top: 8px;
      width: 24px;
      height: 24px;
    }

    &__search-input {
      width: 100%;
      background: $Background-light-grey;
      height: 40px !important;
      padding-left: 44px;
      border: 0;
    }

    .header-icon {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    .header-profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      &-info {
        display: flex;
        flex-direction: column;
        margin: 0px 8px;

        &__company {
          font-size: $font-size-small;
          font-weight: 700;
          color: #2a353d;
        }

        &__name {
          color: $color-gray-darker;
          font-weight: 500;
          font-size: $font-size-extra-small;
          line-height: 14px;
          text-transform: capitalize;
        }
      }
    }
  }

  .bottom-header {
    max-width: 1400px;
    margin: 0 auto;

    ul {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
    }

    ul li {
      position: relative;
      list-style: none;
      border-radius: 12px;
      padding: 16px 0;
      margin-right: 40px;
    }

    ul li a {
      color: $color-black;
      text-decoration: none;
      transition: all 0.4s ease;
      font-size: $font-size-small;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .active {
    color: $color-green;
    font-weight: 700;
  }

  .profile-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;

    &__letter {
      color: #fff;
      display: flex;
      align-items: center;
      font-weight: 700;
    }
    &-small {
      width: 32px;
      height: 32px;
      flex: 0 0 auto;
      align-items: center;

      &__letter {
        font-size: 12px;
      }
    }
  }

  .profile-container {
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
  }

  .profile-container-show {
    display: block;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #fff;
    color: #000;
    z-index: 1;
    width: 404px;
    box-shadow: 0px 0px 32px rgba(80, 92, 100, 0.06), 
      0px 4px 20px rgba(42, 53, 61, 0.1);
    border-radius: 12px;
    padding-top: 24px;

    
  }

  .profile {
    &-contracts {
      max-height: 180px;
      overflow-y: auto;
      margin-bottom: 16px;
    }

    &-item {
      margin: 0 0px;

      &-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 24px;
        font-weight: 700;
        letter-spacing: 0.02em;
        .spin {
          border: 2px solid #f3f3f3;
          border-radius: 50%;
          border-top: 2px solid #11bb91;
          width: 18px;
          height: 18px;
          -webkit-animation: spin 1s linear infinite; /* Safari */
          animation: spin 1s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
      }
    }

    &-item:hover {
      cursor: pointer;
      background-color: #f6f6f6;
    }
  }
}

.profile-header {
  padding-left: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #d0d6d8;

  .profile-header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #ffaaa6;
    color: #ffffff;
    font-weight: 600;
    font-size: $font-size-medium;
  }

  &__username {
    font-weight: $font-weight-bold;
    font-size: $font-size-h5-large;
    color: $color-black;
    letter-spacing: 0.01em;
    padding: 16px;
  }

  &__position {
    font-weight: 500;
    font-size: $font-size-extra-small;
    line-height: 130%;
    color: $color-gray-middle;
  }

  .fields_section {
    margin-top: 16px;
    height: 80px;
  }

  .field_right {
    margin-left: 70px;
  }

  .field_head {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #829199;
  }

  .field_val {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #263238;
    margin-top: 2px;
  }
}

.profile-body {
  margin-top: 24px;
  border-bottom: 1px solid #d0d6d8;

  .profile-body-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    flex: 1 1 80%;

    .contract_field {
      margin-left: 16px;
      font-size: 12px;
      color: #829199;
    }

    .contract_val {
      margin-left: 4px;
      font-size: 12px;
      color: #829199;
    }

    .contract_name {
      margin-left: 16px;
      margin-bottom: 4px;
    }
  }

  &__title {
    letter-spacing: 0.02em;
    color: #829199;
    font-size: $font-size-extra-small;
    margin: 0 0 8px 24px;
    font-weight: 500;
  }

  &__title_length {
    letter-spacing: 0.02em;
    color: #829199;
    font-size: $font-size-extra-small;
    font-weight: 500;
  }
}

.profile-footer {
  padding: 24px;

  &__settings {
    // color: $color-black;
    color: #263238; // Временно, пока нет страницы
    cursor: default; // Временно, пока нет страницы
    font-weight: 700;
    font-size: $font-size-small;
    cursor: pointer;
  }

  &__logout {
    color: #ff5721;
    margin-top: 24px;
    font-weight: 600;
    cursor: pointer;
  }
}

.arrow_up{
  transform: rotate(180deg);
}

.copy_img {
  width: 16px;
  height: 16px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7.5px;
}

.copy_img:hover {
  cursor: pointer;
}

.circle_color_1 {
  background-color: #ffaaa6;
}

.circle_color_2 {
  background-color: #a8e6ce;
}

.circle_color_3 {
  background-color: #b5d3ff;
}

.circle_color_4 {
  background-color: #fcd1b5;
}

.circle_color_5 {
  background-color: #ddd5cc;
}

.circle_color_6 {
  background-color: #dce6dc;
}

.circle_color_7 {
  background-color: #abced9;
}

.circle_color_8 {
  background-color: #e997c1;
}

.circle_color_9 {
  background-color: #c8cfdc;
}

.circle_color_10 {
  background-color: #8c8cc5;
}

.lang-select{
  ::ng-deep ng-select :nth-child(1){
    border: none !important;
    .ng-value{
      p {
        font-weight: 700 !important;
        font-size: 14px !important;
      }
    }
    .ng-arrow-wrapper {
      background-image: url('../../../assets/icons/down_arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 12px;
    }
  }
  ::ng-deep .ng-select-opened :nth-child(1){
    .ng-arrow-wrapper {
      background-image: url('../../../assets/icons/down_arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 12px;
    }
    .ng-option{
      &.ng-option-selected {
        background: url('../../../assets/icons/ic_tick_small.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 64px;
        background-size: 18px;
        background-position-y: 9px;
        p {
          font-weight: 700;
        }
      } 
    }
  }

  ::ng-deep .ng-select {
    .ng-dropdown-panel {
      width: 100px !important;
      
      .scroll-host {
        border-radius: 8px !important;
      }
     
      .ng-option {
        padding: 10px 16px;
        border-bottom: none;
      }

      .ng-option:first-child {
        padding-top: 18px;
        &.ng-option-selected {
          background-position-y: 17px;
        } 
      }

      .ng-option:last-child {
        padding-bottom: 18px;
      }

      &.ng-select-bottom {
        top: 40px;
      }
    }
    .ng-select-container:hover {
      box-shadow: none;
      cursor: pointer;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}

.contact-container {
  display: none;
}

.contact-container-show {
  display: block;
  position: absolute;
  top: 60px;
  transform: translate(-50%, 0%);
  background-color: #fff;
  color: #000;
  z-index: 1;
  width: 350px;
  box-shadow: 0px 0px 32px rgba(80, 92, 100, 0.06),
  0px 4px 20px rgba(42, 53, 61, 0.1);
  border-radius: 12px;
  padding: 24px;
}

.contact {
  &-header {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &-item {
    display: flex;
    margin-bottom: 16px;
    
    &:last-child {
      margin: 0;
    }
    
    img {
      width: 36px;
      height: 36px;
    }

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 12px;

      &__title {
        font-size: 14px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.02em;
        cursor: pointer;
        text-decoration: none;
        color: #263238;
        &:hover {
          color: #263238;
        }
      }
      &__subtitle {
        font-size: 12px;
        font-weight: 500;
        color: #829199;
      }
      &__name {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 8px;
        color: #263238
      }
      &__phone {
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        color: #263238;
        &:hover {
          color: #263238;
        }
      }
    }
  }
}

.small-header {
  display: flex;
  align-items: center;
  height: 60px;

  &-inner {
    width: 50%;
    &:last-child {
      display: flex;
      justify-content: flex-end;
    }


    .header-profile {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;

      &-info {
        display: flex;
        flex-direction: column;
        margin: 0px 8px;

        &__company {
          font-size: $font-size-small;
          font-weight: 700;
          color: #2a353d;
          max-width: 87px;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &__name {
          color: $color-gray-darker;
          font-weight: 500;
          font-size: $font-size-extra-small;
          line-height: 14px;
          text-transform: capitalize;
        }
      }
      .profile-circle {
        min-width: 32px;
        width: 32px;
        height: 32px;
      }
    }
  }
}

.menu {
  margin-left: 12px;
  width: 24px;
  height: 24px;
  img {
    cursor: pointer;
  }
  &-body {
    padding: 32px 24px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D0D6D8;
    margin-bottom: 24px;
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  &-badge {
    position: relative;
    width: fit-content;
  }
}



.small-container {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-y: auto;

  &-inner {
    position: relative;
  }
  &-top {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  a {
    margin-bottom: 24px;
    text-decoration: none;
    color: #263238;
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    cursor: pointer;
  }
  .logout {
    color: #ff5721;
  }
  ::ng-deep #custom-badge {
    margin-top: -12px !important;
  }
}
.small-container-show {
  display: block;
  ::ng-deep body {
    overflow-y: hidden;
  }
}

.small-profile {
  padding: 24px 16px;

  .profile-header {
    padding-left: 0;
  }
  .profile-body {
    border-bottom: none;
  }
  .profile-body__title {
    margin: 0 0 8px 0;
  }
  .profile-item-inner {
    padding: 10px 0;
  }
  .profile-contracts {
    max-height: none;
    margin-bottom: 0;
  }
}



@media screen and (max-width: 1120px) {
  .login-header {
    box-sizing: border-box;
    padding: 0 16px;
  }

  .logged-header {
    box-sizing: border-box;
    padding: 0 20px;
  }
}

@media screen and (max-width: 1300px) {
  .profile-container-show {
    left: 25% !important;
  }
}
@media screen and (max-width: 1600px) {
  .top-header {
    max-width: 1120px !important;
  }

  .bottom-header {
    max-width: 1120px !important;
  }
}

@media screen and (max-width: 1010px) {
  .top-header-inner-search {
    width: 75%;;
  }
}

@media screen and (max-width: 720px) {
  .bottom-header {
    ul li {
      margin-right: 16px !important;
    }
  }

  .profile-container-show {
    left: auto !important;
    transform: none !important;
    right: -35% !important;
  }

  .logged-header.header-profile-info, .logged-header.icon_dark_arrow, .header-profile-info__name {
    display: none !important;
  }
}