@import '/src/styles/variables.scss';

.business-card {
    background-color: #fff;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 32px;
    margin-bottom: 32px;

    &-autofill {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        line-height: 18.2px;
    
        &__secondary {
          span {
            color: #2a353d;
          }
          &-number {
            color: #000;
          }
        }
    
        &__text {
          display: flex;
          align-items: center;
    
          &:nth-child(2) {
            margin-right: 16px;
          }
    
          & > img {
            cursor: pointer;
          }
        }
    
        &__main {
          color: $color-gray-light-dark;
          font-weight: 500;
        }
    
        &__secondary {
          color: $color-gray-light-dark;
          font-size: $font-size-small;
          //margin-right: 5px;
          font-weight: 500;
        }
        &__docNum {
          font-size: 14px !important;
          height: 36px !important;
          width: 153px;
          padding-right: 0;
          padding-left: 10px;
          position: relative;
          margin-left: 8px;
        }
    
        .form-control:invalid:focus, .form-control.is-invalid:focus{
          outline: 1.5px solid #ff744d !important;
        }
    
        .form-control {
          border: 1px solid #d0d6d8;
        }
    
        &__docNum-error-container {
          position: absolute;
        }
      }
    
    &__section {
        margin-bottom: 40px;
    }

    &__line {
        margin: 0 -32px;
        background-color: #d0d6d8;
        opacity: 1;
    }
    
    &-footer {
        margin-top: 24px;
    
        &__button{
            height: 100%;
            color: #fff;
            outline: none !important;
            box-shadow: none !important;
            background-color: $color-green !important;
            border: none;
            font-weight: $font-weight-bold;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56px;
            padding: 0 24px;
            border-radius: 12px;
            display: flex;
            :first-child {
                margin-right: 0.5rem;
            }

            .loader {
                border: 1px solid #f3f3f3;
                border-radius: 50%;
                border-top: 1px solid $color-gray-middle;
                width: 20px;
                height: 20px;
                -webkit-animation: spin 1s linear infinite; /* Safari */
                animation: spin 1s linear infinite;
            }
        }
    }

    &__button {
        border: none;
        color: $color-light-black;
        background-color: $color-gray_main;
        height: 32px;
        padding: 7px 24px;
        letter-spacing: 0.02em;
        line-height: 130%;
        border-radius: 40px;
        outline: none;

        &.active {
            color: #fff;
            background-color: $color-green;
        }

        &-wrapper {
            display: flex;
            flex-direction: row;
            gap: 12px;
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
        &-content {
            margin-left: 12px;
        }
    }
}

.title {
    font-size: $font-size-medium-large;
    font-weight: $font-weight-extra-bold;
    margin-bottom: 12px;
    letter-spacing: 0.01em;
    
    &-medium {
        font-size: $font-size-medium;
        margin-bottom: 16px;
        letter-spacing: 0.02em;
        font-weight: $font-weight-bold;
    }

    &-small {
        font-size: $font-size-small;
        margin-bottom: 8px;
        font-weight: $font-weight-bold;
        letter-spacing: 0.02em;
        line-height: 130%;
    }
}

.base-input {
    height: 56px;
    padding-left: 16px !important;
    &.slider__input {
        padding-left: 20px !important;
        padding-right: 100px;
    }
}

.form-floating > .form-control:focus ~ label {
    font-size: 12px;
    display: inline-block;
    padding-top: 10px;
    line-height: 130%;
    transform: none;
}

.mb-16 {
    margin-bottom: 16px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-24 {
    margin-bottom: 24px !important;
}
.mt-24 {
    margin-top: 24px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-16 {
    margin-top: 16px;
}
.text{
    line-height: 130%;
    &-green {
        color: $color-green;
        text-decoration: none;
        cursor: pointer;
    }
    &-gray {
        color: $color-gray-light-dark;
    }
}
.form-control:invalid:focus, .form-control.is-invalid:focus{
    outline: 1.5px solid #ff744d !important;
}
.hint-text {
    border-left: #505C64 4px solid;
    padding-left: 12px;
    display: flex;
    align-items: center;
}

#cardRadioBtns .card__radio-label {
    padding-left: 36px;
    display: flex;
    align-items: center;
    font-weight: $font-weight-medium;
    font-size: $font-size-medium;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: $color-light-black;

    &-desc {
        margin-top: 6px;
        padding-left: 36px;
        font-weight: $font-weight-medium;
        font-size: $font-size-small;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: $color-gray-darker;
    }
}