<div class="row">
  <div class="col-smdt-12 col-dt-8 col-lgdt-8" [formGroup]="businessCardForm">
    <div class="business-card">
      <h1 class="title" *ngIf="contractType !== 'IP'">
        {{ 'cards.business' | translate }}
      </h1>
      <h1 class="title" *ngIf="contractType === 'IP'">
        {{ 'cards.ip' | translate }}
      </h1>

      <section class="business-card-autofill">
        <div class="business-card-autofill__text flex-column">
          <span
            class="business-card-autofill__secondary d-flex align-items-baseline">
            <p
              class=""
              [ngStyle]="{
                color: !formControl.docNum.errors?.required ? '' : '#FF5721'
              }">
              {{ 'operations.payment-confirmation.doc-number' | translate }}:
            </p>
            <div
              class="ms-1 business-card-autofill__secondary"
              *ngIf="!formControl.docNum.errors?.required && !isEditDocNum">
              №{{ formControl.docNum.value }}
            </div>
            <input
              *ngIf="isEditDocNum"
              formControlName="docNum"
              maxlength="9"
              class="form-control business-card-autofill__docNum"
              [ngClass]="displayFieldClass('docNum')"
              obDocNumberPayment
              (focusout)="editDocNum()"
              id="docNum"
              (docNumChange)="docNumChange($event)"
              (keyup)="onDocNumKeyUp($event)" />
          </span>
          <div class="align-self-start">
            <div class="business-card-autofill__docNum-error-container">
              <ob-field-error-display
                *ngIf="formControl.docNum.errors?.maxLengthExceeded"
                [displayError]="isFieldInvalid('docNum')"
                errorMsg="{{ 'error.documentNum-payments' | translate }}">
              </ob-field-error-display>
              <ob-field-error-display
                *ngIf="formControl.docNum.errors?.pattern"
                [displayError]="isFieldInvalid('docNum')"
                errorMsg="{{ 'error.filledIncorrectly' | translate }}">
              </ob-field-error-display>
            </div>
          </div>
        </div>
        <div class="business-card-autofill__text">
          <img
            *ngIf="!isEditDocNum && formControl.docNum.errors?.required"
            src="assets/icons/ic_edit1.svg"
            alt="change-icon"
            class="business-card-autofill__edit_icon"
            (click)="editDocNum()" />
          <img
            *ngIf="!isEditDocNum && !formControl.docNum.errors?.required"
            src="assets/icons/ic_edit.svg"
            alt="change-icon"
            class="business-card-autofill__edit_icon"
            (click)="editDocNum()" />
          <img
            *ngIf="isEditDocNum"
            src="assets/icons/ic_check_mark.svg"
            alt="change-icon"
            class="business-card-autofill__edit_icon"
            (click)="editDocNum()" />
        </div>
      </section>
      <section class="mb-32">
        <!-- Для кого открыть карту -->
        <div class="business-card__section">
          <p class="title-medium">
            {{ 'products.cards.create-for-whom' | translate }}
          </p>
          <div
            *ngIf="contractType === 'IP'"
            class="business-card__button-wrapper">
            <button
              class="business-card__button"
              [ngClass]="{ active: personType === 'individual' }"
              (click)="onPersonTypeClick('individual')">
              {{ 'products.cards.for-myself' | translate }}
            </button>
            <button
              class="business-card__button"
              [ngClass]="{ active: personType === 'employee' }"
              (click)="onPersonTypeClick('employee')">
              {{ 'products.cards.for-employee' | translate }}
            </button>
          </div>
          <ng-template [ngIf]="personType === 'employee'">
            <div class="row mt-24">
              <div class="col-dt-6 col-tb-6 col-mb-12">
                <div class="form-floating">
                  <input
                    formControlName="employeeIin"
                    type="text"
                    class="form-control base-input"
                    id="employeeIin"
                    [ngClass]="displayFieldClass('employeeIin')"
                    maxlength="12"
                    mask="000000000000"
                    placeholder="{{ 'operations.default.iin' | translate }}"
                    autocomplete="off" />
                  <label for="employeeIin">{{
                    'operations.default.iin' | translate
                  }}</label>
                </div>
                <ob-field-error-display
                  *ngIf="businessCardForm.controls.employeeIin.errors?.required"
                  [displayError]="isFieldInvalid('employeeIin')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
                <ob-field-error-display
                  *ngIf="
                    businessCardForm.controls.employeeIin.errors?.minlength
                  "
                  [displayError]="isFieldInvalid('employeeIin')"
                  errorMsg="{{ 'error.iin' | translate }}">
                </ob-field-error-display>
                <ob-field-error-display
                  *ngIf="
                    businessCardForm.controls.employeeIin.errors?.incorrectIIN
                  "
                  [displayError]="isFieldInvalid('employeeIin')"
                  errorMsg="{{ 'error.incorrectIIN' | translate }}">
                </ob-field-error-display>
              </div>
              <div class="col-dt-6 col-tb-6 col-mb-12">
                <div class="form-floating">
                  <input
                    formControlName="employeePhoneNumber"
                    mask="(000) 000 00 00"
                    [prefix]="'+7 '"
                    [showMaskTyped]="true"
                    [ngClass]="displayFieldClass('employeePhoneNumber')"
                    type="tel"
                    class="form-control base-input"
                    id="employeePhoneNumber"
                    placeholder="{{
                      'products.cards.employee-phone' | translate
                    }}"
                    autocomplete="off" />
                  <label for="employeePhoneNumber">{{
                    'products.cards.employee-phone' | translate
                  }}</label>
                </div>
                <ob-field-error-display
                  *ngIf="
                    businessCardForm.controls.employeePhoneNumber.errors
                      ?.required
                  "
                  [displayError]="isFieldInvalid('employeePhoneNumber')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
                <ob-field-error-display
                  *ngIf="
                    businessCardForm.controls.employeePhoneNumber.errors
                      ?.invalidOperator
                  "
                  [displayError]="isFieldInvalid('employeePhoneNumber')"
                  errorMsg="{{ 'login.incorrectMobileOperator' | translate }}">
                </ob-field-error-display>
              </div>
            </div>
            <div *ngIf="employeeName" class="mt-16 hint-text">
              <p>{{ employeeName }}</p>
            </div>
          </ng-template>
        </div>
        <!-- Для кого открыть карту -->
        <!-- Выберите тип карты -->
        <div class="business-card__section">
          <p class="title-medium">
            {{ 'products.cards.pick-card-type' | translate }}
          </p>
          <div class="business-card__button-wrapper">
            <!-- <button
              class="business-card__button"
              [ngClass]="{ active: cardType === 'visa' }"
              (click)="onCardTypeClick('visa')">
              VISA
            </button> -->
            <button
              class="business-card__button"
              [ngClass]="{ active: cardType === 'mastercard' }"
              (click)="onCardTypeClick('mastercard')">
              MasterCard
            </button>
          </div>
        </div>
        <!-- Выберите тип карты -->
        <!-- Кодовое слово -->
        <div class="business-card__section">
          <p class="title-medium">
            {{ 'products.cards.code-word' | translate }}
          </p>
          <div class="row">
            <div class="col-dt-6 col-tb-6 col-mb-12">
              <div class="form-floating">
                <input
                  #codeWord
                  formControlName="codeWord"
                  type="text"
                  class="form-control base-input"
                  [ngClass]="displayFieldClass('codeWord')"
                  id="codeWord"
                  maxlength="20"
                  placeholder="{{ 'products.cards.code-word' | translate }}"
                  autocomplete="off"
                  (change)="codeWord.value = codeWord.value.trim()" />
                <label for="codeWord">{{
                  'products.cards.code-word' | translate
                }}</label>
              </div>
              <ob-field-error-display
                *ngIf="businessCardForm.controls.codeWord.errors?.required"
                [displayError]="isFieldInvalid('codeWord')"
                errorMsg="{{ 'error.required' | translate }}">
              </ob-field-error-display>
              <ob-field-error-display
                *ngIf="businessCardForm.controls.codeWord.errors?.invalidSymbol"
                [displayError]="isFieldInvalid('codeWord')"
                errorMsg="{{ 'error.symbol' | translate }}">
              </ob-field-error-display>
            </div>
          </div>
        </div>
        <!-- Кодовое слово -->
        <!-- Выберите учет остатка -->
        <div class="business-card__section" *ngIf="contractType !== 'IP'">
          <p class="title-medium">
            {{ 'products.cards.choose-balance-accounting' | translate }}
          </p>
          <div class="col-dt-12 col-tb-12 col-mb-12" id="cardRadioBtns">
            <div class="form-group mb-20">
              <input
                type="radio"
                value="total"
                id="total"
                class="custom-input_radio"
                formControlName="balanceAccounting" />
              <label for="total" class="card__radio-label">{{
                'products.cards.total-balance-accounting' | translate
              }}</label>
              <p class="card__radio-label-desc">
                {{ 'products.cards.total-balance-accounting-desc' | translate }}
              </p>
            </div>
            <div class="form-group">
              <input
                type="radio"
                value="separate"
                id="separate"
                class="custom-input_radio"
                formControlName="balanceAccounting" />
              <label for="separate" class="card__radio-label">{{
                'products.cards.separate-balance-accounting' | translate
              }}</label>
              <p class="card__radio-label-desc">
                {{
                  'products.cards.separate-balance-accounting-desc' | translate
                }}
              </p>
            </div>
          </div>
        </div>
        <!-- Выберите учет остатка -->
        <!-- Вид получения -->
        <div class="mb-32">
          <p class="title-medium">
            {{ 'products.cards.delivery-type' | translate }}
          </p>
          <div class="business-card__button-wrapper mb-16">
            <button
              class="business-card__button"
              [ngClass]="{ active: deliveryType === 'department' }"
              (click)="onDeliveryTypeClick('department')">
              {{ 'products.cards.in-department' | translate }}
            </button>
            <button
              class="business-card__button"
              [ngClass]="{ active: deliveryType === 'delivery' }"
              (click)="onDeliveryTypeClick('delivery')">
              {{ 'products.cards.delivery' | translate }}
            </button>
          </div>
          <ng-template [ngIf]="deliveryType === 'department'">
            <div
              class="col-dt-12 col-tb-12 col-mb-12 mb-16"
              id="bootstrap-overrides-region">
              <ng-select
                formControlName="departmentCity"
                class="custom-select floating-label"
                required
                [ngClass]="displayFieldClass('departmentCity')"
                placeholder="{{ 'products.default.city' | translate }}"
                [editableSearchTerm]="true"
                [clearable]="true"
                notFoundText="{{ 'default.not_found' | translate }}"
                id="departmentCity"
                loadingText="{{ 'default.loading' | translate }}..."
                (change)="onCityChange($event)"
                [loading]="isCityLoading"
                (change)="onDepartmentCityChange()">
                <ng-option *ngFor="let city of cityList" [value]="city"
                  >{{ city }}
                </ng-option>
              </ng-select>
              <ob-field-error-display
                *ngIf="
                  businessCardForm.controls.departmentCity.errors?.required
                "
                [displayError]="isFieldInvalid('departmentCity')"
                errorMsg="{{ 'error.required' | translate }}">
              </ob-field-error-display>
            </div>
            <div
              class="col-dt-12 col-tb-12 col-mb-12"
              id="bootstrap-overrides-region">
              <ng-select
                formControlName="departmentAddress"
                class="custom-select floating-label"
                required
                [ngClass]="displayFieldClass('departmentAddress')"
                placeholder="{{ 'products.default.department' | translate }}"
                [editableSearchTerm]="true"
                [searchable]="isSearchableDepartmentAddress"
                [clearable]="true"
                notFoundText="{{ 'default.not_found' | translate }}"
                id="departmentAddress"
                loadingText="{{ 'default.loading' | translate }}..."
                [loading]="isAddressLoading"
                (open)="isSearchableDepartmentAddress = true"
                (close)="isSearchableDepartmentAddress = false">
                <ng-option *ngFor="let address of addressList" [value]="address"
                  >{{ address }}
                </ng-option>
              </ng-select>
              <ob-field-error-display
                *ngIf="
                  businessCardForm.controls.departmentAddress.errors?.required
                "
                [displayError]="isFieldInvalid('departmentAddress')"
                errorMsg="{{ 'error.required' | translate }}">
              </ob-field-error-display>
            </div>
          </ng-template>
          <ng-template [ngIf]="deliveryType === 'delivery'">
            <div class="row">
              <div
                class="col-dt-6 col-tb-6 col-mb-12 mb-16"
                id="bootstrap-overrides-region">
                <ng-select
                  formControlName="deliveryCity"
                  class="custom-select floating-label"
                  required
                  placeholder="{{ 'products.default.city' | translate }}"
                  [ngClass]="displayFieldClass('deliveryCity')"
                  [editableSearchTerm]="true"
                  [clearable]="true"
                  notFoundText="{{ 'default.not_found' | translate }}"
                  id="deliveryCity"
                  loadingText="{{ 'default.loading' | translate }}..."
                  [loading]="isDeliveyCityLoading">
                  <ng-option
                    *ngFor="let city of deliveryCityList"
                    [value]="city"
                    >{{ city }}
                  </ng-option>
                </ng-select>
                <ob-field-error-display
                  *ngIf="
                    businessCardForm.controls.deliveryCity.errors?.required
                  "
                  [displayError]="isFieldInvalid('deliveryCity')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
              </div>
              <div class="col-dt-6 col-tb-6 col-mb-12 mb-16">
                <div class="form-floating">
                  <input
                    #deliveryStreet
                    formControlName="deliveryStreet"
                    type="text"
                    [ngClass]="displayFieldClass('deliveryStreet')"
                    class="form-control base-input"
                    id="deliveryStreet"
                    placeholder="{{ 'products.default.street' | translate }}"
                    autocomplete="off"
                    (change)="
                      deliveryStreet.value = deliveryStreet.value.trim()
                    " />
                  <label for="deliveryStreet">{{
                    'products.default.street' | translate
                  }}</label>
                </div>
                <ob-field-error-display
                  *ngIf="
                    businessCardForm.controls.deliveryStreet.errors?.required
                  "
                  [displayError]="isFieldInvalid('deliveryStreet')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
                <ob-field-error-display
                  *ngIf="
                    businessCardForm.controls.deliveryStreet.errors
                      ?.invalidSymbol
                  "
                  [displayError]="isFieldInvalid('deliveryStreet')"
                  errorMsg="{{ 'error.symbol' | translate }}">
                </ob-field-error-display>
              </div>
            </div>
            <div class="row">
              <div class="col-dt-6 col-tb-6 col-mb-12">
                <div class="form-floating">
                  <input
                    #deliveryBuilding
                    formControlName="deliveryBuilding"
                    [ngClass]="displayFieldClass('deliveryBuilding')"
                    type="text"
                    class="form-control base-input"
                    id="deliveryBuilding"
                    placeholder="{{ 'products.default.house' | translate }}"
                    autocomplete="off"
                    (change)="
                      deliveryBuilding.value = deliveryBuilding.value.trim()
                    " />
                  <label for="deliveryBuilding">{{
                    'products.default.house' | translate
                  }}</label>
                </div>
                <ob-field-error-display
                  *ngIf="
                    businessCardForm.controls.deliveryBuilding.errors?.required
                  "
                  [displayError]="isFieldInvalid('deliveryBuilding')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
                <ob-field-error-display
                  *ngIf="
                    businessCardForm.controls.deliveryBuilding.errors
                      ?.invalidSymbol
                  "
                  [displayError]="isFieldInvalid('deliveryBuilding')"
                  errorMsg="{{ 'error.symbol' | translate }}">
                </ob-field-error-display>
              </div>
              <div class="col-dt-6 col-tb-6 col-mb-12">
                <div class="form-floating">
                  <input
                    #deliveryApartment
                    formControlName="deliveryApartment"
                    type="text"
                    class="form-control base-input"
                    [ngClass]="displayFieldClass('deliveryApartment')"
                    id="deliveryApartment"
                    placeholder="{{
                      'products.default.apartment-not-required' | translate
                    }}"
                    autocomplete="off"
                    (change)="
                      deliveryApartment.value = deliveryApartment.value.trim()
                    " />
                  <label for="deliveryApartment">{{
                    'products.default.apartment-not-required' | translate
                  }}</label>
                </div>
                <ob-field-error-display
                  *ngIf="
                    businessCardForm.controls.deliveryApartment.errors?.required
                  "
                  [displayError]="isFieldInvalid('deliveryApartment')"
                  errorMsg="{{ 'error.required' | translate }}">
                </ob-field-error-display>
                <ob-field-error-display
                  *ngIf="
                    businessCardForm.controls.deliveryApartment.errors
                      ?.invalidSymbol
                  "
                  [displayError]="isFieldInvalid('deliveryApartment')"
                  errorMsg="{{ 'error.symbol' | translate }}">
                </ob-field-error-display>
              </div>
            </div>
          </ng-template>
        </div>
        <!-- Вид получения -->
        <p>
          {{ 'products.default.confirm-agreement-terms-1' | translate }}
          <a
            class="text-green"
            target="_blank"
            href="https://halykbank.kz/storage/app/media/Documents%202020/Cards/rus_%20kop-karty%20%D0%94%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%20%D0%BF%D1%80%D0%B8%D1%81%D0%BE%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F.pdf">
            {{ 'products.default.confirm-agreement-terms-2' | translate }}
          </a>
        </p>
      </section>
      <hr class="business-card__line" />
      <div class="business-card-footer">
        <button
          class="business-card-footer__button"
          (click)="fieldsValidation()"
          [disabled]="iinCheckingLoading">
          <div>{{ 'all-products.open-card' | translate }}</div>
          <div *ngIf="iinCheckingLoading" class="loader"></div>
        </button>
      </div>
    </div>
  </div>
  <div class="col-smdt-12 col-dt-4 col-lgdt-3">
    <div class="business-card">
      <p class="title-medium mb-24">
        {{ 'products.default.benefits' | translate }}
      </p>
      <div class="business-card__info">
        <img src="./assets/icons/phone.svg" />
        <div class="business-card__info-content">
          <p class="title-small">
            {{ 'products.cards.info-title-1' | translate }}
          </p>
          <p class="text-gray">
            {{ 'products.cards.info-text-1' | translate }}
          </p>
        </div>
      </div>
      <div class="business-card__info">
        <img src="./assets/icons/bills.svg" />
        <div class="business-card__info-content">
          <p class="title-small">
            {{ 'products.cards.info-title-2' | translate }}
          </p>
          <p class="text-gray">
            {{ 'products.cards.info-text-2' | translate }}
          </p>
        </div>
      </div>
      <div class="business-card__info">
        <img src="./assets/icons/delivery.svg" />
        <div class="business-card__info-content">
          <p class="title-small">
            {{ 'products.cards.info-title-3' | translate }}
          </p>
          <p class="text-gray">
            {{ 'products.cards.info-text-3' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
