<div class="card-list" [ngClass]="className">
  <ob-loader [loading]="loading">
    <div class="card-list-header" (click)="redirectTo()">
      <p class="card-list-header__title">{{ title }}</p>
      <div class="card-list-header__img">
        <img src="assets/icons/Pagination.svg" alt="right-arrow" />
      </div>
    </div>

    <!-- <div class="card-list-add" *ngIf="addNew"> // TODO не правильная реализация переделать
      <img src="{{ getAddNewIcon() }}" alt="add-icon" />
      <p>{{ addNewText() | translate }}</p>
    </div> -->

    <ng-template [ngIf]="list.length > 0">
      <div class="card-list-body">
        <div *ngFor="let item of list">
          <ob-account-select-option
            [lastElement]="item === list[list.length - 1]"
            [amount]="getAmount(item)"
            [currency]="getCurrency(item)"
            [description]="getDescription(item)"
            (click)="navigateToPage(item.id)"
            [icon]="getIcon(item)"
            [account]="item"
            [type]="type"></ob-account-select-option>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="isError && type !== 'all-accounts' && !loading">
      <div class="card-list-error mt_25">
        <div class="d-flex flex-row justify-content-center">
          <img
            class="card-list-error-img mr_8"
            src="assets/icons/ic_status_error1.svg" />
          <p class="card-list-error-title">
            {{ 'errorPage.tryLater' | translate }}
          </p>
        </div>
        <p class="card-list-error-text mt_8">
          {{ 'errorPage.serviceNotWork' | translate }}
        </p>
      </div>
    </ng-template>
  </ob-loader>
</div>
