@import '/src/styles/variables.scss';

.setting {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #E1E9EA;
  cursor: pointer;
  justify-content: space-between;

  &-text {
    display: flex;
    align-items: center;

    & > img {
      margin-right: 12px;
    }
  }

  &-info {
    &-label {
      font-weight: 500;
      margin-bottom: 4px;
    }

    &-description {
      font-size: $font-size-extra-small;
      font-weight: 500;
      color: $color-gray-darker
    }
  }

  &-last-element {
    border: none;
    padding-bottom: 0;
  }
}