<ng-template [ngIf]="!productType && type !== 'convertation' && !tariffType">
  <div class="confirmation row mt-5" *ngIf="!isSigned">
    <div class="col-6 offset-3 text-center">
      <img src="./assets/icons/payment_sign.svg" alt="ob-success" />
      <h4 class="mb-32">{{ title }}</h4>
      <!-- <p class="mt-2 contragent">
        {{ name }}
      </p> -->
      <h1 [ngClass]="operationType === 'payment' ? 'mb-16' : 'mb-32'">
        {{ getFormattedAmount(sum) | amountPipe }} {{ getCurrency() }}
      </h1>
      <ng-template [ngIf]="operationType === 'payment'">
        <h6 class="mb-32">
          {{ 'operations.default.destination' | translate }}: {{ receiver }}
        </h6>
      </ng-template>
      <hr class="mb-32" />
      <div class="col-8 offset-2">
        <!-- <button
          type="button"
          class="btn btn-lg w-100 mt-2 btn-bg"
          (click)="onSuccess()"
        >
          {{ 'operations.default.ready' | translate }}
        </button> -->
        <!-- <h6 class="mt-3 text-uppercase download"></h6> -->
        <button
          type="button"
          class="btn btn-lg w-100 mt-2 btn-bg"
          (click)="onNavigate()">
          {{ 'buttons.signed-docs' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="confirmation row mt-5" *ngIf="isSigned">
    <div class="col-6 offset-3 text-center">
      <img src="./assets/icons/payment_sign.svg" alt="ob-success" />
      <h4 class="mb-32">{{ signedTitle }}</h4>
      <!-- <p class="mt-2 contragent">
        {{ name }}
      </p> -->
      <h1 [ngClass]="operationType === 'payment' ? 'mb-16' : 'mb-32'">
        {{ getFormattedAmount(sum) | amountPipe }} {{ getCurrency() }}
      </h1>
      <ng-template [ngIf]="operationType === 'payment'">
        <h6 class="mb-32">
          {{ 'operations.default.destination' | translate }}: {{ receiver }}
        </h6>
      </ng-template>
      <hr class="mb-32" />
      <div class="col-8 offset-2">
        <!-- <h6 class="mt-3 text-uppercase download"></h6> -->
        <button
          type="button"
          class="btn btn-lg w-100 mt-2 btn-bg"
          (click)="onNavigate()">
          {{ 'buttons.signed-docs' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!--Для конвертации-->
<ng-template [ngIf]="type === 'convertation'">
  <div class="confirmation row mt-5" *ngIf="!isSigned">
    <div class="col-6 offset-3 text-center">
      <img src="./assets/icons/payment_sign.svg" alt="ob-success" />
      <h4 class="mb-32">
        {{
          'currencyControl.convertation.sendedToSignConvertation' | translate
        }}
      </h4>
      <h1 [ngClass]="operationType === 'payment' ? 'mb-16' : 'mb-32'">
        {{ getFormattedAmount(sum) | amountPipe }} {{ getCurrency() }}
      </h1>
      <ng-template [ngIf]="operationType === 'payment'">
        <h6 class="mb-32">
          {{ 'operations.default.destination' | translate }}: {{ receiver }}
        </h6>
      </ng-template>
      <hr class="mb-32" />
      <div class="col-8 offset-2">
        <button
          type="button"
          class="btn btn-lg w-100 mt-2 btn-bg"
          (click)="onNavigate()">
          {{ 'buttons.signed-docs' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="confirmation row mt-5" *ngIf="isSigned">
    <div class="col-6 offset-3 text-center">
      <img src="./assets/icons/payment_sign.svg" alt="ob-success" />
      <h4 class="mb-32">{{ signedTitle }}</h4>
      <!-- <p class="mt-2 contragent">
        {{ name }}
      </p> -->
      <h1 [ngClass]="operationType === 'payment' ? 'mb-16' : 'mb-32'">
        {{ getFormattedAmount(sum) | amountPipe }} {{ getCurrency() }}
      </h1>
      <ng-template [ngIf]="operationType === 'payment'">
        <h6 class="mb-32">
          {{ 'operations.default.destination' | translate }}: {{ receiver }}
        </h6>
      </ng-template>
      <hr class="mb-32" />
      <div class="col-8 offset-2">
        <!-- <h6 class="mt-3 text-uppercase download"></h6> -->
        <button
          type="button"
          class="btn btn-lg w-100 mt-2 btn-bg"
          (click)="onNavigate()">
          {{ 'buttons.signed-docs' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Для продуктов -->
<ng-template [ngIf]="productType">
  <div class="confirmation row mt-5" *ngIf="!isSigned">
    <div class="col-6 offset-3 text-center">
      <img src="./assets/icons/payment_sign.svg" alt="ob-success" />
      <h4 class="mb-24" *ngIf="productType === 'deposit'">
        {{ 'products.deposits.sendToSignApplication' | translate }}
      </h4>
      <h4 class="mb-32" *ngIf="productType === 'account'">
        {{ 'products.accounts.sendToSignApplication' | translate }}
      </h4>
      <h4 class="mb-32" *ngIf="productType === 'business-card'">
        {{ 'products.cards.sendToSignApplication' | translate }}
      </h4>
      <!-- <h1 class="mb-24" *ngIf="productType === 'account'">
        {{ 'products.accounts.openAdditionalAccount' | translate }}
      </h1> -->
      <h6 class="mb-24" *ngIf="productType === 'account'">
        {{ 'default.currency' | translate }}: {{ currency }}
      </h6>
      <h6 class="mb-32" *ngIf="productType === 'deposit'">
        {{ 'products.deposits.depositAmount' | translate }}:
        {{ getFormattedAmount(sum) | amountPipe }} {{ currency }}
      </h6>
      <hr class="mb-32" />
      <div class="col-8 offset-2">
        <button
          type="button"
          class="btn btn-lg w-100 mt-2 btn-bg"
          (click)="navigateProducts()">
          {{ 'buttons.goToRequests' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="confirmation row mt-5" *ngIf="isSigned">
    <div class="col-6 offset-3 text-center">
      <img src="./assets/icons/payment_sign.svg" alt="ob-success" />
      <h4 class="mb-24" *ngIf="productType === 'deposit'">
        {{ 'products.deposits.signedApplication' | translate }}
      </h4>
      <h4 class="mb-32" *ngIf="productType === 'account'">
        {{ 'products.accounts.signedApplication' | translate }}
      </h4>
      <div *ngIf="productType === 'business-card'">
        <h4 class="mb-24" *ngIf="cardType !== 'IP'">
          {{ 'products.cards.business-card-ordered' | translate }}
        </h4>
        <h4 class="mb-24" *ngIf="cardType === 'IP'">
          {{ 'products.cards.ip-card-ordered' | translate }}
        </h4>
      </div>
      <!-- <h1 class="mb-24" *ngIf="productType === 'account'">
          {{ 'products.accounts.openAdditionalAccount' | translate }}
        </h1> -->
      <h6 class="mb-24" *ngIf="productType === 'account'">
        {{ 'default.currency' | translate }}: {{ currency }}
      </h6>
      <h6 class="mb-32" *ngIf="productType === 'deposit'">
        {{ 'products.deposits.depositAmount' | translate }}:
        {{ getFormattedAmount(sum) | amountPipe }} {{ currency }}
      </h6>
      <p class="mb-32" *ngIf="productType === 'business-card'">
        {{
          cardDeliveryType === 'department'
            ? ('products.cards.oredered-card-info-3' | translate) +
              ' ' +
              phoneNum +
              ' ' +
              ('products.cards.oredered-card-info-4' | translate)
            : ('products.cards.delivered-card-info-1' | translate) +
              ' ' +
              phoneNum +
              ' ' +
              ('products.cards.delivered-card-info-2' | translate)
        }}
      </p>
      <hr class="mb-32" />
      <div class="col-8 offset-2">
        <button
          type="button"
          class="btn btn-lg w-100 mt-2 mb-24 btn-bg"
          (click)="navigateProducts()">
          <p>{{ 'buttons.goToProducts' | translate }}</p>
        </button>

        <button
          type="button"
          class="btn btn-wt w-100 btn-bg"
          (click)="navigateRequests()">
          <p>{{ 'buttons.goToRequests' | translate }}</p>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="tariffType">
  <div class="confirmation row mt-5">
    <div class="col-6 offset-3 text-center">
      <img src="./assets/icons/payment_sign.svg" alt="ob-success" />
      <h4 class="mb-16">
        {{ 'settings.tarif.connectConfirmationText' | translate }}
      </h4>
      <h6 class="mb-32">
        {{ 'settings.tarif.checkStatus' | translate }}
      </h6>
      <hr class="mb-32" />
      <div class="col-8 offset-2">
        <button
          type="button"
          class="btn btn-lg w-100 mt-2 btn-bg"
          (click)="navigateSettings()">
          {{ 'buttons.goToSettings' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
