.savings {
  width: 100%;
  padding: 32px;
  background: #FFFFFF;
  border-radius: 12px;

  &_table {
    width: 100%;
    margin-top: 30px;

    tr {
      border-bottom: 1px solid #D0D6D8;

      :nth-child(3), :nth-child(4) {
        text-align: end;
      }

      th {
        padding-bottom: 16px;
        font-weight: 600;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #829199;
      }

      td {
        padding: 16px 0px 36px 0px;
      }

      td:nth-child(1) {
        width: 20%;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #829199;
      }

      td:nth-child(2) {
        width: 30%;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
      }

      td:nth-child(3) {
        width: 20%;
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #263238;
      }

      td:nth-child(4) {
        width: 30%;
        font-weight: 700;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #263238;
      }
    }
  }

  &_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #263238;
  }

  &_download {
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #11BB91;
  }
}