<div class="cart">
  <div class="cart_wrapper">
    <p class="cart_title">В корзине</p>
    <div class="cart_list">
      <div class="cart_game" *ngFor="let item of [1,1,1,1]">
        <img class="cart_game_img" src="assets/images/latest_game.jpg">
        <div class="cart_game_info">
          <p class="cart_game_info_field">Название</p>
          <p class="cart_game_info_field">Год</p>
          <p class="cart_game_info_field">Жанр</p>
          <p class="cart_game_info_field">Цена</p>
          <button class="cart_game_btn">
            Получить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
