<div class="contact">
  <div class="contact-header">
    <p class="contact-header__title">
      {{ 'home.contacts.title' | translate }}
    </p>
  </div>

  <div class="contact-body">
    <div class="contact-body-detail">
      <a href="tel:9595"><span class="icon icon_phone"></span></a>
      <div class="contact-body-info">
        <p class="contact-body-info__title">
          {{ 'home.contacts.phoneHeading' | translate }}
        </p>
        <p class="contact-body-info__number">{{ phoneNumber }}</p>
      </div>
    </div>
    <div class="contact-body-detail">
      <a href="tel:+77273752525"><span class="icon icon_manager"></span></a>
      <div class="contact-body-info">
        <p class="contact-body-info__title">
          {{ 'home.contacts.managerHeading' | translate }}
        </p>
        <p class="contact-body-info__number">{{ managerNumber }}</p>
      </div>
    </div>
    <!-- <div class="contact-body-detail">
      <span class="icon icon_mail"></span>
      <div class="contact-body-info">
        <p class="text-muted contact-body-info__without-info">
          {{ 'home.contacts.mailHeading' | translate }}
        </p>
      </div>
    </div> -->
    <!-- <div class="contact-body-detail">
      <span class="icon icon_point"></span>
      <div class="contact-body-info">
        <p class="text-muted contact-body-info__without-info">
          {{ 'home.contacts.mapHeading' | translate }}
        </p>
      </div>
    </div> -->
  </div>
</div>
