<div
  [ngClass]="{
    'modal-wrapper': isRequisitsLoading || isRequestError,
    'modal-wrapper__loading': isRequisitsLoading
  }">
  <ob-loader [loading]="isRequisitsLoading">
    <div class="modal_header">
      <p class="modal_header_title">
        {{ 'requisites.my-requisites' | translate }}
      </p>

      <img
        src="assets/icons/ic_cancel.svg"
        class="modal_header_btn"
        (click)="closeModal()" />
    </div>
    <div class="modal_body">
      <ng-template [ngIf]="!isRequestError">
        <div class="body-info" *ngIf="type !== 'card'">
          <span class="body-info-main">{{ 'default.name' | translate }}</span>
          <span class="body-info-secondary">{{
            requisites?.companyName || requisites?.contractName
          }}</span>
        </div>
        <div class="body-info" *ngIf="type === 'card'">
          <span class="body-info-main">{{
            'requisites.card_holder' | translate
          }}</span>
          <span class="body-info-secondary">{{ requisites?.clientName }}</span>
        </div>
        <div class="body-info">
          <span class="body-info-main" *ngIf="type === 'card'">{{
            'requisites.iin_holder' | translate
          }}</span>
          <span
            class="body-info-main"
            *ngIf="type === 'card-account' || type === 'account'"
            >{{ 'default.idn-bin' | translate }}</span
          >
          <span class="body-info-secondary">{{ requisites?.iin }}</span>
        </div>
        <div class="body-info" *ngIf="requisites?.iik">
          <span class="body-info-main" *ngIf="type !== 'card'">{{
            'default.iik' | translate
          }}</span>
          <span class="body-info-main" *ngIf="type === 'card'">{{
            'default.accountNumber' | translate
          }}</span>
          <span class="body-info-secondary">{{ requisites?.iik }}</span>
        </div>
        <div class="body-info">
          <span class="body-info-main">{{ 'default.bank' | translate }}</span>
          <span class="body-info-secondary">{{ requisites?.bankName }}</span>
        </div>
        <div class="body-info">
          <span class="body-info-main">{{
            'operations.default.kbe' | translate
          }}</span>
          <span class="body-info-secondary">{{ requisites?.kbe }}</span>
        </div>
        <div class="body-info" *ngIf="requisites?.currency">
          <span class="body-info-main">{{
            'default.currency' | translate
          }}</span>
          <span class="body-info-secondary">{{ requisites.currency }}</span>
        </div>
        <div class="body-info">
          <span class="body-info-main"
            >{{ 'operations.payments.bic' | translate }}
          </span>
          <span class="body-info-secondary">{{ requisites?.bic }}</span>
        </div>
      </ng-template>
      <ng-template [ngIf]="isRequestError">
        <div class="alert alert-danger alert-params" role="alert">
          <span>
            <img src="./assets/icons/ic_status_error.svg" alt="" />
          </span>
          {{ error }}
        </div>
      </ng-template>
    </div>
    <ng-template [ngIf]="!isRequestError">
      <div class="modal-footer">
        <ng-template
          [ngIf]="
            type === 'account' || type === 'card' || type === 'card-account'
          ">
          <ob-button
            [label]="'default.download' | translate"
            [className]="'btn height-medium br-12 p-24 mr-24'"
            [onClick]="type === 'account' ? convetToPDF : getCardRequisites"
            [loading]="loading"
            [disabled]="loading"></ob-button>
        </ng-template>
        <ob-button
          [label]="'default.copy' | translate"
          [className]="'btn btn-outline-green height-medium br-12 p-24 mr-24'"
          [onClick]="copy"></ob-button>
        <ob-button
          [label]="'default.sendToMail' | translate"
          [className]="'btn btn-outline-green height-medium br-12 p-24 mr-24'"
          [onClick]="openMail">
        </ob-button>
      </div>
    </ng-template>
  </ob-loader>
</div>
